$radius: 8px;

//버튼 공통
@mixin btnCommon {
  position: relative;
  display: inline-grid;
  justify-content: center;
  align-items: center;
  letter-spacing: -.025em;
  line-height: normal;
  max-width: 100%;  
  border-radius: $radius;  
  text-decoration: none;
  vertical-align: middle;
  font-weight: 700;
  outline: none;
  border: none;
  padding:0 20px;
  cursor: pointer;
}
@mixin btntype($btnFontSize,$btnBorder,$btnBGColor,$btnColor,$radius, $btnHoverColor,$btnHoverFtColor, $btnHoverBorderColor) {  
  font-size: $btnFontSize;
  border: 1px solid $btnBorder;
  color: $btnColor;
  background-color: $btnBGColor;
  border-radius: $radius;
  &:hover,
  &:focus,
  &:active,    
  &.active:focus, 
  &:active:hover{
    background-color: $btnHoverColor;
    color: $btnHoverFtColor;
    border: 1px solid $btnHoverBorderColor;
    text-decoration: none;    
  }
}

@mixin btnSize($btnFontSize,$btnPadding) { 
  font-size: $btnFontSize;
  padding: $btnPadding;
}

.button__wrap {
  position: relative;
  padding:32px 0 0;
  gap: 8px;
  display:flex;
  align-items:center;
  justify-content:center;
  &:last-child {
    padding-bottom:0;
  }
  &.flex-end {
    justify-content: flex-end;
  }
}

.btn {
  @include btnCommon;  
  min-width: 126px;
  height: 48px;
  line-height: 24px;  
  padding:0 48px; 
  &.search {
    font-size: 14px;
    font-weight: 700;
    width: 74px;
    height: 42px;
    color:#fff;
    background-color:#717883
  }
  &.medium {
    height: 36px;
    width: 90px;
    font-size: 14px;
    padding:0 42px; 
    padding:0 32px; 
  }
  &.small {
    height: 28px;
    padding: 0 12x;
    min-width: 50px;
    font-size: 14px;
    font-weight: 500;
    width:auto;
  } 
}


//button List
.btn-blue {
  @include btntype(16px, $pointColor, $pointColor,#fff, 8px, #2855A7,#fff, #2855A7);
  &:disabled {
    background-color:#ccc;
    border-color:#ccc;
    &:hover, &:active {
      background-color:#ccc;
      border-color:#ccc;
    }
  }      
}
.btn-blue-line {
  @include btntype(16px,$pointColor,#fff,$pointColor, 8px,  #fff, #2855A7, #2855A7);               
  &:disabled {
    color:#ccc;
    border-color:#ccc;
    &:hover, &:active {
      color:#ccc;
      border-color:#ccc;
    }
  }            
}
.btn-line {
  @include btntype(16px,#999,#fff,#999, 8px,  #fff,#777, #777);       
  &:disabled {
    color:#ccc;
    border-color:#ccc;
    &:hover, &:active {
      color:#ccc;
      border-color:#ccc;
    }
  }  
}

.btn-search {
  @include btntype(14px, #717883, #717883,#fff, 8px, #717883,#fff, #717883);   
  line-height: 42px;
  min-width: auto;
  height: 42px;
  padding:0 23px;
  &:disabled {
    color:#aaa;
    border-color:#ccc;
    background-color: #eaeaea;
  }
}

.btn-default-line {
  @include btntype(14px,#4A5567,#fff,#4A5567,8px,  #fff,#4A5567, #4A5567);  
  line-height: 42px;
  min-width: auto;
  height: 42px;
  padding:0 23px;
  cursor: pointer;
  &.small {
    height: 42px;
  }
  &.inactive {
    color:#999;
    border-color:#999;
  }
}

$iconBsUrl: '../assets/images/icon/';

.btn-only-icon {
  min-width:auto;
  height:auto;
  line-height:1;
  padding:0;
}
//icon List
.icon-eye {
  width: 22px;
  height:18px;
  background-image: url('#{$iconBsUrl}icon_eye.png');
  background-repeat: no-repeat;
  background-position: center;
  &.blue{
    background-image: url('#{$iconBsUrl}icon_eye_blue.png');
  }
}
.icon-tooltip {
  width: 16px;
  height: 16px;
  background-image: url('#{$iconBsUrl}icon_question.png');
  background-size: 100%;
} 

@media #{$phone} {
  .button__wrap {
    padding: 24px 0 0;
    gap: 6px;
  }
  .btn {
    height: 45px;
    padding:0 12px;
  }
  .btn-search {
    height: 45px;
    line-height: 45px;
  }

  .icon-eye {
    width: 21px;
    height: 21px;
    background-image: url('#{$iconBsUrl}icon_eye_mo.png');
    background-size: 100%;
    &.blue{
      width: 21px;
      height: 21px;
      background-image: url('#{$iconBsUrl}icon_eye_blue_mo.png');
      background-size: 100%;
    }  
  }
}
