//폼 공통요소
$inputHeight: 42px;
$font-tsize: 16px;
$inputColor: #fafafa;
$bordersColor: #DDDDDD;
$textareaHeight: 100px;

@mixin inputBasic {  
    background-color: #fff;    
    border-radius: 8px;
    border: 1px solid $bordersColor;    
    color: #000;
    display: inline-block;
    font-size: $font-tsize;
    height: $inputHeight;
    line-height: $inputHeight;    
    padding: 0 16px;    
    width: 100%;
    &::placeholder {
      color: #999
    }
    &:focus {
      border-color:#4a5567;
      outline:none;
    }
    &:disabled {
      background-color:#f4f4f4;
      border-color:$bordersColor;
      cursor:not-allowed;
    }
}

@mixin textareaBasic {
  resize: none;  
  background-color: #fff;    
  color: #000;
  display: inline-block;
  font-size: $font-tsize;
  height: $textareaHeight;
  line-height: inherit;
  width: 100%;
  overflow-y: auto;
  font-family:$font-family;
  &::placeholder {
    @include fontoption(16px,#999,400,26px);
    margin-top: 8px;
  }
  &:focus {
    outline: none;
  }
}

.input {
  input {
    @include inputBasic;
  }
  &.search {
    position:relative;
    &::after {
      content:'';
      display:inline-block;
      width:24px;
      height: 24px;
      background: url('../assets/images/icon/icon_search.png') no-repeat 50% 50%;
      position:absolute;
      right:16px;
      top:50%;
      margin-top: -12px;
    }
    input {
      padding-right:40px;

    }
  }
}
.input-m {
  input {
    @include inputBasic;
    &:disabled {
      background-color:#f4f4f4;
      color:#999;
      border-color:#ddd;
      cursor:not-allowed;
    }
  }
}
//check box
//input 은 숨겨주기
//checkbox 는 .checkbox 클래스명의 엘리먼트안에 input 관 label 로 구현
//디자인 구현시 이미지 사용 여부등 결정
.checkbox {
  input[type=checkbox] {
    @include hiddens;
  }
  input[type=checkbox] + label {
    cursor: pointer;
    position: relative;
    display:inline-flex;
    align-items:center;
    &:before{
      content:"";
      display:inline-block;
      width:20px;
      height:20px;
      line-height:17px;
      border:1px solid #000;
      vertical-align:middle;
      background:#fff;
      margin-right:10px;
      position: relative;
      top:1px;
      border-radius:4px;
    }    
  } 
  input[type=checkbox]:checked + label {
    &:before {
      background:url('../assets/images/cmp/checkbox_active.png') 50% 50%;
      background-size: 24px;
      border:none;
    }
  }
  input[type=checkbox]:disabled + label {
    &:before {
      background:#f4f4f4;
      border:1px solid #ccc;
    }
  }
}
//radiobox
.radiobox {
  input[type=radio] {
    @include hiddens;
  }
  input[type=radio] + label {
    cursor: pointer;
    position:relative;
    display:inline-flex;
    align-items:center;
    
    &:before{
      content:"";
      display:inline-block;
      width:20px;
      height:20px;
      line-height:14px;
      border:1px solid #000;
      border-radius: 100%;
      vertical-align:middle;
      background:#fff;
      margin-right:10px;
      position:relative;
      top:1px;
    }   
  } 
  input[type=radio]:checked + label {
    &:before {
      background:url('../assets/images/cmp/radio_active.png') 50% 50%;
      background-size: 24px;
      border:none;
    }
  }
  input[type=radio]:disabled + label {
    &:before {
      background:#f4f4f4;
      border:1px solid #ccc;
    }
  }
}

.select {
  position:relative;
  display:inline-block;

  select {
    width: 100%;
    height: $inputHeight;
    -moz-appearance:none; 
    -webkit-appearance:none; 
    appearance:none;
    border:1px solid $bordersColor;
    padding:0 12px;
    color: #666;
    border-radius: 8px;
    padding:8px 40px 8px 16px;
    outline:none;
    color:#000;
  }
  select::-ms-expand {
    display:none;
  }
  &::after {
    content:'';
    display:inline-block;
    position: absolute;
    right:20px;
    top:50%;
    width: 8px; 
    height: 8px; 
    margin-top: -6px;
    border: 1px solid #888; 
    border-width: 2px 2px 0 0; 
    transform: rotate(135deg) translate(-50%, -50%);
  }
}

.dropdown {
  position: relative;
  min-width: 120px;
  &__trigger {
    display:inline-flex;
    align-items:center;
    justify-content:space-between;
    position:relative;
    border:1px solid $bordersColor;
    padding:0 12px;
    color: #666;
    border-radius: 8px;
    padding:8px 24px 8px 16px;
    color:#000;
    height:$inputHeight;
    width:100%;
    &::after {
      content:'';
      display:inline-block;
      width: 10px; 
      height: 10px; 
      position:relative;
      top:-1px;
      border: 1px solid #888; 
      border-width: 2px 2px 0 0; 
      transform: rotate(135deg) translate(-50%, -50%);
    }
  }
  &__menu {
    position: absolute;
    left:0;
    top:$inputHeight;
    background-color:#fff;
    width:100%;
    border:1px solid #4A5567;
    border-width:0 1px 1px 1px;
    border-radius:0 0 8px 8px;
    z-index:10;
    overflow:hidden;
    li {
      padding:8px 16px;
      line-height: 26px;
      cursor: pointer;
      &:hover {
        background-color:#F4F4F4;
      }
    }
    .search__area {
      padding:8px 16px;
    }
  }
  &.open {
    .dropdown__trigger {
      border-color: #4A5567;
      border-radius:8px 8px 0 0;
      &::after {
        top: 4px;
        transform: rotate(-45deg) translate(50%, 50%);
      }
    }
  
  }
}

form {
  +.page-title__wrap {
    margin-top: 60px;
  }
}


$formLabelWidth : 120px;
.form-list {
  .form-item {
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    position: relative;
    margin-bottom:24px;
    + .form-item {
      margin-top: 30px;
    }
    &__label {
      flex:0 0 $formLabelWidth;
    }
    &__content {
      flex: auto;
      display:flex;
      .input {
        flex: auto;
      }
      .btn__certi {
        flex:0 0 160px;
        margin-left:10px;
      }
    }
  }
}

.form-table {
  th {
    text-align: left;
    border-bottom: 1px solid #F0F0F0;          
    @include fontoption(16px,#000,500,26px);
    vertical-align: top;     
    padding:28px 0 28px 16px;        
  }
  td {
      border-bottom: 1px solid #F0F0F0;
      padding-right:20px;
      input::placeholder {
          font-size: 16px;
          line-height: 26px; 
          color: #999999;
      }
  }
  .form-item__label {
    @include fontoption(16px,#000,500,26px);
    &.required:after {
      content:'*';
      color: $pointColor;
      position: relative;
      top: -1px;
      left:2px;
    }
  }
  .form-item__content {
    .form-item-row {
      display:flex;
      flex-wrap:wrap;
      align-items:center;
      + .form-item-row {
        margin-top:10px;
      }
      +.align--top {
        align-items: flex-start;
      }
    }
  }
  .input-item {
    width: 100%;
    display:flex;
    align-items:center;
    gap: 10px;
    position: relative;
    &.justify {
      justify-content:space-between;
    }
    &.w--half {
      width: 50%;
      padding:0 5px;
      &:first-child {
        padding-left:0;
      }
      &:last-child {
        padding-right:0;
      }
    }
    .input {
      flex:auto;
      input {
        flex: 1;
      }
    }
  }
  .btn-default-line {
    min-width:100px;
    &.small {
      min-width: 74px;
    }
  }
}

.guide-text {
  margin-top:8px;
  width: 100%;
  @include fontoption(14px,#2F77FB,400,24px);   
  +.guide-text {
    margin-top: 4px;
  }
  &.black {
      color: #000;
  }
  &.validation {
      margin:10px 0 0;
      display:flex;
      align-items:flex-start;
    &:before {
      content:'';
      display:inline-block;
      min-width:16px;
      height: 16px;
      position:relative;
      top:4px;
      background-image: url('../assets/images/icon/icon_validation_check.png');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 100%;
      margin-right:4px; 
    }   
  }
  &.error {
    @include fontoption(14px,#FF4830,400,24px);    
    display:flex;
    align-items:flex-start;
    &:before {
      content:'';
      display:inline-block;
      min-width:16px;
      height: 16px;
      position:relative;
      top:4px;
      background-image: url('../assets/images/icon/icon_exclamation_circle.png');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 100%;
      margin-right:4px;
    }
  }
}

.search-table {
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom: 16px;
  .ctrl {
    display:flex;
    align-items:center;
    gap: 8px;
    width: 100%;
  }
  .select {
    width: 120px;
    select {
      font-size: 16px;
    }
  }
  .input {
    display: block;
    width: 240px;
    font-size: 16px;
  }
  .input-m {
    display: none;
  }
  .btn {
    width: 74px;
  }
  .list-number {
    font-size: 14px;
    white-space:nowrap
  }
}

.textarea {
  flex:auto;
  padding: 8px 16px 34px 16px;
  border-radius: 8px;
  border: 1px solid $bordersColor;
  position: relative;
  overflow:hidden;
  textarea {
    @include textareaBasic;
    flex: 1;
    height: 172px;
    width: 100%;
    border: none
  }
  .textarea-limit__text{
    @include fontoption(16px,#000,400,26px);
    position: absolute;
    text-align: end;
    width:calc(100% - 32px);
    bottom:8px;
    box-sizing: border-box;
  }
}

@media #{$phone} {
  $inputHeight: 45px;
  @mixin inputBasicM {  
    background-color: #fff;    
    border-radius: 8px;
    border: 1px solid $bordersColor;    
    display: inline-block;
    font-size: 14px;
    height: $inputHeight;
    line-height: $inputHeight;    
    padding: 0 12px;    
    width: 100%;
    &::placeholder {
      @include fontoption(16px,#999,400,26px);      
    }
    &:disabled, 
    &:read-only {
      cursor:default
    }
  }

  .input {
    input {
      @include inputBasicM;
    }
  }

  .dropdown {
    min-width: 80px;
    &__trigger {
      height: $inputHeight;
      padding:12px 20px 12px 10px;
      font-size: 14px;
      &:after {
        width: 8px;
        height: 8px;
      }
    }
    &__menu {
      top: $inputHeight;
      li {
        padding:8px 10px;
        font-size: 14px;
      }
    }
    
  }
  .search-table {
    margin-bottom: 8px;
    flex-direction: column;
    align-items: flex-start;
    .input {
      display: none;
    }
    .input-m {
      display: block;
      width: auto;
      flex: auto;
      input {
        height: 45px;
        font-size: 14px;
      }
      
    }
    .btn {
      flex-shrink: 0;
      width: 74px;
    }
    .list-number {
      margin-top: 24px;
      width: 100%;
    }
  }
  .guide-text {
    &.validation {
      &:before {
        content:'';
        top:2px;
      }   
    }
    &.error {
      &:before {
        content:'';
        top:2px;
        
      }
    }
  }
  
}
