//폼 공통요소
$inputHeight: 36px;
$font-tsize: 14px;
$inputColor: #fafafa;
$bordersColor: #DDDDDD;
$textareaHeight: 100px;

@mixin inputBasic {  
    background-color: #fff;    
    border-radius: 8px;
    border: 1px solid $bordersColor;    
    color: #000;
    display: inline-block;
    font-size: $font-tsize;
    height: $inputHeight;
    line-height: $defaultLineHeight;    
    padding: 0 16px;    
    width: 100%;
    &::placeholder {
      color: #999;
    }
    &:focus {
      border-color:$pointColor;
      outline:none;
    }
    &:disabled {
      background-color:#f4f4f4;
      border-color:$bordersColor;
      cursor:not-allowed;
    }
}

@mixin textareaBasic {
  resize: none;  
  background-color: #fff;    
  color: #000;
  display: inline-block;
  font-size: $font-tsize;
  height: $textareaHeight;
  line-height: inherit;
  width: 100%;
  overflow-y: auto;
  font-family:$font-family;
  &::placeholder {
    color: #999;
    margin-top: 8px;
  }
  &:focus {
    outline: none;
  }
}

.input {
  input {
    @include inputBasic;
    &:disabled {
      +.input-limit__text {
        color: #999;
      }
    }
  }
  &.search {
    position:relative;
    &::after {
      content:'';
      display:inline-block;
      width:20px;
      height: 20px;
      background: url('../assets/images/icon/icon_search.png') no-repeat 50% 50%;
      position:absolute;
      right:16px;
      top:50%;
      margin-top: -10px;
    }
    input {
      padding-right:40px;

    }
  }
}
.input-m {
  input {
    @include inputBasic;
    &:disabled {
      background-color:#f4f4f4;
      color:#999;
      border-color:#ddd;
      cursor:not-allowed;
    }
  }
}

.input-limit{
  position: relative;
  input{
    padding: 0 64px 0 16px;
  }
  .input-limit__text{
    position: absolute;
    right: 16px;
    top:50%;
    transform: translateY(-50%);
  }
}

.textarea {
  flex:auto;
  padding: 8px 16px 34px 16px;
  border-radius: 8px;
  border: 1px solid $bordersColor;
  position: relative;
  overflow:hidden;
  background-color: #fff;
  &.disabled {
    background-color:#f4f4f4;
    color:#999;
    cursor:not-allowed;
    border-color:#ddd
  }
  textarea {
    @include textareaBasic;
    flex: 1;
    height: 172px;
    width: 100%;
    border: none;
    &:disabled {
      background-color:#f4f4f4;
      color:#999;
      +.textarea-limit__text {
        color: #999;
      }
    }

  }
  .textarea-limit__text{
    position: absolute;
    text-align: end;
    width:calc(100% - 32px);
    bottom:8px;
    box-sizing: border-box;
  }
    /* textarea scroll custom */
    textarea::-webkit-scrollbar {
      width: 3px;
    }
    textarea::-webkit-scrollbar-button:decrement,.textarea textarea::-webkit-scrollbar-button:end:increment {
      display: block;
      height: 0;
    }
    textarea::-webkit-scrollbar-track {
      background: #dedede
    }
    textarea::-webkit-scrollbar-thumb {
      height: 20px;
      width: 3px;
      background: #6f6f6f;
    }
    /* //textarea scroll custom */
}
//check box
//input 은 숨겨주기
//checkbox 는 .checkbox 클래스명의 엘리먼트안에 input 관 label 로 구현
//디자인 구현시 이미지 사용 여부등 결정
.checkbox {
  input[type=checkbox] {
    @include hiddens;
  }
  input[type=checkbox] + label {
    cursor: pointer;
    position: relative;
    display:inline-flex;
    align-items:flex-start;
    line-height:26px;
    &:before{
      content:"";
      display:inline-block;
      width:20px;
      min-width:20px;
      height:20px;
      line-height:17px;
      border:1px solid #000;
      vertical-align:middle;
      background:#fff;
      margin-right:10px;
      position: relative;
      top:3px;
      border-radius:4px;
    }    
  } 
  input[type=checkbox]:checked + label {
    &:before {
      background:url('../assets/images/cmp/checkbox_active.png') 50% 50%;
      background-size: 24px;
      border:none;
    }
  }
  input[type=checkbox]:disabled + label {
    &:before {
      background:#f4f4f4;
      border:1px solid #ccc;
    }
  }
  input[type=checkbox]:checked:disabled + label {
    color: #999;
    &:before {
      background:url('../assets/images/cmp/checkbox_active.png') 50% 50%;
      background-size: 24px;
      border:none;
    }
  }  
}
//radiobox
.radiobox {
  input[type=radio] {
    @include hiddens;
  }
  input[type=radio] + label {
    cursor: pointer;
    position:relative;
    display:inline-flex;
    align-items:center;
    
    &:before{
      content:"";
      display:inline-block;
      width:20px;
      min-width:20px;
      height:20px;
      line-height:14px;
      border:1px solid #000;
      border-radius: 100%;
      vertical-align:middle;
      background:#fff;
      margin-right:10px;
      position:relative;
      top:1px;
    }   
  } 
  input[type=radio]:checked + label {
    &:before {
      background:url('../assets/images/cmp/radio_active.png') 50% 50%;
      background-size: 24px;
      border:none;
    }
  }
  input[type=radio]:disabled + label {
    color: #999;
    &:before {
      background:#f4f4f4;
      border:1px solid #ccc;
    }
  }
}

.select {
  position:relative;
  display:inline-block;

  select {
    width: 100%;
    height: $inputHeight;
    -moz-appearance:none; 
    -webkit-appearance:none; 
    appearance:none;
    border:1px solid $bordersColor;
    padding:0 12px;
    color: #666;
    border-radius: 8px;
    padding:8px 40px 8px 16px;
    outline:none;
    color:#000;
  }
  select::-ms-expand {
    display:none;
  }
  &::after {
    content:'';
    display:inline-block;
    position: absolute;
    right:20px;
    top:50%;
    width: 8px; 
    height: 8px; 
    margin-top: -6px;
    border: 1px solid #888; 
    border-width: 2px 2px 0 0; 
    transform: rotate(135deg) translate(-50%, -50%);
  }
}

.dropdown {
  position: relative;
  min-width: 120px;
  &__trigger {
    display:inline-flex;
    align-items:center;
    justify-content:space-between;
    position:relative;
    border:1px solid $bordersColor;
    padding:0 12px;
    color: #666;
    border-radius: 8px;
    padding:8px 24px 8px 16px;
    color:#000;
    height:$inputHeight;
    width:100%;
    &::after {
      content:'';
      display:inline-block;
      width: 10px; 
      height: 10px; 
      position:relative;
      top:-1px;
      border: 1px solid #888; 
      border-width: 2px 2px 0 0; 
      transform: rotate(135deg) translate(-50%, -50%);
    }
  }
  &.disabled {
    .dropdown__trigger {
      background-color:#f4f4f4;
      color:#999;
      border-color:#ddd;
      cursor:not-allowed;
    }
  }
  &__menu {
    position: absolute;
    left:0;
    top:$inputHeight;
    background-color:#fff;
    width:100%;
    border:1px solid #4A5567;
    border-width:0 1px 1px 1px;
    border-radius:0 0 8px 8px;
    z-index:10;
    overflow:hidden;
    li {
      padding:8px 16px;
      line-height: 26px;
      white-space: nowrap;
      cursor: pointer;
      &:hover {
        background-color:#F4F4F4;
      }
    }
    .search__area {
      padding:8px 16px;
    }
  }
  &.open {
    .dropdown__trigger {
      border-color: #4A5567;
      border-radius:8px 8px 0 0;
      &::after {
        top: 4px;
        transform: rotate(-45deg) translate(50%, 50%);
      }
    }
  
  }
}
// dropdown 옆에 붙어있는 search input
.dropdown-search__wrap{
  display: flex;
  border: 1px solid #ddd;
  border-radius: 8px;
  .dropdown{
      .dropdown__trigger{
        border-color: transparent;
        border-radius: 0;
          &::before{
              content: '';
              position: absolute;
              width: 1px;
              height: 12px;
              background-color: #ddd;
              display: inline-block;
              right: 0;
          }
      }
      &.open{
          .dropdown__trigger{
              border-color: #4a5567;
              border-radius: 8px 8px 0 0;
              &::before{
                display: none;
              }
          }
      }
  }
  .input{
      input{
          border: 0;
      }
  }
  .search-area{
    width: 100%;
  }
}
.switch {
  &__core {
    display: inline-block;
    width:46px;
    height: 24px;
    border-radius: 12px;
    position:relative;
    background-color:#CCCCCC;
    cursor:pointer;
    &:after {
      content:'';
      display:inline-block;
      width:20px;
      height: 20px;
      border-radius: 100%;
      background-color:#fff;
      position:absolute;
      left:2px;
      top:2px;
      transition:all 200ms linear;
    }
  }
  input[type="checkbox"] {
    @include hiddens;
    &:checked {
      +.switch__core {
        background-color:$pointColor;
        &:after {
          left:24px;
        }
      }
    }
  }
}
// element ui datapicker custom  
.el-picker-panel {
  border-radius: 12px;
  width:328px;
  &.el-date-range-picker {
    width:632px;
  } 
  .popper__arrow {
    display: none;
  }
  .el-picker-panel__content {
    padding: 0 24px 18px;
    margin:0;
    width:328px;
    &.is-left {
      width: 306px;
      border: none;
      padding: 24px 12px 18px 24px;
    }
    &.is-right {
      width: 306px;
      padding: 24px 24px 18px 12px;
    }
    
  }
  .el-date-range-picker__header{
    height: 40px;
    position:relative;
  }
  .el-date-picker__header{
    height: 40px;
    position:relative;
    margin:24px 24px 0 24px;
    .el-date-picker__header-label {
      color: #0A0A0A;
      font-size: 18px;
      line-height: 38px;
      margin:0;
      text-align:center;
      font-weight: 700;
    }
  }
  .el-picker-panel__icon-btn {
    float: none;
    margin-top: 0;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -12px;
    width: 24px;
    height: 24px;
    text-align:center;
    &.el-icon-arrow-right {
      right:0;
      left: auto;
    }
    &:before {
      font-size:16px;
      color: #555555;
      font-weight: 700;
      line-height:24px;
    }
  }
  .el-icon-d-arrow-left {
    display: none;
  }
  .el-icon-d-arrow-right {
    display: none;
  }
  > div {
    color: #0A0A0A;
    font-size: 18px;
    line-height: 38px;
    margin:0;
    text-align:center;
    font-weight: 700;
  }
  .el-date-table {
    th {
      color: #0a0a0a;
      font-size: 14px;
      font-weight: 700;
      border-color: #F0F0F0;
      &:first-child, &:last-child {
        color: #FF3B30;
      }
    }
    td {
      color: #0a0a0a;
      font-size: 14px;
      padding:0;
      height: 40px;
      width: 40px;
      > div {
        padding:0;
        height: 40px;
      }
      span {
        width: 40px;
        height: 40px;
        line-height: 40px;
      }
      &:first-child, &:last-child {
        color: #FF3B30;
      }
      &.start-date {
        div {
          border-radius:40px 0 0 40px;
        }
        span {
          background-color:#000000;
        }
      }
      &.end-date {
        div {
          border-radius:0 40px 40px 0;
        }
        span {
          background-color: $pointColor;
        }
      }
      &.prev-month, &.next-month {
        span {
          opacity: 0.5;
        }
      }
      &.in-range {
        div {
          background-color: #F8F8F8;
        }
      }
      &.today {
        span {
          color: $pointColor;
        }
        
      }
      &.available:hover {
        color: $pointColor;
      }
    }
  }
}
.el-date-editor {
  position: relative;
  &.w--full {
    width: 100%;
  }
  .el-input__inner {
    height: 36px;
    line-height: 34px;
    text-align:left;
    padding-left: 16px;
  }
  &.el-input__inner {
    width: 250px;
    height: $inputHeight;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 4px 40px 4px 16px;
    .el-range-input {
      flex: 1;
      text-align:left;
      &::placeholder {
        color:#999;
      }
    }
    .el-range-separator {
      padding:0;
      flex-shrink: 0;
      width:12px;
      line-height: 26px;
    }
    
  }
  .el-input__prefix {
    left:auto;
    right:0;
  }
  .el-icon-date {
    position:absolute;
    right:16px;
    left: auto; 
    top:50%;
    margin-top:- 10px;
    width: 20px;
    height: 20px;
    background: url('../assets/images/icon/icon_date.png') no-repeat 50% 50%;
    &:before {
      display:none;
    }
    &:after {
      display: none;
    }
  }
  .el-input__suffix {
    right:36px;
  }
  .el-range__close-icon {
    line-height:26px;
  }
}

$formLabelWidth : 120px;
.form-list {
  .form-item {
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    position: relative;
    margin-bottom:24px;
    + .form-item {
      margin-top: 30px;
    }
    &__label {
      flex:0 0 $formLabelWidth;
    }
    &__content {
      flex: auto;
      display:flex;
      .input {
        flex: auto;
      }
      .btn__certi {
        flex:0 0 160px;
        margin-left:10px;
      }
    }
  }
}

.form-table {
  th {
    text-align: left;
    border-bottom: 1px solid #F0F0F0;          
    @include fontoption(16px,#000,500,28px);
    vertical-align: top;     
    padding:28px 0 28px 16px;        
  }
  td {
      border-bottom: 1px solid #F0F0F0;
      padding-right:20px;
      input::placeholder {
          color: #999999;
      }
      .text {
        white-space: normal
      }
  }
  .form-item__label {
    @include fontoption(16px,#000,500,28px);
    &.required:after {
      content:'*';
      color: $pointColor;
      position: relative;
      top: -1px;
      left:2px;
    }
  }
  .form-item__content {
    +.form-item__content  {
      margin-top: 20px;
    }
    .form-item-row {
      display:flex;
      flex-wrap:wrap;
      align-items:center;
      + .form-item-row {
        margin-top:10px;
      }
      +.align--top {
        align-items: flex-start;
      }
      &.no-wrap {
        flex-wrap:nowrap
      }
    }
  }
  .input-item {
    display:flex;
    align-items:center;
    gap: 10px;
    position: relative;
    flex: auto;
    &.w--full {
      width: 100%;
    }
    &.justify {
      justify-content:space-between;
    }
    &.w--half {
      width: 50%;
      padding:0 5px;
      &:first-child {
        padding-left:0;
      }
      &:last-child {
        padding-right:0;
      }
    }
    & + .input-item {
      margin-top: 12px;
    }
    .input {
      flex:auto;
      input {
        flex: 1;
      }
    }
    .dropdown {
      width:100%;
    }
    input[type='file'] {
      position: absolute;
      width: calc(100% - 110px);
      left:0;
      top:0;
      opacity: 0;
      height: 100%;
      border-radius: 8px;
    }
    &.post {
        width:50%;
        padding-right: 5px;
        input {
            background-color: #F4F4F4;
        }
    }
    &.address {
        gap:10px;
        input {
            background-color: #F4F4F4;
        }                    
    }
    &.check-list {
      flex-wrap: wrap;
      gap: 0;
      margin:-10px 0;
      .checkbox {
        display: inline-block;
        margin:10px 0;
        width: 33.3%;
      }
    }
  }
  .btn-default-line {
    min-width:100px;
    &.small {
      min-width: 74px;
    }
  }
}

.guide-text {
  margin-top:8px;
  width: 100%;
  @include fontoption(12px,#2F77FB,400,22px);   
  &.black {
    color: #000;
  }
  &.validation {
    margin:10px 0 0;
    display:flex;
    align-items:flex-start;
    &:before {
      content:'';
      display:inline-block;
      min-width:16px;
      height: 16px;
      position:relative;
      top:4px;
      background-image: url('../assets/images/icon/icon_validation_check.png');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 100%;
      margin-right:4px; 
    }
  }
  &.error {
    color: $errorColor;
    display:flex;
    align-items:flex-start;
    &:before {
      content:'';
      display:inline-block;
      min-width:16px;
      height: 16px;
      position:relative;
      top:4px;
      background-image: url('../assets/images/icon/icon_exclamation_circle.png');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 100%;
      margin-right:4px;
    }
  }
  +.guide-text {
    margin-top: 2px;
  }
}

.search-table {
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom: 16px;
  .ctrl {
    display:flex;
    align-items:center;
    gap: 8px;
    width: 100%;
  }
  .select {
    width: 120px;
    select {
      font-size: 16px;
    }
  }
  .input {
    display: block;
    width: 240px;
    font-size: 16px;
  }
  .input-m {
    display: none;
  }
  .btn {
    width: 74px;
  }
  .list-number {
    white-space:nowrap
  }
}

// 테이블 상단 컨트롤 영역
.top-ctrl-area {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  .left-area {
    display:inline-flex;
    align-items: center;
    gap: 8px;
  }
  .search-area {
      display:flex;
      flex-wrap: wrap;
      gap: 8px;
      .input {
          flex: auto;
          max-width: 240px;
      }
  }
  .right-area {
      display:inline-flex;
      align-items:flex-end;
      justify-content: flex-end;
      gap: 8px;
      display: flex;
      align-items: center;
  }
  .pager {
      display:inline-flex;
      align-items:center;
      margin-left:4px;
      gap: 8px;
      a {
          display:inline-block;
          width: 32px;
          height:32px;
          text-align:center;
          font-size: 14px;
          color: #888;
          border-radius:4px;
          &.btn-prev {
          border:1px solid #EAEAEA;
          background:url('../assets/images/cmp/chevron_left.png') no-repeat 50% 50%;
          }
          &.btn-next {
          border:1px solid #EAEAEA;
          background:url('../assets/images/cmp/chevron_right.png') no-repeat 50% 50%;
          }
      }
  }
}

@media #{$phone} {
  $inputHeight: 45px;
  @mixin inputBasicM {  
    background-color: #fff;    
    border-radius: 8px;
    border: 1px solid $bordersColor;    
    display: inline-block;
    font-size: 14px;
    height: $inputHeight;
    line-height: $inputHeight;    
    padding: 0 12px;    
    width: 100%;
    &::placeholder {
      color: #999;     
    }
    &:disabled, 
    &:read-only {
      cursor:default
    }
  }

  .input {
    input {
      @include inputBasicM;
    }
  }

  .dropdown {
    min-width: 80px;
    &__trigger {
      height: $inputHeight;
      padding:12px 20px 12px 10px;
      font-size: 14px;
      &:after {
        width: 8px;
        height: 8px;
      }
    }
    &__menu {
      top: $inputHeight;
      li {
        padding:8px 10px;
        font-size: 14px;
      }
    }
    
  }
  .search-table {
    margin-bottom: 8px;
    flex-direction: column;
    align-items: flex-start;
    .input {
      display: none;
    }
    .input-m {
      display: block;
      width: auto;
      flex: auto;
      input {
        height: 45px;
        font-size: 14px;
      }
      
    }
    .btn {
      flex-shrink: 0;
      width: 74px;
    }
    .list-number {
      margin-top: 24px;
      width: 100%;
    }
  }
  .guide-text {
    &.validation {
      &:before {
        content:'';
        top:2px;
      }   
    }
    &.error {
      &:before {
        content:'';
        top:2px;
        
      }
    }
  }
  
}
