  //modal css
  body.modal-open {
    height:100%;
    overflow:hidden;
  }
  .overlay-mask {
    position: fixed;
    z-index: 24;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .1s ease;
  }

  .modal__content--inner {
    display:flex;
    flex-direction: column;
    width: 100%;
    height:auto;
    overflow: hidden;
    position: fixed;
    z-index: 30;
    top: 50%;
    left: 50%;
    // width: 500px;
    // height: 500px;
    transform: translate(-50%,-50%);
    .modal__content--header {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      // height:60px;
      .modal-title {
        font-size: 24px;
        font-weight: bold;
        color: #333;
      }  
    }

    .modal__content--body {
      height: calc(100% - 50px - 50px);
      position:relative;
      width: 100%;       
      overflow-y: scroll;
    }
    .modal__content--footer {
      height:48px;
      display: flex;
      align-content: center;
      justify-content: center;
      // background: #c9c8c8;
      margin-top:32px;
      .button__wrap {
        margin-top:0;
        padding-top:0;
        gap: 8px;
        width: 100%;
        button {
          flex:1;
          width:auto;
        }
      }
    }
    .modal-close {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 14px;
        font-weight: bold;
        color: #333;
        cursor: pointer;
    }    
  }

  .modal__content--inner {
    &.small-message__modal {
        max-width:403px;               
        padding:40px;  
        border-radius: 16px;
        background-color: #fff;    
        transition: opacity.3s ease;  
        @media #{$phone} {
          max-width: 90vw;
        }
        &.login-error {
          width: 100%;
          max-width: 410px;
          @media #{$phone} {
            max-width: 90vw;
          }              
          button {
            white-space: nowrap;
          }
        }
        .msg {
            text-align: center;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            color: #000000;
        }  
        .msg2 {
            margin-top: 16px;
            background: #F4F4F4;
            border-radius: 8px;
            text-align: center;
            padding:16px;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;                
            text-align: center;                
            color: #000000;                
        }   
        .modal__content--title {
          @include fontoption(28px,#000,700,36px);
          text-align: center;
        }     
        .modal__content--footer {
            background-color: #fff;     
            button {
              white-space: nowrap;
              &:only-child {
                flex: 0;
              }
            }           
        }
        .modal__content--body {
            height: calc(100% - 50px);
            overflow:hidden;
            //휴대폰 인증 모달 
            .phone-cert__title {
              @include fontoption(28px,#000,700,36px);
            }
            .phone-cert__msg {
              @include fontoption(16px,#000,400,28px);
              margin:32px 0 10px;
            }
            .phone-cert__number {
              padding:16px 0;
              background-color: #F4F4F4;
              border-radius: 8px;
              @include fontoption(18px,#000,400,38px);
            }
            .phone-cert__number-input {
              position: relative;
              margin: 32px 0 0;
              display: flex;
              justify-content: space-between;      
              gap: 8px;
              .input {
                width: 100%;
              }        
              .time {
                position: absolute;
                right:150px;
                top:10px;
                &.hide {
                  opacity: 0;
                }
                &.active {
                  color: #FF4830;
                }
              }
              .btn-gray-line {
                border: 1px solid #4A5567;
                background-color: #fff;
                white-space: nowrap;
                min-width: 129px;
                padding: 0 24px;
                height:42px;    
              }
            }          
        }
    }    
    &.Modalmax480 {
      max-width: 480px;
      .button__wrap {
        display: block;
        text-align: center;
        button {
          min-width: 129px;
          padding: 0 24px;
          margin:0 4px;
        }
      }
    }
    &.Max628 {
      max-width: 628px;
    }
  }
  .zipcode__modal {
    max-width:628px;               
    padding:40px;  
    border-radius: 16px;
    background-color: #fff;    
    transition: opacity.3s ease;  
    .modal__content--header {
      justify-content: center;
      margin-bottom: 32px;
      .modal-title {
        font-size: 28px;
        line-height: 36px;
      }
    }
    .modal__content--body {
      display:flex;
      flex-direction: column;
      gap: 32px;
      .table__wrap {
        height: 500px;        
        overflow-y: auto;
      }
    }
    .search-area {
      display:flex;
      flex-wrap: wrap;
      gap: 8px;
      .input {
        flex: auto;
      }
    }
    .guide-box {
      padding: 16px 24px;
      border-radius: 8px;
      background-color:#f9f9f9;
      .main-text {
        margin-bottom: 12px;
      }
      li {
        font-size: 14px;
        line-height: 26px;
        margin-top: 4px;
        .sm {
          display: inline-block;
          margin-left: 6px;
          color: #999;
        }
      }
    }
    .top-ctrl-area {
      display:flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
      .ctrl {
        display:inline-flex;
        align-items:center;
        justify-content: flex-end;
        gap: 24px;
        .pager {
          display:inline-flex;
          align-items:center;
          gap: 8px;
          a {
            display:inline-block;
            width: 32px;
            height:32px;
            text-align:center;
            font-size: 14px;
            color: #888;
            border-radius:4px;
            &.btn-prev {
              border:1px solid #EAEAEA;
              background:url('../assets/images/cmp/chevron_left.png') no-repeat 50% 50%;
            }
            &.btn-next {
              border:1px solid #EAEAEA;
              background:url('../assets/images/cmp/chevron_right.png') no-repeat 50% 50%;
            }
          }
        }
      }
    }
    .search-result__wrap {
      .table {
        tr {
          cursor: pointer;
        }
        .addr {
          p {
            display:flex;
            justify-content: flex-start;
            align-items: flex-start;
            &:before {
              content:'도로명';
              width: 54px;
              display: inline-block;
              font-size: 12px;
              font-weight: 500;
              border:1px solid #ddd;
              padding:2px 9px;
              border-radius: 20px;
              color: #999;
              margin-right: 8px;
            }
            &.place {
              margin-top: 8px;
              &:before {
                content:'지번';
              }
            }
          }
        }
        .zipcode {
          color:$pointColor;
        }
      }
      .result-none {
        display:flex;
        align-items: center;
        justify-content: center;
        color: #999;
        height: 140px;
      }
    }
    .detail-addr {
      &__wrap {
        border-top: 2px solid $pointColor
      }
      &__list {
        padding: 16px;
        border-bottom: 1px solid #f0f0f0;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        dt {
          flex: 0 0 100px; 
          font-weight: 500;
          margin:4px 0;
        }
        dd {
          width: calc(100% - 100px);
          padding-left: 12px;
          margin:4px 0;
        }
      }
      &__input {
        padding: 20px 16px;
        display: flex;
        align-items: center;
        gap: 12px;
        .item-label {
          flex: 0 0 100px; 
          font-weight: 500;
        }
        .input {
          flex: auto;
        }
      }
    }
    .modal__content--footer {
      .button__wrap {
        button {
          flex: none;
          width: 126px;
          white-space: nowrap;
        }
      }
    }
  }   


  //old css
  .modal__container {
    display:flex;
    flex-direction: column;
    .modal__content--header {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height:60px;
      .modal-title {
        font-size: 24px;
        font-weight: bold;
        color: #333;
      }  
    }
    .modal__content--inner {
      height:auto;
      overflow: hidden;
      position: fixed;
      z-index: 11;
      top: 50%;
      left: 50%;
      // width: 500px;
      // height: 500px;
      transform: translate(-50%,-50%);
    }
    .modal__content--body {
      height: calc(100% - 50px - 50px);
      position:relative;
      width: 100%;       
      overflow-y: scroll;
    }
    .modal__content--footer {
      height:48px;
      display: flex;
      align-content: center;
      justify-content: center;
      background: #c9c8c8;
      margin-top:32px;
      .button__wrap {
        margin-top:0;
        padding-top:0;
        gap: 8px;
        width: 100%;
        button {
          flex:1;
          width:auto;
        }
      }
    }
    .modal-close {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 14px;
        font-weight: bold;
        color: #333;
        cursor: pointer;
    }
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity .2s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }

  .modal__container {
    .modal__content--inner {
        &.small-message__modal {
            max-width:403px;               
            padding:40px;  
            border-radius: 16px;
            background-color: #fff;    
            transition: opacity.3s ease;  
            @media #{$phone} {
              max-width: 90vw;
            }
            &.login-error {
              width: 100%;
              max-width: 410px;
              @media #{$phone} {
                max-width: 90vw;
              }              
              button {
                white-space: nowrap;
              }
            }
            .msg {
                text-align: center;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                text-align: center;
                color: #000000;
            }  
            .msg2 {
                margin-top: 16px;
                background: #F4F4F4;
                border-radius: 8px;
                text-align: center;
                padding:16px;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 30px;                
                text-align: center;                
                color: #000000;                
            }        
            .modal__content--footer {
                background-color: #fff;     
                button {
                  &:only-child {
                    flex: 0;
                  }
                }           
            }
            .modal__content--body {
                height: calc(100% - 50px);
                overflow:hidden;
            }
        }    
    }
}

