  //modal css
  body.modal-open {
    height:100%;
    overflow:hidden;
  }
  .overlay-mask {
    position: fixed;
    z-index: 24;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .1s ease;
  }

  .modal__content--inner {
    display:flex;
    flex-direction: column;
    width: 100%;
    height:auto;
    max-height: calc(100% - 40px);
    overflow: hidden;
    position: fixed;
    z-index: 30;
    top: 50%;
    left: 50%;
    // width: 500px;
    // height: 500px;
    transform: translate(-50%,-50%);
    &.dublicate-chatroom {
      max-width: 880px;
      .modal__content--body {
        gap:0;
      }      
    }    
    .modal__content--header {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      // height:60px;
      .modal-title {
        font-size: 24px;
        font-weight: bold;
        color: #333;
      }  
    }

    .modal__content--body {
      height: calc(100% - 50px - 50px);
      position:relative;
      width: 100%;       
      // overflow-y: scroll;
    }
    .modal__content--footer {
      display: flex;
      align-content: center;
      justify-content: center;
      // background: #c9c8c8;
      .button__wrap {
        margin-top:0;
        gap: 8px;
        width: 100%;
        button {
          flex:1;
          width:auto;
        }
      }
    }
    .modal-close {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 14px;
        font-weight: bold;
        color: #333;
        cursor: pointer;
    }    
  }

  .modal__content--inner {
    &.small-message__modal {
        max-width:403px;               
        padding:40px;  
        border-radius: 16px;
        background-color: #fff;    
        transition: opacity .3s ease;  
        .form-item__content {
          margin-top:20px;
          .input {
            border: 1px solid #ccc;
            background-color: #fff;
            border-radius: 8px;
            border: 1px solid #DDDDDD;
            color: #000;
            font-size: 14px;
            height: 36px;
            line-height: 26px;
            padding: 0 16px;
            width: 100%;            
            input {
              border:0;
              width: 100%;
              height:100%;
            }
          }
        }
        &.Modalmax480 {
          max-width: 480px;
        }
        @media #{$phone} {
          max-width: 90vw;
        }
        &.login-error {
          width: 100%;
          max-width: 410px;
          @media #{$phone} {
            max-width: 90vw;
          }              
          button {
            white-space: nowrap;
          }
        }
        .msg {
            text-align: center;
            strong {
              @include fontoption(20px,#000,700,30px);
              margin-bottom: 8px;
            }
            &.election {
              .phone-cert__title {
                font-size: 20px;
                margin-bottom: 32px;
              }
              .phone-cert__msg {
                margin: 16px 0 0;
              }
            }
        }  
        .msg2 {
            margin-top: 16px;
            background: #F4F4F4;
            border-radius: 8px;
            text-align: center;
            padding:16px;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;                
            text-align: center;                
            color: #000000;                
        }   
        .modal__content--title {
          @include fontoption(28px,#000,700,36px);
          text-align: center;
        }     
        .modal__content--footer {
            background-color: #fff;     
            button {
              white-space: nowrap;
              &:only-child {
                flex: 0;
              }
            }           
        }
        .modal__content--body {
            height: calc(100% - 50px);
            overflow:hidden;
            //휴대폰 인증 모달 
            .phone-cert__title {
              @include fontoption(28px,#000,700,36px);
            }
            .phone-cert__msg {
              margin:32px 0 10px;
            }
            .phone-cert__number {
              padding:16px 0;
              background-color: #F4F4F4;
              border-radius: 8px;
            }
            .phone-cert__number-input {
              position: relative;
              margin: 32px 0 0;
              display: flex;
              justify-content: space-between;      
              gap: 8px;
              .input {
                width: 100%;
              }        
              .time {
                position: absolute;
                right:150px;
                top:5px;
                &.hide {
                  opacity: 0;
                }
                &.active {
                  color: #FF4830;
                }
              }
              .btn-gray-line {
                border: 1px solid #4A5567;
                background-color: #fff;
                white-space: nowrap;
                min-width: 129px;
                padding: 0 24px;
                height:42px;    
              }
            }          
        }
    }    
    &.Modalmax480 {
      max-width: 480px;
      .button__wrap {
        display: block;
        text-align: center;
        button {
          min-width: 129px;
          padding: 0 24px;
          margin:0 4px;
        }
      }
    }
    &.Max628 {
      max-width: 628px;
      .modal__content--footer {
        button {
          flex: none;
        }
      }
    }
    &.Max1080 {
      max-width: 1080px;
    }
  }
  .zipcode__modal {
    max-width:628px;               
    padding:40px;  
    border-radius: 16px;
    background-color: #fff;    
    transition: opacity .3s ease;  
    .modal__content--header {
      justify-content: center;
      margin-bottom: 32px;
      .modal-title {
        font-size: 28px;
        line-height: 36px;
      }
    }
    .modal__content--body {
      display:flex;
      flex-direction: column;
      gap: 32px;
      .top-notice {
        a {text-decoration: underline;}
      }
      .table__wrap {
        max-height: 406px;        
        overflow-y: auto;
        //스크롤 발생 시 table bottom 주기 위해
        border-bottom: 1px solid #f0f0f0;
        .table-list{
          tr{
            &:last-child{
              td{
              border: none;
                &.l-align {
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
    .search-area {
      display:flex;
      flex-wrap: wrap;
      gap: 8px;
      .input {
        flex: auto;
      }
    }
    .guide-box {
      padding: 16px 24px;
      border-radius: 8px;
      background-color:#f9f9f9;
      .main-text {
        margin-bottom: 12px;
      }
      li {
        font-size: 14px;
        line-height: 26px;
        margin-top: 4px;
        .sm {
          display: inline-block;
          margin-left: 6px;
          color: #999;
        }
      }
    }
    .search-result__wrap {
      .table {
        tr {
          cursor: pointer;
        }
        .addr {
          p {
            display:flex;
            justify-content: flex-start;
            align-items: flex-start;
            &:before {
              content:'도로명';
              width: 54px;
              display: inline-block;
              font-size: 12px;
              font-weight: 500;
              border:1px solid #ddd;
              padding:2px 9px;
              border-radius: 20px;
              color: #999;
              margin-right: 8px;
            }
            &.place {
              margin-top: 8px;
              &:before {
                content:'지번';
              }
            }
          }
        }
        .zipcode {
          color:$pointColor;
        }
      }
      .result-none {
        display:flex;
        align-items: center;
        justify-content: center;
        color: #999;
        height: 140px;
      }
    }
    .detail-addr {
      &__wrap {
        border-top: 2px solid #BCBCBC;
      }
      &__list {
        padding: 16px;
        border-bottom: 1px solid #f0f0f0;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        dt {
          flex: 0 0 100px; 
          font-weight: 500;
          margin:4px 0;
        }
        dd {
          width: calc(100% - 100px);
          padding-left: 12px;
          margin:4px 0;
        }
      }
      &__input {
        padding: 20px 16px;
        display: flex;
        align-items: center;
        gap: 12px;
        .item-label {
          flex: 0 0 100px; 
          font-weight: 500;
        }
        .input {
          flex: auto;
        }
      }
    }
    .modal__content--footer {
      margin-top:0;
      .button__wrap {
        button {
          flex: none;
          white-space: nowrap;
        }
      }
    }
}
  // 내 브랜드 관리 - 브랜드 운영관리
.modal-invite {
  display: flex;
  flex-direction: column;
  .modal__content {
    &--header {
      flex: 0 0 68px;
      margin-bottom: 0;
      padding-bottom: 32px;
    }
    &--body {
      flex: auto;
      display: flex;
      .search-result__wrap {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
    }
    &--footer {
      flex-shrink: 0;
      display:flex;
      flex-direction: column;
    }
  }
  .bottom-new--invite{
    margin-top: 32px;
    padding: 30px 0;
    text-align: center;
    background-color: #F8F8F8;
    border-radius: 8px;
    min-height: 152px;
  }
  .new-invite{
    margin-top: 32px;
    .new-mail{
      .new-email-del{
        display: flex;
        width: 100%;
        gap:8px;
        .input{
          flex: auto;
        }
      }
      .btn-blue-line{
        margin-top: 12px;
        min-width:74px;
        height: 42px;
      }
      .btn{
        padding: 0 24px;
      }
    }
  }   
}
.brand__modal {
  .brand-item {
    display:flex;
    align-items:center;
    justify-content: flex-start;
    gap: 12px;
    padding-left: 18px;
    .radiobox {
      width:20px;
      height: 20px;
    }
    .logo {
      display:inline-block;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background-color: #D9D9D9;
      margin-left:6px;
    }
  }
  .date {
    color:#000
  }
}

  


.modal__wrap {
  &.topPositon {
    .overlay-mask {
      z-index: 42;
    }
    .modal__content--inner {
      z-index: 43;
    }
  }
}
//툴팁 임시 위치
.tooltip-el {
  display: inline-block;
  margin-left:4px;
  position: relative;
  .btn-icon-tooltip {
    padding:0;
    background: url('../assets/images/icon/icon_question_small.png') no-repeat;
    border:0;
    border-radius: 0;
    width: 12px;
    height: 12px !important;
    border-radius: 0;
    min-width: auto;
    line-height: 12px;
   }
   .tool-tip__wrap {
    position: absolute; 
    opacity: 0;
    height:0;
    overflow: hidden;
    strong {
      @include fontoption(16px,#000,500,28px); 
      &+ul {
        margin-top:16px;
      }
    }
    ul {
      li {
        position: relative;
        padding-left: 8px;
        @include fontoption(12px,#000,400,20px); 
        &::before {
          content: '';
          display: block;
          position: absolute;
          width: 4px;
          height: 4px;
          left: 0px;
          top: 10px;          
          background: #000000;
          border-radius: 100px;
        }
        &+li {
          margin-top:8px;
        }
      }
    }
      &.default {    
        background: #FFFFFF;
        border-radius: 12px;
        border: 1px solid #EAEAEA;        
      }      
      &.active {
        opacity: 1;
        z-index: 10;
        top:35px;
        left:-70px;
        height:auto;
        overflow: visible;
        .message__innerbox {
          position: relative;
          padding: 20px 24px;        
          &::after {
            border-color: #fff transparent;
            border-style: solid;
            border-width: 0 6px 8px 6.5px;
            content: '';
            display: block;
            left: 68px;
            position: absolute;
            top: -7px;
            width: 0;
            z-index: 1;
          }          
          &::before {
            border-color: #EAEAEA transparent;
            border-style: solid;
            border-width: 0 6px 8px 6.5px;
            content: '';
            display: block;
            left: 68px;
            position: absolute;
            top: -8px;
            width: 0;
            z-index: 0;
          }
          //메시지 통계 툴팁
          .message__innerbox-each{
            h5{
              @include fontoption(12px,#000,700,24px); 
            }
            p{
              @include fontoption(12px,#000,400,24px); 
            }
            &+.message__innerbox-each{
              margin-top: 16px;
            }
          }
          &.safety-box{
            .safety-img{
              margin: 16px 0;
              text-align: center;
            }
          }     
        }      
      }
    }  
}
//대화방 등록 - 번호 선택
.select_phone{
  .top-ctrl-area{
    .search-area{
      .input{
        min-width: 322px;
      }
    }
  }  
  .modal__content--footer{
    flex-wrap: wrap;
  }
}
//대화방 등록 - 대량등록 결과
.large_result{
  .modal__content--header{
    margin-bottom: 16px;
    .modal-title{
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      span{
        color: $pointColor;
      }
    }
  }
  li{
    @include fontoption(12px,#000,400,22px);
    +li{
      margin-top: 2px;
    }
  }
  .btn_des{
    text-align: center;
    @include fontoption(16px,#000,500,28px);
  }
  .modal__content--body{
    gap: 16px;
  }
}
//대화방 메뉴 등록 - 브랜드 소식 연결 팝업
.select_menu{
  max-width: 1080px;
  .modal__content--body{
    .search__wrap{
      display: flex;
      flex-wrap: nowrap;
      gap: 32px;
      .search-result__wrap{
        flex: 1;
        .top-ctrl-area{
          .search-area{
            .input{
              min-width: 400px;
            }
          }
        }
        .table__wrap{
          min-height: 740px;
        }
      }
      .empty-emulator{
        background-color: #FCFCFC;
        border: 1px solid #EAEAEA;
        flex:0 0 360px;
        width: 360px;
        min-height: 740px;
        position:sticky;
        border-radius:16px;
        border:1px solid #eaeaea;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .feed-emulator__wrap{
        min-height: 740px;
      }
      .chat-emulator__wrap {
        position: static;
      }
    }
  }
  .modal__content--footer{
    flex-wrap: wrap;
  }
}
//기업 대시보드 모달창
.modal__content--inner {
  &.dashboard_modal{
    max-width:628px;               
    padding:48px 40px 40px 40px;  
    border-radius: 16px;
    background-color: #fff;    
    transition: opacity .3s ease;
    .modal__content--header{
      justify-content: center;
      margin-bottom: 32px;
    }
    .modal__content--body{
      display: flex;
      flex-direction: column;
      gap: 32px;
      .table__wrap {
        max-height: 500px;        
        overflow-y: auto;
        //스크롤 발생 시 table bottom 주기 위해
        border-bottom: 1px solid #f0f0f0;
        .table-list{
          tr{
            &:last-child{
              td{
              border: none;
                &.l-align {
                  text-align: left;
                }
              }
            }
          }
        }
      }
      h3{
        @include fontoption(28px,#000,700,36px);
        text-align: center;
        margin-bottom: 32px;
      }
      .safetymark_des{
        margin-top: 16px;
      }
      .top-notice--center{
        padding: 16px 24px;
        background-color: #F4F4F4;
        border-radius: 8px;
        text-align: center;
        h5{
        @include fontoption(12px,#000,700,24px);
        }
        &.invite-brand{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 24px;
          p{
            line-height: 24px;
          }
          .dropdown{
            min-width: 314px;
          }
        }
      }
      .result-none {
        display:flex;
        align-items: center;
        justify-content: center;
        color: #999;
        padding: 100px 0;
      }
      .textarea {
        textarea{
          height: 118px;
        }
      }
      .agency-num{
        color: $pointColor;
      }
      .remove-des{
        @include fontoption(12px,#000,400,22px);
        margin-top: 16px;
      }
    }
    .modal__content--footer{
      gap: 32px;
      flex-direction: column;
      .button__wrap{
        button{
          flex: 0 0 auto;
        }
      }
      .new-invite-box{
        display: flex;
        padding: 16px 24px;
        background-color: #F4F4F4;
        border-radius: 8px;
        text-align: center;
        background-color: #DCF2FF;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  &.brand-reject{
    .modal__content--body{
      gap: 16px;
    }
  }
  &.dashboard_small_modal{
    max-width:403px;               
    padding:48px 40px 40px 40px;  
    border-radius: 16px;
    background-color: #fff;    
    transition: opacity .3s ease; 
    p{
      text-align: center;
    }
    .invite_detail{
      margin-top: 16px;
      padding: 16px 24px;
      background-color: #f4f4f4;
      border-radius: 8px;
    }
  }
  .modal__content--footer{
    .button__wrap{
      button{
        flex: 0 0 auto;
      }
    }
  }
}
.charroom-confirm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  .top-notice--gray {
    p {
      text-align: left;
    }
  }
  .form-item-row {
    text-align: left;
  }
}
// 메일 추가 및 초대
.new-mail-box{
  .new-email-default{
    display: flex;
    gap: 8px;
    align-items: center;
    .new-email{
      flex: 1;
    }
  }
  
  .new-email-add{
    margin-bottom: 12px;
    .new-email-default{
      +.new-email-default{
        margin-top: 8px;
      }
    }
  }
}
