.step__wrap {        
    width: 100%;
    max-width: 898px;
    margin: 0px auto 38px;
    padding-top:4px;
    ol {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &.step--03 {
            li {
                &:before {
                    right: 110px;
                    left: -180px;
                }
            }
        }
    }
    li {
        position: relative;            
        list-style: none;
        text-align: center;
        @include fontoption(18px,#666666,500,28px);
        width: calc(100% / 4 );
        display: flex;
        justify-content: center; 
        span {
            white-space: nowrap;
        }           
        .step__inner {
            position: relative;
            width: 120px; 
            z-index: 5;                
            &::before {
                content: '';
                display:block;
                position: relative;
                width: 41px;
                height: 40px;                            
                margin: 0 auto;
                background-image: url('../assets/images/icon/icon_exclude_join_step.png');
                background-repeat: no-repeat;
                background-position: center center;
                z-index: 3;
                margin-bottom: 10px;
            }
        }
        &:nth-child(2) {
            &::before {
                content: '';
                display: block;
                position: absolute;
                left: -97px;
                right: 120px;
                z-index: 1;
                top:20px;            
                height:4px;
                background-color: #f5f5f5;                    
            }
        }
        &:nth-child(3) {
            &::before {
                content: '';
                display: block;
                position: absolute;
                left: -97px;
                right: 120px;
                z-index: 1;
                top:20px;            
                height:4px;
                background-color: #f5f5f5;                    
            }
        }  
        &:nth-child(4) {
            &::before {
                content: '';
                display: block;
                position: absolute;
                left: -97px;
                right: 120px;
                z-index: 1;
                top:20px;            
                height:4px;
                background-color: #f5f5f5;                    
            }
        }    
        &.end {
            color:#2855A7;
            .step__inner {
                &::before {
                    background-image: url('../assets/images/icon/icon_exclude_join_step_end.png');
                }
            }
            &::before {
                background-color: #2855A7;   
            }
        }   
        &.ing {
            color: #2F77FB;
            .step__inner {
                &::before {
                    background-image: url('../assets/images/icon/icon_exclude_join_step_ing.png');
                }
            }
            &::before {
                background-color: #2F77FB;   
            }
        }                              
    } 
    +.page-title__wrap {
        margin-top: 24px;
    }
}
.step-compt__wrap {
    text-align:center;
    padding:66px 0 72px;
    .title {
        font-size: 28px;
        font-weight: 500;
        line-height: 38px;
        margin-bottom: 16px;
    }
    .text {
        font-size: 18px;
        line-height: 28px;
    }
    +.button__wrap {
        padding-bottom:70px;
    }
}