@charset "UTF-8";

@bg-image-url: '../images/common/';
@mColor: #1b1b1b;
@sColor: #5a5a5a;
@bgColor: #f2f2f2;
@bdColor: #e6e6e6;
@pointColor: #2c398a;
@pointBgColor: #faf2f7;
@secondaray: #02b86b;

.bg(@color: #fff, @img: 'bg.png', @left: 0, @top: 0) {
  background: @color url('@{bg-image-url}@{img}') no-repeat @left @top;
}
.bg_color(@color: #fff) {
  background: @color;
}
.bg_rgba(@color: #fff, @alpha: 100%) {
  background-color: fade(@color, @alpha);
}
.bg_img(@img: 'bg.png', @left: 0, @top: 0) {
  background: url('@{bg-image-url}@{img}') no-repeat @left @top;
}
.bg_size(@img: 'bg.png', @left: 0, @top: 0, @wid: 100%, @hei: 100%) {
  background: url('@{bg-image-url}@{img}') no-repeat @left @top;
  -webkit-background-size: @wid @hei;
  -ms-background-size: @wid @hei;
  -moz-background-size: @wid @hei;
  -o-background-size: @wid @hei;
  background-size: @wid @hei;
}

.r_mp(@r_mp: 0) {
  margin: @r_mp;
  padding: @r_mp;
}
.r_li(@r_li: 0) {
  margin: @r_li;
  padding: @r_li;
  list-style-type: none;
}

.font(@px: 0, @rgb: #666, @bold:normal) {
  font-size: @px;
  color: @rgb;
  font-weight: @bold;
}
.fl(@font: NotoSansLight) {
  font-family: @font;
}
.fr(@font: NotoSansRegular) {
  font-family: @font;
}
.fm(@font: NotoSansMedium) {
  font-family: @font;
}

.lh(@lh: 1) {
  line-height: @lh;
}

.full(@full: 100%) {
  width: @full;
  height: @full;
  box-sizing: border-box;
}
.fullWidth(@fullWidth: 100%) {
  width: @fullWidth;
}
.height(@px: 10px) {
  height: @px;
  box-sizing: border-box;
}
.max_w(@maxw: 100%) {
  width: 100%;
  max-width: @maxw;
}
.max_h(@maxh: 100%) {
  height: 100%;
  max-height: @maxh;
}

.margin(@top: 0, @right: 0, @bottom: 0, @left: 0) {
  margin: @top @right @bottom @left;
}
.m_all(@all: 0) {
  margin: @all;
}
.m_top(@px: 0) {
  margin-top: @px;
}
.m_bottom(@px: 0) {
  margin-bottom: @px;
}
.m_left(@px: 0) {
  margin-left: @px;
}
.m_right(@px: 0) {
  margin-right: @px;
}
.m_basic(@top: 0, @right: 0) {
  margin: @top @right;
}
.m_auto(@wid: 100%) {
  width: @wid;
  margin: 0 auto;
}

.padding(@top: 0, @right: 0, @bottom: 0, @left: 0) {
  padding: @top @right @bottom @left;
}
.p_all(@all: 0) {
  padding: @all;
}
.p_top(@px: 0) {
  padding-top: @px;
}
.p_bottom(@px: 0) {
  padding-bottom: @px;
}
.p_left(@px: 0) {
  padding-left: @px;
}
.p_right(@px: 0) {
  padding-right: @px;
}
.p_basic(@top: 0, @right: 0) {
  padding: @top @right;
}

.br(@px: 1px, @type: solid, @color: #ccc) {
  border: @px @type @color;
}
.br_top(@px: 1px, @type: solid, @color: #ccc) {
  border-top: @px @type @color;
}
.br_bottom(@px: 1px, @type: solid, @color: #ccc) {
  border-bottom: @px @type @color;
}
.br_left(@px: 1px, @type: solid, @color: #ccc) {
  border-left: @px @type @color;
}
.br_right(@px: 1px, @type: solid, @color: #ccc) {
  border-right: @px @type @color;
}
.radius(@px: 1px) {
  -webkit-border-radius: @px;
  -ms-border-radius: @px;
  -moz-border-radius: @px;
  -o-border-radius: @px;
  border-radius: @px;
}

.align(@align: center) {
  text-align: @align;
}
.center(@center: center) {
  text-align: @center;
}
.flex(@flex: flex) {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: @flex;
}
// .justify(@justify: center) {-webkit-justify-content: @justify; -ms-justify-content: @justify; -moz-justify-content: @justify; -o-justify-content: @justify; justify-content: @justify; -ms-flex-align: @justify;}
// .aligns(@align: center) {-webkit-align-items: @align; -ms-align-items: @align; -moz-align-items: @align; -o-align-items: @align; align-items: @align;}

.block(@block: block) {
  display: @block;
}
.dp(@display: inline) {
  display: @display;
}
.i_block(@i_block: inline-block) {
  display: @i_block;
  vertical-align: middle;
}

.hidden(@hidden: hidden) {
  overflow: @hidden;
}

.table(@wid: 100%) {
  width: @wid;
  border-collapse: collapse;
  border: 0px;
  border-spacing: 0px;
}

.shadow(@string: 2px 2px 2px #ccc) {
  -webkit-box-shadow: @string;
  -ms-box-shadow: @string;
  -moz-box-shadow: @string;
  -o-box-shadow: @string;
  box-shadow: @string;
}

.trans(@rotate: 50deg) {
  -webkit-transform: rotate(@rotate) skew(10deg);
  -ms-transform: rotate(@rotate) skew(10deg);
  -moz-transform: rotate(@rotate) skew(10deg);
  -o-transform: rotate(@rotate) skew(10deg);
  transform: rotate(@rotate) skew(10deg);
}

.relative(@type: relative) {
  position: @type;
}
.absolute(@type: absolute) {
  position: @type;
}
.pos_tl(@type: static, @top: 0, @left: 0) {
  position: @type;
  top: @top;
  left: @left;
}
.pos_tr(@type: static, @top: 0, @right: 0) {
  position: @type;
  top: @top;
  right: @right;
}
.pos_bl(@type: static, @bottom: 0, @left: 0) {
  position: @type;
  bottom: @bottom;
  left: @left;
}
.pos_br(@type: static, @bottom: 0, @right: 0) {
  position: @type;
  bottom: @bottom;
  right: @right;
}

.float(@float: left) {
  float: @float;
  vertical-align: top;
}
.clear(@clear: both) {
  display: block;
  content: '';
  height: 0;
  font-size: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  clear: @clear;
}
