.new-emu_wrapper {
    height: 740px;
    width: 340px;
    border: 8px solid #343146;
    border-radius: 16px;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "emutop" "emumid" "emubot";
    background-color: #ffffff;
  }
  .new-emu_wrapper.eHeight_01 {
    height: 650px;
  }
  .new-emu_wrapper.eHeight_02 {
    height: 650px;
  }
  .new-emu_wrapper.eHeight_03 {
    height: 650px;
  }
  .new-emu_wrapper.eHeight_04 {
    height: 650px;
  }
  /* EMU TOP */
  .new-emu_top {
    grid-area: emutop;
    min-width: 0;
    min-height: 0;
    width: 100%;
    padding: 20px 16px;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
  }
  .new-emu_top_arrow,
  .new-emu_top_call {
    width: 36px;
    height: 36px;
    overflow: hidden;
    position: absolute;
    top: 20px;
  }
  .new-emu_top_arrow > button,
  .new-emu_top_call > button {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
  }
  .new-emu_top_arrow {
    left: 16px;
    transform: rotate(0);
    transition-property: transform;
    transition-duration: 0.5s;
  }
  .new-emu_top_call {
    right: 16px;
    display: block;
  }
  .new-emu_top_profile {
    width: 100%;
    padding: 44px 0 0 0;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 8px;
    transition-property: padding;
    transition-duration: 0.5s;
  }
  .new-emu_top_icon {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    overflow: hidden;
    display: grid;
    place-content: center;
    transition-property: width, height;
    transition-duration: 0.5s;
    background-color: #e7ebef;
    background-image: url("../images/icons/ico-emu-profile.svg");
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .new-emu_top_icon > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #fff;
  }
  .new-emu_top_info {
    flex: 1 1 auto;
    display: grid;
    place-content: center left;
    row-gap: 8px;
  }
  .new-emu_top_info > p {
    height: 25px;
    font-weight: bold;
    font-size: 18px;
    color: #000000;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 100%;
    padding-right: 3px;
  }
  .new-emu_top_info > span {
    color: #575757;
    font-size: 13px;
    display: block;
  }
  .new-emu_top_profile2 > .new-emu_top_icon {
    background-size: 40%;
    background-image: url("../images/icons/ico-emu-profile2.svg");
  }
  .new-emu_top_profile2 > .new-emu_top_icon > img {
    opacity: 0;
  }
  .new-emu_top_profile2 > .new-emu_top_info > span {
    display: none;
  }
  .new-emu_top.new-emu_top_open > .new-emu_top_arrow {
    transform: rotate(-90deg);
  }
  .new-emu_top.new-emu_top_open > .new-emu_top_arrow > button {
    cursor: default;
  }
  .new-emu_top.new-emu_top_open > .new-emu_top_call {
    display: none;
  }
  .new-emu_top.new-emu_top_open > .new-emu_top_profile {
    padding: 0 44px;
  }
  .new-emu_top.new-emu_top_open .new-emu_top_icon {
    width: 36px;
    height: 36px;
    cursor: pointer;
  }
  .new-emu_top.new-emu_top_open .new-emu_top_info > p {
    background-image: url("../images/icons/ico-emu-chevron-down.svg");
    background-position: right top 2px;
    background-repeat: no-repeat;
    background-size: 14px;
    padding-right: 24px;
    cursor: pointer;
    margin-top: 2px;
  }
  .new-emu_top.new-emu_top_open .new-emu_top_info > span {
    display: none;
  }
  
  /* EMU MIDDLE */
  .new-emu_mid {
    grid-area: emumid;
    min-width: 0;
    min-height: 0;
    width: 100%;
    padding: 20px 16px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 32px;
    scrollbar-width: none;
    background-color: #ffffff;
  }
  .new-emu_mid::-webkit-scrollbar {
    display: none;
  }
  .new-emu_mid_date {
    font-size: 12px;
    color: #878787;
  }
  div.new-emu_mid_date {
    text-align: center;
    background-color: transparent;
  }
  div.new-emu_mid_sender {
    align-self: flex-start;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    column-gap: 4px;
  }
  .new-emu_mid_sender > p {
    max-width: 240px;
    display: block;
    padding: 16px;
    border-radius: 8px;
    line-height: 20px;
    color: #111;
    background-color: #f2f2f2;
  }
  .new-emu_mid_reciever {
    align-self: flex-end;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-start;
    column-gap: 4px;
  }
  .new-emu_mid_reciever > p {
    align-self: flex-end;
    max-width: 240px;
    display: block;
    padding: 16px;
    border-radius: 8px;
    line-height: 20px;
    color: #fff;
    background-color: #3B7CF2;
  }
  .new-emu_mid_card {
    height: auto;
    align-self: flex-start;
    border-radius: 8px;
    color: #000000;
    border: 1px solid #e2e8f0;
    overflow: hidden;
    background-color: #ededed;
  }
  .new-emu_mid_card_img {
    width: 100%;
    /* border-radius: 8px 8px 0 0; */
    /* overflow: hidden; */
  }
  .new-emu_mid_card_img > img {
    width: 100%;
  }
  .new-emu_mid_card_text {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 8px;
  }
  .new-emu_mid_card_text > span {
    font-size: 16px;
    color: #222;
  }
  .new-emu_mid_card_text > div {
    font-size: 14px;
    line-height: 1.6;
    color: #898989;
  }
  .new-emu_mid_card_text > button {
    width: 100%;
    padding: 4px 0;
    font-size: 14px;
    background-color: transparent;
  }
  .new-emu_mid_card_noimg, 
  .new-emu_mid_card_tall,
  .new-emu_mid_card_med {
    width: 240px;
    flex: 0 0 auto;
  }
  .new-emu_mid_card_tall > .new-emu_mid_card_img {
    height: 223px;
  }
  .new-emu_mid_card_med > .new-emu_mid_card_img {
    height: 142px;
  }
  .new-emu_mid_card_tall > .new-emu_mid_card_img > img,
  .new-emu_mid_card_med > .new-emu_mid_card_img > img {
    width: 100%;
    height: 100%;
  }
  .new-emu_mid_carousel {
    position: relative;
    left: -16px;
    width: calc(100% + 32px);
    align-self: flex-start;
  }
  .new-emu_mid_carousel.swiper-container {
    overflow: visible;
    padding: 0 16px;
  }
  .new-emu_mid_carousel .new-emu_mid_card {
    height: 100%;
  }
  
  /* EMU BOTTOM */
  .new-emu_bot {
    grid-area: emubot;
    min-width: 0;
    min-height: 0;
    width: 100%;
    position: relative;
    background-color: #ffffff;
  }
  .new-emu_bot_chip .owl-carousel {
    position: relative;
    width: calc(100% - 40px);
    margin: 0 auto;
  }
  .new-emu_bot_chip .owl-carousel .owl-stage-outer {
    padding: 12px 0;
  }
  .new-emu_bot_chip .owl-carousel .owl-stage {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 8px;
  }
  .new-emu_bot_chip .owl-carousel .owl-item {
    flex: 0 0 auto;
  }
  .new-emu_bot_chip .owl-carousel .owl-item > span {
    display: block;
    padding: 4px 8px;
    font-size: 12px;
    color: #a53232;
    border: 1px solid #a63232;
    border-radius: 100px;
  }
  .new-emu_bot_chip .owl-carousel .owl-item > span > a {
    color: #a53232;
  }
  .new-emu_bot_chip .owl-carousel .owl-nav {
    width: 100%;
    position: absolute;
    top: 50%;
  }
  .new-emu_bot_chip .owl-carousel .owl-nav > .owl-prev {
    width: 20px;
    height: 20px;
    font-size: 0;
    position: absolute;
    top: -15px;
    left: -25px;
    background-color: transparent;
    background-image: url("../images/icons/ico-emu-chevron-left.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .new-emu_bot_chip .owl-carousel .owl-nav > .owl-prev:hover {
    background-color: transparent;
    background-image: url("../images/icons/ico-emu-chevron-left.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .new-emu_bot_chip .owl-carousel .owl-nav > .owl-next {
    width: 20px;
    height: 20px;
    font-size: 0;
    position: absolute;
    top: -15px;
    right: -25px;
    background-color: transparent;
    background-image: url("../images/icons/ico-emu-chevron-right.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .new-emu_bot_chip .owl-carousel .owl-nav > .owl-next:hover {
    background-color: transparent;
    background-image: url("../images/icons/ico-emu-chevron-right.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .new-emu_bot_drawer {
    width: 100%;
    height: auto;
    max-height: 68px;
    padding: 8px 16px;
    text-align: center;
    overflow: hidden;
    border-radius: 24px 24px 0 0;
    transition-property: max-height;
    transition-duration: 0.5s;
    background-color: #ffffff;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.25);
  }
  .new-emu_bot_drawer.drawerUp {
    max-height: 348px;
  }
  .new-emu_bot_drawer > button {
    width: 32px;
    height: 8px;
    border-radius: 100px;
    background-color: #dfdfdf;
  }
  .new-emu_bot_drawer > div > p {
    height: 40px;
    font-size: 16px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .new-emu_bot_drawer > div > p > a {
    display: block;
    width: 100%;
    padding-left: 0;
  }
  .new-emu_bot_drawer > div > p:first-child > a {
    color: #00a8ff;
    padding-left: 24px;
    background-image: url("../images/icons/ico-emu-chevron-left.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center left;
  }
  .new-emu_bot_drawer > div.new-emu_bot_rootmenu > p > a {
    padding-left: 0;
    color: #000000;
    background: none;
  }
  .new-emu_bot_drawer > div > p > a.new-emu_bot_hassub {
    background-image: url("../images/icons/ico-emu-chevron-right.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
  }
  .new-emu_bot_input {
    padding: 8px 16px;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
  }
  .new-emu_bot_input > button {
    display: block;
    width: 24px;
    height: 24px;
    display: grid;
    place-content: center;
  }
  .new-emu_bot_input > input {
    width: 144px;
    height: 44px;
    padding: 0 48px 0 24px;
    border-radius: 100px;
    position: relative;
    background-color: #f2f2f2;
    background-image: url("../images/icons/ico-emu-emoji.svg");
    background-repeat: no-repeat;
    background-position: center right 14px;
  }
  .new-emu_bot_input.new-emu_bot_input_off > input {
    width: 100%;
    padding: 0 24px;
    background: none;
    background-color: #f2f2f2;
  }

  .rcs_bundle_wrap.new-emu_sticky,
  .layer_body.new-emu_sticky {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 40px;
    position: relative;
  }
  .rcs_bundle_wrap.new-emu_sticky .new-emu_wrapper_top {
    position: sticky;
    top: 112px;
    left: 0;
  }
  .rcs_bundle_wrap.new-emu_sticky .rcs_emul_form_wrap {
    margin-left: 0;
  }
