.chat-emulator__wrap {
  flex:0 0 360px;
  width: 360px;
  height: 740px;
  min-height: 740px;
  position:sticky;
  border-radius:16px;
  border:1px solid #eaeaea;
  background-color:#FCFCFC;
  padding:0px !important;
  align-self: flex-start;
  top: 36px;    
  &.sticky {
      position: sticky;
      top: 124px;
      align-self: flex-start;
  }    
}
.chat-emulator {
  display:flex;
  flex-direction: column;
  height: 100%;
  .emulator-header {
      flex:0 0 60px;
      border-bottom: 1px solid #eaeaea;
      display:flex;
      justify-content: space-between;
      align-items: center;
      padding:16px;
      &__inner {
          display:flex;
          align-items:center;
          gap: 8px;
      }
      .profile {
          display:flex;
          align-items: center;
          gap:4px;
          &__image {
              min-width: 32px;
              height: 32px;
              img {
                  width:100%;
                  height: 100%;
              }
          } 
          .chatroom-name {
              padding-left:4px;
              font-size: 16px;
              font-weight: 700;
              line-height: 24px;
          }
          .name {
              padding-left:4px;
              font-size: 16px;
              font-weight: 700;
              line-height: 24px;
              &.short{
                  @include ellipsis($line: 2);
                  -webkit-line-clamp: 1;
              }
          }
      }
      button {
          width: 24px;
          height: 24px;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          &.btn-back {
              background-image:url('../assets/images/cmp/btn_prev.png')
          }
          &.btn-more {
              background-image:url('../assets/images/cmp/btn_more.png')
          }
          &.btn-down {
              background-image:url('../assets/images/cmp/chevron_down.png')
          }
      }
  }
  .bodyshow-enter-active,
  .bodyshow-leave-active {
      transition: opacity 0.5s ease;
  }
  .bodyshow-enter,
  .bodyshow-leave-to {
      opacity: 0;
  }
  .emulator-body {
      flex: auto;
      padding:28px 16px !important;
      .chat-date {
          font-size:12px;
          line-height: 18px;
          color:#888;
          text-align:center;
          margin-bottom:20px;
      }
      .chat-bubble__wrap {
          display:flex;
          align-items:flex-end;
          justify-content: flex-start;
          margin:20px 0;
          .chat-time {
              font-size:12px;
              color:#888;
              line-height: 18px;
              flex-shrink: 0;
              margin-left:4px;
          }
          &.receiver {
              justify-content: flex-end;
              flex-direction: row-reverse;
              .chat-time {
                  margin:0 4px 0 0;
              }
          }
          &.carousel {
            .chat-bubble {
              padding:0;
            }
            .swiper-container {
              margin:0 !important;
              .swiper-slide {
                width: 258px !important;
              }
            &.inactive {
              .swiper-wrapper {
                transform: none !important;
              }
            }
          }
          
        }
      }
      .safty-icon {
          display: flex;
          margin-bottom: 4px;
          align-items: center;
          gap: 10px;
          @include fontoption(12px,#2F77FB,400,18px);
          &::before {
              content: '';
              display: inline-block;
              width:12px;
              height:12px;
              background-image: url('../assets/images/icon/icon_safety_blue.png');
              background-position: center center;
              background-repeat: no-repeat;
          }
          &+.sender {
              margin-top:10px;
          }
      }
      .chat-bubble {
          padding: 16px;
          border:1px solid #eaeaea;
          background-color:#fff;
          border-radius: 16px;
          width: 258px;
          min-height: 160px;
          box-sizing: border-box;
          position:relative;
          word-break:break-all;
          overflow:hidden;
          p {
              font-size: 14px;
              line-height: 22px;
              font-weight: 400;
          }
          &.message {
            min-height: 164px;
            overflow:visible;
            &:after {
              content:'';
              width: 0;
              height: 0;
              position:absolute;
              left: 26px;
              bottom:-12px;
              border-style: solid;
              border-width: 0 12px 12px 0;
              border-color: transparent #D9D9D9 transparent transparent;
            }
            &:before {
              content:'';
              width: 0;
              height: 0;
              position:absolute;
              left: 27px;
              bottom:-10px;
              z-index: 1;
              border-style: solid;
              border-width: 0 10px 10px 0;
              border-color: transparent #fff transparent transparent;
            }
          }
          .text-area {
            padding: 16px;
            .msg-title {
              font-weight: 500;
              +.msg-text {
                margin-top: 8px;
                
              }
            }
            .msg-text {
              white-space: pre-wrap;
            }
          }
          .image-area {
            height: 160px;
            .image {
              display:block;
              height: 100%;
              background-size:cover;
              background-position: 50% 50%;
            }
            &.full {
              height: 344px;
            }
          }
          .btn-area {
            display:flex;
            gap: 8px;
            padding: 10px 16px 16px;
            &.column {
              flex-direction: column;
            }
            a {
              text-align:center;
              line-heighT:42px;
              border-radius:8px;
              background-color:#f8f8f8;
              border:1px solid #ddd;
              height: 46px;
              flex: 1;
              font-weight: 500;
            }
          }
          .item--none {
            width:100%;
            height: 160px;
            border-radius: 16px;
            background-color: #F4F4F4;
            display: flex;
            align-items:center;
            justify-content: center;
            p {
                color:#999;
                display:flex;
                flex-direction: column;
                align-items: center;
                gap: 6px;
                line-height: 22px;
                &:before {
                    content:'';
                    width: 64px;
                    height: 64px;
                    background-position: 50% top;
                    background-repeat: no-repeat;
                    background-image: url('../assets/images/icon/icon_no_img.png')
                }
            }
        }
      }
      .chip-buttons {
        display:flex;
        justify-content:flex-end;
        gap: 12px;
        a, span {
          height: 38px;
          display:block;
          height: 38px;
          border-radius:100px;
          border: 1px solid #eaeaea;
          border-radius: 100px;
          line-height: 22px;
          padding: 8px 20px;
          background-color:#fff;
          color: #999;
        }
      }
  }
  .emulator-footer {
      flex: 0 0 54px;
      display:flex;
      align-items: center;
      &__inner {
          flex-direction: column;
          width: 100%;
          .emulator-footer__top {
              width: 100%;
              background-color: #fff;
              text-align: center;
              padding: 0px 0 12px 0;
          }
          .btn-bar-toggle {
            width: 20px;
            height:2px;
            padding:0;
            min-width: fit-content;
            line-height: 0;
            background: #D9D9D9;
            border-radius: 2px;
          }       
          .chat-menu__list-inemul {
              padding:0 16px;
              li {
               @include fontoption(16px, #000, 400, 24px);
               text-align: left;
               &+li {
                  margin-top:18px;
               }
              }
             &.collapse {
              height:80px;
              overflow: hidden;
             }
          }  
          .input {
            position:relative;
            flex: auto;
            input {
                height: 38px;
                border-radius: 100px;
                padding:8px 36px 8px 16px;
            }
            
          }   
          .emulator-footer__allow-input {
              padding: 8px 16px 23px 16px;
              display:flex;
              align-items:center;
              width:100%;
              gap: 8px;        
              
              .btn {
                  min-width: 24px;
                  height: 24px;
                  i {
                      width: 24px;
                      height: 24px;
                      background-repeat: no-repeat;
                      background-position: 50% 50%;
                      background-color:transparent;
                      &.icon-photo {
                          background-image:url('../assets/images/icon/icon_emulator_photo.png')
                      }
                      &.icon-camera {
                          background-image:url('../assets/images/icon/icon_emulator_camera.png')
                      }
                      &.icon-plus {
                          background-image:url('../assets/images/icon/icon_emulator_plus.png')
                      }
                      &.icon-emoji {
                          background-image:url('../assets/images/icon/icon_emoji.png')
                      }
                  }
                  
              }  
              .input {
                 .btn {
                  position:absolute;
                  right: 8px;
                  top: 7px;
                 } 
              }                      
          }
          &.chat-dissable {
              position: relative;                
              border-top: 1px solid #F0F0F0;                
              border-radius: 16px 16px 0px 0px;
              flex-direction: column;
              gap: 0;
          }
          .contac-msg {
            @include fontoption(14px,#000,400,20px);
            width: 100%;
            padding: 0 16px 8px;
            text-align: left;
          }
          .form-item__content {
              border-top: 1px solid #EAEAEA;                
              padding: 8px 16px 23px 16px;
              width: 100%;
          }
      }
  }
}

.type__radio-tab {
  padding: 16px 0;

  ul {
    display: flex;
    gap: 8px;
    width: 100%;
    li {
      flex:1;
    }
  }
  label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding:12px 16px;
    width: 100%;
    height: 88px;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding-bottom:10px;
    cursor: pointer;
    gap: 12px;
    i {
      width: 64px;
      height: 64px;
      background: url('../assets/images/icon/icon_chatbubble.png') no-repeat 50% 50%;
      &.icon-card {
        background-image: url('../assets/images/icon/icon_card.png');
      }
    }
    .tab-text {
      font-size: 12px;
      line-height: 18px;
    }
    .tab-title {
      display: block;
      font-weight: 500;
      line-height: 28px;
      font-size: 16px;
      span {
        font-size: 12px;
        line-height:24px;
        font-weight: 400;
      }
    }
  }
  input[type="radio"]:checked {
    + label {
      border-color: #000;
    }
  }
}

.chip-btn__reg {
  textarea {
    height: 120px;
  }
  .item-label {
    width: 87px;
  }
}

.top-reg-button {
  display:flex;
  justify-content: flex-end;
  margin-bottom: 32px;
}