.chat-emulator__wrap {
  width: 360px;
  height: auto;
  min-height: 740px;
  max-height: 740px;
  overflow-y: auto;
  position:sticky;
  border-radius:16px;
  border:1px solid #eaeaea;
  background-color:#FCFCFC;
  padding:0px !important;
  align-self: flex-start;
  top: 36px;
  display: flex;    
  flex-direction: column;
  &.sticky {
      position: sticky;
      top: 124px;
      align-self: flex-start;
  }    
}
.chat-emulator {
  display:flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 360px;
  flex: auto;
  .emulator-header {
      flex:0 0 60px;
      border-bottom: 1px solid #eaeaea;
      display:flex;
      justify-content: space-between;
      align-items: center;
      padding:16px;
      &__inner {
          display:flex;
          align-items:center;
          gap: 8px;
      }
      .profile {
          display:flex;
          align-items: center;
          gap:4px;
          &__image {
              width: 32px;
              height: 32px;
              border-radius: 6px;
              overflow:hidden;
              border: 1px solid #eaeaea;
              flex: 0 0 32px;
              &.img-none {
                background:#f4f4f4 url('../assets/images/icon/icon_no_img_20x20.png') no-repeat 50% 50%;
                background-size: 20px;
                img{
                  display: none;
                }
              }
              img {
                  width:100%;
                  height: 100%;
              }
          } 
          .chatroom-name {
              padding-left:4px;
              font-size: 16px;
              font-weight: 700;
              line-height: 24px;
          }
          .name {
              padding-left:4px;
              font-size: 16px;
              font-weight: 700;
              line-height: 24px;
              &.short{
                  @include ellipsis($line: 2);
                  -webkit-line-clamp: 1;
              }
          }
      }
      button {
          width: 24px;
          height: 24px;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          &.btn-back {
              background-image:url('../assets/images/cmp/btn_prev.png');
          }
          &.btn-more {
              background-image:url('../assets/images/cmp/btn_more.png');
          }
          &.btn-down {
              background-image:url('../assets/images/cmp/chevron_down.png');
              &.open{
                transform: rotate(180deg);
              }
          }
      }
  }
  .bodyshow-enter-active,
  .bodyshow-leave-active {
      transition: opacity 0.5s ease;
  }
  .bodyshow-enter,
  .bodyshow-leave-to {
      opacity: 0;
  }
  .emulator-body {
      flex: auto;
      overflow-y: auto;
      padding:12px 16px 28px 16px !important;
      overflow-y: auto;
      .chat-date {
          font-size:12px;
          line-height: 18px;
          color:#888;
          text-align:center;
          margin-bottom:20px;
      }
      .chat-bubble__wrap {
          display:flex;
          align-items:flex-end;
          justify-content: flex-start;
          margin:20px 0 32px 0;
          .chat-time {
              font-size:12px;
              color:#888;
              line-height: 18px;
              flex-shrink: 0;
              margin-left:4px;
          }
          &.receiver {
              justify-content: flex-end;
              flex-direction: row-reverse;
              .chat-time {
                  margin:0 4px 0 0;
              }
          }
          &.carousel {
            .chat-bubble {
              padding:0;
            }
            .swiper-container {
              margin:0 !important;
              .swiper-slide {
                width: 258px !important;
              }
            &.inactive {
              .swiper-wrapper {
                transform: none !important;
              }
            }
          }
        }
        &.bubblenot-box{
          .chat-bubble{
            background-color: #F2F2F2;
            .bubblenot-box_txt{
              color: #999999;
            }
            &.message {
              &:before {
                border-color: transparent #F2F2F2 transparent transparent;
              }
            }
          }
        }
      }
      .safty-icon-wrap {
        @include fontoption(11px,#888,400,22px);
        display: flex;
        align-items: center;
        gap: 6px;
        + .chat-bubble__wrap {
          margin-top: 4px;
        }
        .safty-icon-text {
          vertical-align: middle;
          display: inline-block;
          margin-bottom: -6px;
        }
      }
      .safty-icon {
          display: flex;
          align-items: center;
          gap: 4px;
          @include fontoption(12px,#2F77FB,400,22px);
          &::before {
              content: '';
              display: inline-block;
              width:12px;
              height:12px;
              background-image: url('../assets/images/icon/icon_safety_blue.png');
              background-position: center center;
              background-repeat: no-repeat;
          }
          &+.sender {
              margin-top:10px;
          }
      }
      .chat-bubble {
          padding: 16px;
          border:1px solid #f2f2f2;
          background-color:#F2F2F2;
          border-radius: 12px;
          width: 258px;
          min-height: 98px;
          box-sizing: border-box;
          position:relative;
          word-break:break-all;
          overflow:hidden;
          p {
              font-size: 14px;
              line-height: 22px;
              font-weight: 400;
              &.default-msg {
                color: #999;
              }
          }

          &.message {
            min-height: 164px;
            overflow:visible;
            background-color:#F2F2F2;
            border: 1px solid #F2F2F2;
            &:after {
              content:'';
              width: 0;
              height: 0;
              position:absolute;
              left: 26px;
              bottom:-12px;
              border-style: solid;
              border-width: 0 12px 12px 0;
              border-color: transparent #F2F2F2 transparent transparent;
            }
            &:before {
              content:'';
              width: 0;
              height: 0;
              position:absolute;
              left: 27px;
              bottom:-10px;
              z-index: 1;
              border-style: solid;
              border-width: 0 10px 10px 0;
              border-color: transparent #F2F2F2 transparent transparent;
            }
          }
          .text-area {
            padding: 16px;
            .msg-title {
              font-weight: 500;
              +.msg-text {
                margin-top: 8px;
                
              }
            }
            .msg-text {
              white-space: pre-wrap;
            }
          }
          .chatcard-box {
            .image {
              display:block;
              height: 100%;
              background-size:cover;
              background-position: 50% 50%;
            }
            &.full {
              height: 238px;
            }
            &.medium {
              height: 152px;
            }
          }
          .btn-area {
            display:flex;
            flex-direction: column;
            gap: 8px;
            padding: 10px 16px 16px;
            &.column {
              flex-direction: column;
            }
            a {
              text-align:center;
              line-heighT:42px;
              border-radius:8px;
              background-color: #E4E4E4;
              color: #000;
              height: 46px;
              flex: 1;
              font-weight: 500;
            }
          }
          .item--none {
            width:100%;
            height: 160px;
            border-radius: 12px 12px 0 0;
            background-color: #E7E7E7;
            display: flex;
            align-items:center;
            justify-content: center;
            p {
                color:#999;
                display:flex;
                flex-direction: column;
                align-items: center;
                gap: 6px;
                line-height: 22px;
                &:before {
                    content:'';
                    width: 64px;
                    height: 64px;
                    background-position: 50% top;
                    background-repeat: no-repeat;
                    background-image: url('../assets/images/icon/icon_no_img.png')
                }
            }
        }
      }
      .chip-buttons {
        position: relative;
        margin-top: -8px;
        a, span {
          max-height: 36px;
          display:block;
          border-radius:100px;
          border: 1px solid #eaeaea;
          border-radius: 100px;
          line-height: 22px;
          padding: 8px 18px;
          background-color:#fff;
          color: #999;
          &.response-box{
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #111;
            min-width: 92px;
            color: #000;
          }
          &.text-none {
            max-width: 192px;
            border-color:#EAEAEA;
            color:#999
          }
        }
        li{
          margin: 0 16px;
          border-right: 1px solid #ddd;
          border-left: 1px solid #ddd;
          &.inactive {
            border-right: 0;
            border-left: 0;
          }
        }
        .swiper-container{
          position: static;
          margin: 0;                  
          .swiper-notification{
            display: none;
          }
          &.inactive  {
            .swiper-button-prev,
            .swiper-button-next{
              display: none;
            }
          }
        }
        .swiper-slide{
          width: auto;
          &:nth-child(1){
            margin-left: 8px;
          }
        }
        .swiper-button-prev,
        .swiper-button-next{
          width: 24px;
          height: 24px;
          top:50%;
          transform: translateY(-50%);
          margin: 0;
          color: transparent;
        }
        .swiper-button-prev{
          width: 24px;
          height: 24px;
          left: -8px;         
          &::after{
            width: 24px;
            height: 24px;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: 100%;
            font-size: 0;
            background-image:url('../assets/images/icon/icon_arrow_left_big.png')
          }
          &::before{
            width: 1px;
            height: 38px;
            background-color: #ddd;
          }
        }
        .swiper-button-next{
          width: 24px;
          height: 24px;
          right: -8px;         
          &::after{
            width: 24px;
            height: 24px;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: 100%;
            font-size: 0;
            background-image:url('../assets/images/icon/icon_arrow_right_big.png')
          }
        }
        // .swiper-button-prev.swiper-button-disabled, 
        // .swiper-button-next.swiper-button-disabled{
        //   opacity: 1;
        // }
        &.not-response-box{
          display: flex;
          justify-content: flex-end;
          align-items: center;
          li{
            margin: 0;
            border-right: 0;
            border-left: 0;
          }
        }
      }
  }
  .emulator-footer {
      flex: 0 0 54px;
      display:flex;
      align-items: center;
      &__inner {
          flex-direction: column;
          width: 100%;
          .emulator-footer__top {
              background-color: #fff;
              text-align: center;
              padding: 0px 0 12px 0;
              width: calc(100% - 2px);
              box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.08);
              border-radius:16px 16px 0px 0px;
          }
          .btn-bar-toggle {
            width: 20px;
            height:2px;
            padding:0;
            min-width: fit-content;
            line-height: 0;
            background: #D9D9D9;
            border-radius: 2px;
          }       
          .chat-menu__list-inemul {
              padding:0 16px;
              max-height: 240px;
              overflow-y:auto; 
              li {
               @include fontoption(16px, #000, 400, 24px);
               padding: 12px 16px;
               text-align: left;
               border: 1px solid #D9D9D9;
               border-radius: 12px;   
               &+li {
                  margin-top:8px;
               }
               &.active {
                border-color: $pointColor;
               }
               .default-msg {
                color:#999;
               }
              }
             &.collapse {
              height:80px;
              overflow: hidden;
             }
          }  
          .input {
            position:relative;
            flex: auto;
            input {
                height: 38px;
                border-radius: 100px;
                padding:8px 36px 8px 16px;
            }
            
          }   
          .emulator-footer__allow-input {
              padding: 8px 16px 23px 16px;
              display:flex;
              align-items:center;
              width:100%;
              gap: 8px;        
              
              .btn {
                  min-width: 24px;
                  height: 24px;
                  i {
                      width: 24px;
                      height: 24px;
                      background-repeat: no-repeat;
                      background-position: 50% 50%;
                      background-color:transparent;
                      &.icon-photo {
                          background-image:url('../assets/images/icon/icon_emulator_photo.png')
                      }
                      &.icon-camera {
                          background-image:url('../assets/images/icon/icon_emulator_camera.png')
                      }
                      &.icon-plus {
                          background-image:url('../assets/images/icon/icon_emulator_plus.png')
                      }
                      &.icon-emoji {
                          background-image:url('../assets/images/icon/icon_emoji.png')
                      }
                  }
                  
              }  
              .input {
                 .btn {
                  position:absolute;
                  right: 8px;
                  top: 7px;
                 } 
              }                      
          }
          &.chat-dissable {
              position: relative;                
              border-top: 1px solid #F0F0F0;                
              border-radius: 16px 16px 0px 0px;
              flex-direction: column;
              gap: 0;
          }
          .contac-msg {
            @include fontoption(14px,#000,400,20px);
            width: 100%;
            padding: 0 16px 8px;
            text-align: left;
          }
          .form-item__content {
              border-top: 1px solid #EAEAEA;                
              padding: 8px 16px 23px 16px;
              width: 100%;
          }
      }
  }
  &.layout {
    .emulator-body {
      justify-items: stretch;
      .chat-item__wrap {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .message-box {
          display: flex;
          flex-direction: column;
          height: 100%;
          .safty-icon {
            flex:0 0 18px
          }
          .component-list {
            flex: auto;
          }
        }
        .button__wrap {
          flex: 0 0 72px;
          padding-top: 24px;
        }
      }
    }
  }
}

.type__radio-tab {
  padding: 16px 0;
  ul {
    display: flex;
    gap: 8px;
    width: 100%;
    li {
      flex:1;
    }
  }
  label {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding:12px;
    width: 100%;
    height: 88px;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding-bottom:10px;
    cursor: pointer;
    gap: 12px;
    i {
      width: 58px;
      height: 58px;
      flex-shrink: 0;
      border-radius: 100%;
      background-color: #F8F8F8;
      background: url('../assets/images/icon/icon_chatbubble.png') no-repeat 50% 50%;
      background-color: #F8F8F8;
      &.icon-sms {
        background-image: url('../assets/images/icon/icon_sms.png');
        background-color: #F8F8F8;
      }
      &.icon-lms {
        background-image: url('../assets/images/icon/icon_lms.png');
        background-color: #F8F8F8;
      }
      &.icon-mms {
        background-image: url('../assets/images/icon/icon_mms.png');
        background-color: #F8F8F8;
      }
      &.icon-card {
        background-image: url('../assets/images/icon/icon_card.png');
        background-color: #F8F8F8;
      }
      &.icon-slide {
        background-image: url('../assets/images/icon/icon_slide.png');
        background-color: #F8F8F8;
      }
    }
    .tab-text {
      font-size: 12px;
      line-height: 18px;
    }
    .tab-title {
      display: block;
      font-weight: 500;
      line-height: 28px;
      font-size: 16px;
      span {
        font-size: 12px;
        line-height:24px;
        font-weight: 400;
      }
    }
  }
  input[type="radio"]:checked {
    + label {
      border-color: $pointColor;
      i {
        background-color: rgba(220, 242, 255, 0.5);
        background-image: url('../assets/images/icon/icon_chatbubble_on.png');
        &.icon-sms {
          background-image: url('../assets/images/icon/icon_sms_on.png');
        }
        &.icon-lms {
          background-image: url('../assets/images/icon/icon_lms_on.png');
        }
        &.icon-mms {
          background-image: url('../assets/images/icon/icon_mms_on.png');
        }
        &.icon-card {
          background-image: url('../assets/images/icon/icon_card_on.png');
        }
        &.icon-slide {
          background-image: url('../assets/images/icon/icon_slide_on.png');
        }
      }
    }
  }
  input[type="radio"]:disabled {
    + label {
      border-color: #ddd;
      background-color: #F4F4F4;
      i {
        background-color: #EEEEEE;
        // background-image: url('../assets/images/icon/icon_chatbubble_disabled.png');
        &.icon-sms {
          background-image: url('../assets/images/icon/icon_sms_disabled.png');
        }
        &.icon-lms {
          background-image: url('../assets/images/icon/icon_lms_disabled.png');
        }
        &.icon-mms {
          background-image: url('../assets/images/icon/icon_mms_disabled.png');
        }
        // &.icon-card {
        //   background-image: url('../assets/images/icon/icon_card_disabled.png');
        // }
        // &.icon-slide {
        //   background-image: url('../assets/images/icon/icon_slide_disabled.png');
        // }
      }
      .tab-title{
        color: #999;
      }
      .tab-text{
        color: #999;
      }
    }
  }
}

.chip-btn__reg {
  textarea {
    height: 120px;
  }
  .item-label {
    width: 87px;
  }
  .input-item {
    &:not(.select-button-type) {
      .input {
        display: flex;
        align-items: center;
        .dropdown {
          width: 88px;
          min-width: 88px;
          margin-left: 20px;
        }
      }
    }
  }
  .select-button-type {
    .radiobox {
      width: auto;
      margin-left: 36px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .button-title {
    margin-bottom: 8px;
    @include fontoption(14px,#000,500,26px);
  }
}
.button-reg {
  .guide-text {
    + .input-item {
      margin-top: 8px;
    }
  }
  .input-item {
    .dropdown {
      width: 182px;
      margin-left: 10px;
    }
  }
  .radiobox {
    width: auto;
    + .radiobox {
      margin-left: 16px;
    }
  }
}

.top-reg-button {
  display:flex;
  justify-content: flex-end;
  margin-bottom: 32px;
}

.dropdown-search__list {
  .dropdown {
    width: 110px;
  }
}

.response-inner-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
  .guide-text{
    margin-top: 0;
  }
}
.emulator-body::-webkit-scrollbar {
  width: 12px;
  height: 4px;
}
.emulator-body::-webkit-resizer,.emulator-body::-webkit-scrollbar-corner {
  background-color: #FCFCFC;
}
.emulator-body::-webkit-scrollbar-track {
  background: transparent
}
.emulator-body::-webkit-scrollbar-thumb {
  background: #ccc;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-clip: padding-box;
  border: 4px solid transparent;
}
.list-emulator{
  .chat-emulator{
    .emulator-footer{
      &__inner{
        .chat-menu__list-inemul{
          li{
            border: none;
            border-radius: 0;
            &:first-child{
              padding: 0;
            }
            &+li{
              padding: 16px 0 0 0;
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}