.notice-table {
  .table-list {
    table-layout: fixed;
  }
  .primary  {
    &__text {
      color:$pointColor;
      font-weight: 700;
    }
    .title {
      font-weight: 500;
      color: #204485;
    }   
  }
  .title {
    display:flex;
    align-items:center;
    justify-content:flex-start;
    a {
      @include ellipsis($line: 1);
    }
  }
  .ico-attach {
    display: inline-block;
    width:18px;
    height:19px;
    flex-shrink: 0;
    margin-left:5px;
    background:url('../assets/images/customer/ico_attach.png') no-repeat 50% 50%
  }
  .ico-new {
    display: inline-block;
    width:30px;
    height:10px;
    flex-shrink: 0;
    margin-left:8px;
    background:url('../assets/images/customer/ico_new.png') no-repeat 50% 50%;
  }
  .no-data {
    p{
      margin: 160px 0;
      font-size: 16px;
      color: #888888;
    }
  }
}
.content-table {
  thead {
    th {
      .title {
        width: 1020px;
        padding: 12px 22px;
        text-align: left;
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;
      }
    }
    
    .date {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #888888;
    }
  }
}

@media #{$phone} {
  .notice-table {
    .table-list {
      tbody {
        tr {
          display:flex; 
          width:calc(100vw - (#{$contentPaddingM} * 2));
          flex-direction: column;
          justify-content: flex-start;
          align-items:flex-start;
          padding: 16px 0 ;
          border-bottom:1px solid #F0F0F0;
        }
      }
      th {
        display:none;
      }
      td {
        border: none;
        padding:0;
      }
      .num {
        display:none;
      }
      .primary  {
        &__text {
          position:absolute;;
        }
        .title {
          text-indent:40px;
        }   
      }
      .title {
        display:block;
        margin-bottom:4px;
        a {
          overflow:auto;
          white-space:normal;
        }
      }
      .date {
        font-size: 13px;
      }
      .ico-attach {
        width:15px;
        height:16px;
        margin-left:4px;
        vertical-align: top;
        position:relative;
        top:4px;
        background:url('../assets/images/customer/m_ico_attach.png') no-repeat 50% 50%;
        background-size:100%;
      }
      .ico-new {
        width:24px;
        height:8px;
        margin-left:4px;
        position:relative;
        vertical-align: top;
        top:3px;
        background:url('../assets/images/customer/m_ico_new.png') no-repeat 50% 50%;
        background-size:100%;
      }
      .no-data {
        width: 100%;
        p{
          margin: 100px auto;
          font-size: 14px;
        }
      }
    }
  }
}

// faq
.accodien-list__wrap {
  border-top: 2px solid #2F77FB;
  width: 100%;
  .accordion__item {    
    border-bottom: 1px solid #F0F0F0;
    a.accordion__title {
      position: relative;    
      @include fontoption(16px,#000000,400,24px);
      display: block;
      padding: 17px 85px;
      &::after {
        content: '';
        display: block;
        position: absolute;
        right: 40px;
        top:50%;
        transform: translateY(-50%);
        width: 16px;
        height:16px;
        background-image: url('../assets/images/icon/icon_arrow_accodien.png');
        background-position: center center;
        background-repeat: no-repeat;
        transform: rotate(180deg);
        transition: all 0.3s;
      }
      &.isOpen {
        &::after {      
          transform: rotate(0deg);    
          transition: all 0.3s;
          top: 23px;
        }
      } 
      .accodien-cate {
        position: absolute;
        left: 40px;
        top:50%;
        transform: translateY(-50%);
        @include fontoption(16px,#000000,500,24px)
      }     
    }
  }
  .accordion__content {
    position: relative;
    padding: 20px 85px 40px;
    background-color: #F8F8F8;
    .accodien-cate {
      position: absolute;
      left: 40px;
      top:20px;
      @include fontoption(16px,#2F77FB,500,24px)
    }    
  }
}
.accordion-enter-active,
.accordion-leave-active {
  will-change: height, opacity;
  transition: height 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
}

.accordion-enter,
.accordion-leave-to {
  height: 0 !important;
  opacity: 0;
}