.dashboard__wrap {
	width: 100%;
	.dashboard__wrap--inner {
		padding:24px 0;
		width: 100%;
		max-width: $contentWidth;
		margin:0 auto;
		display: flex;
		justify-content: space-between;
		gap:32px;
	}
	.dashBoard-main__content {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;  
		flex: auto;      
		gap: 24px;        
	}	
	.approval-statu__box {
		width: 100%;           
		background: linear-gradient(0deg, rgba(255, 131, 16, 0.05), rgba(255, 131, 16, 0.05)), #FFFFFF;
		border: 1px solid rgba(255, 131, 16, 0.5);
		border-radius: 16px;  
		padding:23px 31px;

		strong {
			@include fontoption(20px,#FF8310,700,32px);
		}
		P {
			@include fontoption(16px,#000,400,28px);
		}      
	}
	.board-main__box--roun-type {
		width: 100%;
		padding: 0 31px 47px;
		background: #FFFFFF;
		border: 1px solid #EAEAEA;
		border-radius: 16px;
		.dash-tit {
			margin-top: 39px;
			padding-bottom: 24px;
			display: flex;
			align-items: flex-end;
			h3{
				@include fontoption(24px,#000,700,24px);
			}
			span {
				@include fontoption(20px,#000,400,22px);
				em{
					@include fontoption(20px,#000,700,22px);
				}
			}
		}
		.dropdown{
			min-width: 240px;
		}
		.table__wrap {
			thead {
				th {
					span {
						font-weight: 500;
					}
				}
				&+.table__wrap {
					border-top: 0;
				}
			}
			tbody {
				tr {
					td {
						.brandname {
							padding: 0px 16px;
							display: flex;
							align-items: center;
							justify-content: space-between;
							&.mybrandname{
								padding: 0;
							}
							.brand__mark {
								&__core{
									display: inline-block;
									width: 20px;
									height: 20px;
									background-position: 50% 50%;
									background-repeat: no-repeat;
									background-size: 100%;
									background-image:url('../assets/images/icon/icon_bookmark_de_act.png');
									cursor: pointer;
								}
								input[type="checkbox"] {
									@include hiddens;
									&:checked {
										+.brand__mark__core {
											background-image:url('../assets/images/icon/icon_bookmark_act.png')
										}
									}
								}
							}
							.brand {
								display: flex;
								align-items: center;
								.brand__logo {
									min-width: 40px;
									height: 40px;
									margin:0 16px;
								}
								.brnad__new{
									@include fontoption(12px,$pointColor,700,26px);
									margin-left: 8px;
									flex-shrink: 0;
								}
							}
							.brand__message {
								@include fontoption(12px,#999,500,22px);
								border: 1px solid #CCC;
								border-radius: 20px;
								min-width: 103px;
							}
						}
						.btn-blue {
							padding:0 12px;
							border-radius: 6px;
							font-size: 14px;
						}
						.flag-progress {
							background: #CCC;
						}
					}
				}
			}
		}
	}
	.brand-banner__box {
		width: 100%;
		background: linear-gradient(0deg, #CBE6FF, #CBE6FF), #DCF2FF;
		border-radius: 16px;
		display: flex;
		align-items: center;
    justify-content: space-between;
		padding:32px 48px;
		strong {
			@include fontoption(18px,#000,500,30px);
		}
		.btn-blue{
			position: relative;
			&::before{
				content:'';
				display:inline-block;
				position:absolute;
				left: 10%;
				width:20px;
				height: 20px;
				background: url('../assets/images/icon/icon_plus.png') no-repeat 50% 50%;
				cursor: pointer;
			}
		}
	}
	.dashBoard-side {
		width: 100%;
		flex: 0 0 302px;
		display: flex;
		flex-direction: column;
		gap: 24px;  
		.side-btn{
			.btn-blue{
				width: 100%;
			}
		}
		.side-box {
			width: 100%;
			background: #FFFFFF;
			border: 1px solid #EAEAEA;
			border-radius: 16px;
			padding: 23px 19px;
			.side-box-top {
				h3 {
					@include fontoption(18px,#000,700,26px);
				}
				h4 {
					@include fontoption(16px,#000,700,22px);
				}
				span {
					@include fontoption(12px,#fff,500,22px);
					padding: 2px 10px;
					background: #000000;
					border-radius: 20px;
				}
				p{
					@include fontoption(12px,#666,400,18px);
				}
			}
			&.side-box__invite{
				.side-box-top {
					h4{
						margin-bottom: 2px;
						line-height: 24px;
					}
				}
			}
			.side-box-middle {
				display: flex;
				padding: 12px 0 15px 0;
				.id {
					line-height: 22px;
				}
				.date {
					@include fontoption(12px,#888,400,18px);
					padding: 2px 0;
					&::before {
						content:'';
						display:inline-block;
						margin: 0 8px;
						height: 10px;
						border: 1px solid #EAEAEA;
					}
				}
			}
			.side-box-cont {
				.authority-list {
					border-bottom: 1px solid #EAEAEA;
					padding: 8px 0 12px 0;
					&:last-child{
						border-bottom: 0;
						padding: 8px 0 0 0;
					}
					.authority-list__company {
						@include fontoption(12px,#333,700,22px);
						margin-bottom: 2px;
					}
					.authority-list-between {
						ul {
							display: flex;
							justify-content: space-between;
							.authority-list__name{
								color: #333;
								line-height: 22px;
							}
							.authority-list__date{
								padding: 0 2px;
								@include fontoption(12px,#888,400,18px);
							}
						}
					}
					.authority-list-center {
						margin-bottom: 6px;
						ul {
							display: flex;
							li {
								color: #333;
								line-height: 22px;
							}
						}
					}
					.button__wrap{
						padding: 0;
					}
				}
				.invite__step {
					padding: 19px 0;
					li {
						strong {
							padding: 5px 12px;
							border: 4px solid #DCF2FF;
							border-radius: 100px;
							position: relative;
							z-index: 1;
							font-family: 'Century Gothic';
							color: $pointColor;
							font-weight: 700;
							line-height: 22px;
						}
						a {
							padding-left: 8px;
							position: relative;
							color: #333;
								line-height: 22px;
							&.step-more{
								padding-left: 0px;
								&::after {
									content:'';
									display:inline-block;
									position:absolute;
									top:50%;
									transform: translateY(-50%);
									width:16px;
									height: 16px;
									background: url('../assets/images/icon/icon_arrow-next.png') no-repeat 50% 50%;
									cursor: pointer;
								}
							}
						}
						
					}
					li:first-child{
						padding-bottom: 22px;
						&::after {
							content: "";
							display: inline-block;
							height: 16px;
							position: relative;
							top: 26px;
							left: -124px;
							z-index: 0;
							border: 2px solid #c0e1ff;
						}
					}
				}
				.invite__addbox {
					background: #F8F8F8;
					border-radius: 8px;
					padding: 12px; 
					.invite__addbox-btn{
						display: flex;
						justify-content: center;
						align-items: center;
						margin-top: 8px;
						.btn-blue-line{
							width: 137px;
              padding: 0;
							font-weight: 400;
							line-height: 20.27px;
						}
					}
				}
			}
			&.side-box__info {
				padding: 0;
				.side-box__info-top{
					padding: 23px 19px 0 19px;
					.side-box-top {
						display: flex;
						justify-content: space-between;
					}
				}
				.side-box-cont {    
					background: rgba(220, 242, 255, 0.5);
					border-radius: 0px 0px 15px 15px;
					padding: 12px 19px 16px 19px;
					p {
						@include fontoption(14px,#333,400,22px);
						.safetymark {
							@include fontoption(14px,#2F77FB,700,22px);
						}
					}
				}
			}
			&.side-box__authority {
				.side-box-cont {
					margin: 12px 0 0;
					border-top: 2px solid #2F77FB;
				}
			}
			&.side-box__banner {
				background: #CBE6FF;
				border-radius: 12px;
				position: relative;
				.side-company-btn {
					display: block;
					margin-top: 25px;
					position: relative;
					color: $pointColor;
					font-weight: 700;
					line-height: 22px;
					&::after {
						content:'';
						display:inline-block;
						position:absolute;
						width:20px;
						height: 20px;
						background: url('../assets/images/icon/icon_arrow-next.png') no-repeat 50% 50%;
						top: 50%;
            transform: translateY(-50%);
						cursor: pointer;
					}
				}
				&::after {
					content:'';
					display:inline-block;
					position:absolute;
					width:130px;
					height: 126px;
					background: url('../assets/images/icon/icon_side_banner.png') no-repeat 50% 50%;
					bottom: 6px;
					right: 7px;
				}
			}
			&.side-box__approve {
				.side-box-cont {
					.tab__wrap{
						margin-bottom: 0;
						.approve-cont{
							border-bottom: 1px solid #EAEAEA;
							padding: 8px 0 8px 0;
							@include fontoption(14px,#000,400,22px);
							&:nth-child(1){
								padding: 12px 0 8px 0;
							}
							.approve-cont-top{
								ul{
									display: flex;
									justify-content: space-between;
									align-items: center;
									.flag-progress {
										padding: 1px 6px;
										border-radius: 11px;
										background-color:transparent;
										font-size: 12px;
										line-height:18px;
										&.done {
											border:1px solid $pointColor;
											color: $pointColor;
										}
										&.reject {
											border:1px solid $errorColor;
											color: $errorColor;
										}
								}
									.approve-cont__date{
										@include fontoption(12px,#888,400,18px);
									}
								}
							}
							.approve-cont-between{
								ul{
									display: flex;
									align-items: center;
									margin-top: 4px;
									.approve-cont__name{
										@include fontoption(12px,#000,700,22px);
									}
									.approve-cont__chat{
										&::before {
											content:'';
											display:inline-block;
											margin: 0 8px;
											height: 10px;
											border: 1px solid #EAEAEA;
										}
									}
								}
							}
						}
						.approve-cont-more{
							margin-top: 8px;
							a{
								@include fontoption(12px,#000,400,18px);
								position: relative;
								display: flex;
								justify-content: center;
								&::after {
									content: '';
									display: block;
									position: absolute;
									right: 35%;
									top:10%;
									transform: translateY(-50%);
									width: 16px;
									height:16px;
									background-image: url('../assets/images/icon/icon_more.png');
									background-position: center center;
									background-repeat: no-repeat;
									transform: rotate(180deg);
									transition: all 0.3s;
									cursor: pointer;
								}
								&.open {
									&::after {      
										transform: rotate(0deg);    
										transition: all 0.3s;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

// .contents {
// 	padding-bottom: 0;
// }
