.dashboard__wrap {
	width: 100%;
	background-color: #F5F5F5;
	.dashboard__wrap--inner {
		padding:24px 0;
		width: 100%;
		max-width: $contentWidth;
		margin:0 auto;
		display: flex;
		justify-content: space-between;
		gap:32px;
	}
	.dashBoard-main__content {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;  
		flex: auto;      
		gap: 24px;        
	}	
	.approval-statu__box {
		width: 100%;           
		border-radius: 16px;  
		padding:23px 31px;
		strong {
			@include fontoption(20px,#000,700,32px);
		}
		&.document-not{
			background: linear-gradient(0deg, rgba(255, 131, 16, 0.05), rgba(255, 131, 16, 0.05)), #FFFFFF;
			border: 1px solid rgba(255, 131, 16, 0.5);
			strong {
				color: #FF8310;
			}
		}
		&.approval-ing{
			background: #F8F8F8;
			border: 1px solid #ccc;
			strong {
				color: #888;
			}
		}
		&.approval-reject{
			background: linear-gradient(0deg, rgba(255, 72, 48, 0.05), rgba(255, 72, 48, 0.05)), #FFFFFF;
			border: 1px solid rgba(255, 72, 48, 0.5);
			strong { 
				color: $errorColor;
			}
			.reject-reason{
				color: $errorColor;
			}
		}
		&.approval-done{
			background: linear-gradient(0deg, rgba(47, 119, 251, 0.05), rgba(239, 249, 255, 0.5)), #FFFFFF;
			border: 1px solid rgba(47, 119, 251, 0.5);
			strong { 
				color: $pointColor;
			}
		}
	}
	.board-main__box--roun-type {
		width: 100%;
		.top-ctrl-area{
			margin-top: 40px;
			margin-bottom: 24px;
			padding: 0 32px;
			.page-title__wrap {
				margin-top: 0;
				padding-bottom: 0;
			}
			.dropdown{
				min-width: 328px;
			}
		}
		.table__wrap {
			&.brand-ing-table{
				border-top: 0;
				.table-list{
					border-collapse: separate;
					border-spacing: 0 4px;
					tr{
						border: 1px solid #EAEAEA;
						th,
						td{
							border-bottom: 0;
						}
						th{
							background-color: #FAFAFA;
							&:nth-child(1){
								border-top-left-radius: 12px;
								border-bottom-left-radius: 12px;
							}
							&:last-child{
								border-top-right-radius: 12px;
								border-bottom-right-radius: 12px;
							}
						}
						td{
							background-color: #fff;
							&:nth-child(1){
								border-top-left-radius: 12px;
								border-bottom-left-radius: 12px;
							}
							&:last-child{
								border-top-right-radius: 12px;
								border-bottom-right-radius: 12px;
							}
						}
						&+tr{
							margin-bottom: 4px;
							&:last-child{
								margin-bottom: 0;
							}
						}
					}
				}
			}
			thead {
				th {
					span {
						font-weight: 500;
					}
				}
				&+.table__wrap {
					border-top: 0;
				}
			}
			tbody {
				tr {
					td {
						.brandname {
							padding: 0px 16px;
							display: flex;
							align-items: center;
							justify-content: space-between;
							&.mybrandname{
								padding: 0;
							}
							.brand__mark {
								&__core{
									display: inline-block;
									width: 20px;
									height: 20px;
									background-position: 50% 50%;
									background-repeat: no-repeat;
									background-size: 100%;
									background-image:url('../assets/images/icon/icon_bookmark_de_act.png');
									cursor: pointer;
								}
								input[type="checkbox"] {
									@include hiddens;
									&:checked {
										+.brand__mark__core {
											background-image:url('../assets/images/icon/icon_bookmark_act.png')
										}
									}
								}
							}
							.brand {
								display: flex;
								align-items: center;
								.brand__logo {
									min-width: 40px;
									height: 40px;
									margin-left: 16px;
								}
								.brand__title{
									margin-left: 16px;
								}
								.brnad__new{
									@include fontoption(12px,$pointColor,700,26px);
									margin-left: 8px;
									flex-shrink: 0;
								}
							}
							.brand__message {
								@include fontoption(12px,#999,500,22px);
								border: 1px solid #CCC;
								border-radius: 20px;
								min-width: 103px;
							}
						}
						.btn-blue {
							padding:0 12px;
							border-radius: 6px;
							font-size: 14px;
						}
						.flag-progress {
							background: #CCC;
						}
					}
				}
			}
		}
		&.mybrand-box{
			padding: 0 31px 47px;
			background: #FFFFFF;
			border: 1px solid #EAEAEA;
			border-radius: 16px;
			.top-ctrl-area{
				padding: 0;
			}
		}
	}
	.brand-banner__box {
		width: 100%;
		background: linear-gradient(0deg, #CBE6FF, #CBE6FF), #DCF2FF;
		border-radius: 16px;
		display: flex;
		align-items: center;
    justify-content: space-between;
		padding:32px 48px;
		strong {
			@include fontoption(18px,#000,500,30px);
		}
		.btn-blue{
			position: relative;
			&::before{
				content:'';
				display:inline-block;
				position:absolute;
				left: 10%;
				width:20px;
				height: 20px;
				background: url('../assets/images/icon/icon_plus.png') no-repeat 50% 50%;
				cursor: pointer;
			}
		}
		&+.brand-banner__box {
			margin-top:24px;
		}
	}
	.dashBoard-side {
		width: 100%;
		flex: 0 0 302px;
		display: flex;
		flex-direction: column;
		gap: 24px;  
		.side-btn{
			.btn-blue{
				width: 100%;
			}
		}
		.side-box {
			width: 100%;
			background: #FFFFFF;
			border: 1px solid #EAEAEA;
			border-radius: 16px;
			padding: 23px 19px;
			.side-box-top {
				h3 {
					@include fontoption(18px,#000,700,26px);
				}
				h4 {
					@include fontoption(16px,#000,700,22px);
				}
				span {
					@include fontoption(12px,#fff,500,22px);
					padding: 2px 10px;
					background: #000000;
					border-radius: 20px;
				}
				p{
					@include fontoption(12px,#666,400,18px);
				}
			}
			&.side-box__invite{
				.side-box-top {
					h4{
						margin-bottom: 2px;
						line-height: 24px;
					}
				}
			}
			.side-box-middle {
				display: flex;
				padding: 12px 0 15px 0;
				.id {
					line-height: 22px;
				}
				.date {
					@include fontoption(12px,#888,400,18px);
					padding: 2px 0;
					&::before {
						content:'';
						display:inline-block;
						margin: 0 8px;
						height: 10px;
						border: 1px solid #EAEAEA;
					}
				}
			}
			.side-box-cont {
				.authority-list {
					border-bottom: 1px solid #EAEAEA;
					padding: 8px 0 12px 0;
					&:last-child{
						border-bottom: 0;
						padding: 8px 0 0 0;
					}
					.authority-list__company {
						@include fontoption(12px,#333,700,22px);
						margin-bottom: 2px;
					}
					.authority-list-between {
						ul {
							display: flex;
							justify-content: space-between;
							.authority-list__name{
								color: #333;
								line-height: 22px;
							}
							.authority-list__date{
								padding: 0 2px;
								@include fontoption(12px,#888,400,18px);
							}
						}
					}
					.authority-list-center {
						margin-bottom: 6px;
						ul {
							display: flex;
							li {
								color: #333;
								line-height: 22px;
							}
						}
					}
					.button__wrap{
						padding: 0;
					}
				}
				.invite__step {
					padding: 19px 0;
					li {
						strong {
							padding: 5px 12px;
							border: 4px solid #DCF2FF;
							border-radius: 100px;
							position: relative;
							z-index: 1;
							font-family: 'Century Gothic';
							color: $pointColor;
							font-weight: 700;
							line-height: 22px;
						}
						a {
							padding-left: 8px;
							position: relative;
							color: #333;
								line-height: 22px;
							&.step-more{
								color: #2F77FB;								
								&::after {
									content:'';
									display:inline-block;
									position:absolute;
									top:50%;
									transform: translateY(-50%);
									width:16px;
									height: 16px;
									background: url('../assets/images/icon/icon_arrow-next.png') no-repeat 50% 50%;
									cursor: pointer;
								}
							}
						}
						
					}
					li:first-child{
						padding-bottom: 22px;
						&::after {
							content: "";
							display: inline-block;
							height: 16px;
							position: relative;
							top: 26px;
							left: -124px;
							z-index: 0;
							border: 2px solid #c0e1ff;
						}
					}
				}
				.invite__addbox {
					background: #F8F8F8;
					border-radius: 8px;
					padding: 12px; 
					.invite__addbox-btn{
						display: flex;
						justify-content: center;
						align-items: center;
						margin-top: 8px;
						.btn-blue-line{
							width: 137px;
              padding: 0;
							font-weight: 400;
							line-height: 20.27px;
						}
					}
				}
			}
			&.side-box__info {
				padding: 0;
				.side-box__info-top{
					padding: 23px 19px 0 19px;
					.side-box-top {
						display: flex;
						justify-content: space-between;
					}
				}
				.side-box-cont {    
					background: rgba(220, 242, 255, 0.5);
					border-radius: 0px 0px 15px 15px;
					padding: 12px 19px 16px 19px;
					p {
						@include fontoption(14px,#333,400,22px);
						.safetymark {
							@include fontoption(14px,#2F77FB,700,22px);
						}
					}
				}
			}
			&.side-box__authority {
				.side-box-cont {
					margin: 12px 0 0;
					border-top: 2px solid #2F77FB;
				}
			}
			&.side-box__banner {
				background: #CBE6FF;
				border-radius: 12px;
				position: relative;
				.side-company-btn {
					display: block;
					margin-top: 25px;
					position: relative;
					color: $pointColor;
					font-weight: 700;
					line-height: 22px;
					&::after {
						content:'';
						display:inline-block;
						position:absolute;
						width:20px;
						height: 20px;
						background: url('../assets/images/icon/icon_arrow-next.png') no-repeat 50% 50%;
						top: 50%;
            transform: translateY(-50%);
						cursor: pointer;
					}
				}
				&::after {
					content:'';
					display:inline-block;
					position:absolute;
					width:130px;
					height: 126px;
					background: url('../assets/images/icon/icon_side_banner.png') no-repeat 50% 50%;
					bottom: 6px;
					right: 7px;
				}
			}
			&.side-box__approve {
				.side-box-cont {
					.tab__wrap{
						margin-bottom: 0;
						.approve-cont{
							border-bottom: 1px solid #EAEAEA;
							padding: 8px 0 8px 0;
							@include fontoption(14px,#000,400,22px);
							&:nth-child(1){
								padding: 12px 0 8px 0;
							}
							.approve-cont-top{
								ul{
									display: flex;
									justify-content: space-between;
									align-items: center;
									.flag-progress {
										padding: 1px 6px;
										border-radius: 11px;
										background-color:transparent;
										font-size: 12px;
										line-height:18px;
										&.done {
											border:1px solid $pointColor;
											color: $pointColor;
										}
										&.reject {
											border:1px solid $errorColor;
											color: $errorColor;
										}
								}
									.approve-cont__date{
										@include fontoption(12px,#888,400,18px);
									}
								}
							}
							.approve-cont-between{
								ul{
									display: flex;
									align-items: center;
									margin-top: 4px;
									.approve-cont__name{
										@include fontoption(12px,#000,700,22px);
									}
									.approve-cont__chat{
										&::before {
											content:'';
											display:inline-block;
											margin: 0 8px;
											height: 10px;
											border: 1px solid #EAEAEA;
										}
									}
								}
							}
						}
						.approve-cont-more{
							margin-top: 8px;
							a{
								@include fontoption(12px,#000,400,18px);
								position: relative;
								display: flex;
								justify-content: center;
								&::after {
									content: '';
									display: block;
									position: absolute;
									right: 35%;
									top:10%;
									transform: translateY(-50%);
									width: 16px;
									height:16px;
									background-image: url('../assets/images/icon/icon_more.png');
									background-position: center center;
									background-repeat: no-repeat;
									transform: rotate(180deg);
									transition: all 0.3s;
									cursor: pointer;
								}
								&.open {
									&::after {      
										transform: rotate(0deg);    
										transition: all 0.3s;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

// 선거 대쉬보드
.top-notice--gray {
	&.election {
		display: flex;
		flex-direction: column;
		align-items: flex-start;	
		.title {
			@include fontoption(20px,#000,700,32px);
		}
		.sub-title {
			@include fontoption(14px,#000,400,26px);
			&+.election__banner--innerbox {
				margin-top: 16px;
			}
		}
		.election__banner--innerbox {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 16px 20px;				
			background: #FFFFFF;
			border: 1px solid #EAEAEA;
			border-radius: 8px;		
			p {
				@include fontoption(14px,#000,400,26px);
			}
			.btn-line {
				cursor: default;
				opacity: 1;
			}
		}
		&+.election {
			margin-top: 32px;
		}
	}
}
.election__wrap {
	background: #F5F5F5;
	.election__box {
		width: 100%;           
		background: #FFFFFF;
		border: 1px solid #EAEAEA;
		border-radius: 16px;  
		padding:23px 31px;
		display: flex;
		flex-direction: column;	
		.flag-progress {
			width: fit-content;
			margin-bottom: 10px;
		}
		strong {
			@include fontoption(20px,#000,700,32px);
		}
		P {
			@include fontoption(14px,#000,400,28px);
		}      
	}
	.dashBoard-side {
		flex: 0 0 360px;
	}
}
.board-main__box {	
	width: 100%;
	.page-title__wrap {
		margin-top:20px;
		padding-left:32px;
	}
	.brand-list__wrapper {
		width: 100%;
		table {
			width: 100%;
			border-collapse: separate;
			border-spacing: 0 4px;
			thead {
				tr {
					th {
						border-top: 1px solid #EAEAEA;
						border-bottom: 1px solid #EAEAEA;
						height: 58px;
						background: #FAFAFA;				
						span {
							@include fontoption(14px,#000,500,26px)
						}	
						&:first-child {
							border-top-left-radius: 16px; 
							border-bottom-left-radius: 16px;
							border-left: 1px solid #EAEAEA;
						}
						&:last-child {
							border-top-right-radius: 16px; 
							border-bottom-right-radius: 16px;
							border-right: 1px solid #EAEAEA;
						}					
					}		
				}
			}
			tbody {
				tr {
					height: 80px;
					background: #FFFFFF;
					border: 1px solid #EAEAEA;
					td {
						border-top: 1px solid #EAEAEA;
						border-bottom: 1px solid #EAEAEA;
						height: 80px;
						background: #fff;
						text-align: center;
						.brandname {
							padding: 0px 32px;
							display: flex;
							align-items: center;
							justify-content: space-between;
							&.mybrandname{
								padding: 0;
							}
							.brand__mark {
								&__core{
									display: inline-block;
									width: 20px;
									height: 20px;
									background-position: 50% 50%;
									background-repeat: no-repeat;
									background-size: 100%;
									background-image:url('../assets/images/icon/icon_bookmark_de_act.png');
									cursor: pointer;
								}
								input[type="checkbox"] {
									@include hiddens;
									&:checked {
										+.brand__mark__core {
											background-image:url('../assets/images/icon/icon_bookmark_act.png')
										}
									}
								}
							}
							.brand {
								display: flex;
								align-items: center;
								.brand__logo {
									min-width: 40px;
									height: 40px;
									margin:0 16px;
									border:1px solid #EAEAEA;
								}
								.brnad__new{
									@include fontoption(12px,$pointColor,700,26px);
									margin-left: 8px;
									flex-shrink: 0;
								}
							}
							.brand__message {
								@include fontoption(12px,#999,500,22px);
								border: 1px solid #CCC;
								border-radius: 20px;
								min-width: 103px;
							}
						}
						.data-agency {
							&.isReturn {
								color: #FF4830;
							}
						}	
						.underline {
							text-decoration: underline;
						}				
						&:first-child {
							border-top-left-radius: 16px; 
							border-bottom-left-radius: 16px;
							border-left: 1px solid #EAEAEA;
						}
						&:last-child {
							border-top-right-radius: 16px; 
							border-bottom-right-radius: 16px;
							border-right: 1px solid #EAEAEA;
						}						
					}
				}
			}
		}
	}
	.brand-banner__box {
		margin: 15px 0 45px;
	}
	.dropdown {		
		min-width: 328px;
	}
}
.invate-button__wrap {
	width: 100%;
	border-top: 1px solid #F0F0F0;
	margin-top: 12px;
	display: flex;
	align-items: center;
	padding-top: 12px;
	justify-content: center;		
	.btn-blue-line {
		font-weight: 400;
		width: auto;
	}
}
.link-area {
	display: flex;
	justify-content: flex-end;
	a {
		@include fontoption(14px,#000,400,24px);
		text-decoration: underline;
		&::after {
			content: '';
			display: inline-block;
			width: 5px;
			height:8px;
			background: url('../assets/images/icon/icon_arrow_right.png') no-repeat;
			background-size: 100% auto;
			margin-left: 10px;
		}
	}
}
.period-data {
	margin-top:10px;
	font-weight: 500;
}

.brand-opened__step-list {
	margin-top:32px;
	display: flex;
	justify-content: space-around;
	gap: 30px;
	li {
		list-style: none;
		position: relative;
		width: calc(100% / 3);
		padding: 16px;
		background: #FFFFFF;
		border: 1px solid #EAEAEA;
		border-radius: 16px;
		justify-content: center;
		.descripttion-top {
			@include fontoption(14px,#000,400,22px);
			text-align: center;
		}
		.main-title {
			@include fontoption(18px,#2F77FB,700,28px);
			text-align: center;
			margin-top:8px;
		}
		.sub-text {
			position: relative;
			margin-top:32px;
			@include fontoption(14px,#333333,400,22px);
			padding: 14px;
			background: #FFFFFF;
			border: 1px solid #EAEAEA;
			border-radius: 16px;
		}
	}
	.tips-layer {
		position: absolute;		
		left: 0px;
		top: 60px;
		background-color: #fff;
		border: #eaeaea solid 1px;
		border-radius: 16px;
		height: auto;
		margin-top: 6.8px;
		padding: 20px 20px;		
		z-index: 100;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		p {
			@include fontoption(14px,#000,400,26px);
			padding: 6px 20px;		
			margin:1px 0;
			&.active {
				background: #DCF2FF;
				border-radius: 100px;
			}
		}
		&::after {
			border-color: #fff transparent;
			border-style: solid;
			border-width: 0 6px 8px 6.5px;
			content: '';
			display: block;
			left: 55px;
			position: absolute;
			top: -7px;
			width: 0;
			z-index: 1;
		}
		&::before {
			border-color: #eaeaea transparent;
			border-style: solid;
			border-width: 0 6px 8px 6.5px;
			content: '';
			display: block;
			left: 55px;
			position: absolute;
			top: -8px;
			width: 0;
			z-index: 0;
		}
	}
}