// RCS 특장점
.feature__wrap{
  .category-tab{
    position: relative;
    margin-bottom: 0;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transform: translate(0, 0)
  }
  .category-tab.fixed{
    padding-top: 20px;
    min-width: 1440px;
    position: fixed;
    top: 0;
    left: 50%;
    background-color:#fff;
    z-index: 10;
    width:100%;
    margin-left: -50%;
    -webkit-transform: translateZ(0);
  }
  .category-tab.hidden{
    transform: translate(0, -100%);
    top: 200%;
  }
  .one-box{
    position: relative;
    .feature-txt{
      position: absolute;
      top: 0;
      left: 19%;
      &.top-box{
        margin: 0;
        position: static;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
  [class*='feature_']{
    padding-top: 160px;
  }
  .feature-txt{
    .txt-tit{
      @include fontoption(62px,#000,700,88px);
      letter-spacing: -0.05em;
    }
    .txt-des{
      margin-top: 24px;
      @include fontoption(20px,#777,400,28.96px);
      .des-strong{
        font-weight: 500;
        color: #000;
      }
    }
    .txt-notice{
      @include fontoption(16px,#666,400,23.17px);
    }
  }
  .feature-img{
    &.bg-img{
      img{
        width: 100%;
      }
    }
  }
  .one-gray-box{
    background-image: linear-gradient(#F8F8F8, #fff);
    margin-top: 191px;
    .feature-txt{
      position: relative;
      display: flex;  
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-top: 200px;
      z-index: 0;
      .txt-middle{
        max-width: 100%;
        z-index: 0;
        position: relative;
        img{
          width: 700px;
        }
      }
      &::before{
        position: absolute;
        content: '';
        background: url('../assets/images/feature/feature_msg_01_01_bg.png') no-repeat center center;
        background-size: 100%;
        width: 100%;
        height: 232px;
        top: 53%;
      }
    }
    .feature-big-txt{
      margin-top: 160px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      .big-txt{
        @include fontoption(80px,#ddd,700,110px);
        letter-spacing: -0.05em;
        font-family: Noto Sans KR;
        .big-txt-black{
          color: #000;
        }
        .blue-gradient{
          background-image: linear-gradient(to bottom, rgba(0, 191, 255, 1), rgba(0, 135, 241, 1));
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
        }
      }
      .feature-img{
        padding-top: 80px;
      }
    }
  }
  .feature_1{
    padding-top: 34px;
    .one-box{
      display: flex;
      max-width: calc(100vw * 1318/1920);
      margin-left: calc(100vw * 361/1920);
      margin-right: calc(100vw * 241/1920);
      margin-top: 160px;
      padding-bottom: 194px;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      .feature-txt{
        width: 650px;
        left: 0;
      }
    }
    .feature-img{
      &.first-img{
        padding-top: 54px;
        img{
          width: 100%;
        }
      }
    }
    .one-gray-box{
      margin-top: 0;
    }
  }
  
  .feature_3, .feature_4, .feature_5{
    .feature-txt{
      text-align: center;
    }
  }
  .feature_3, .feature_5{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    .feature-txt{
      position: relative;
    }
    .feature-box + .feature-box{
      margin-top: 200px;
    }
    .feature-img{
      margin-top: 70px;
      &.only-bd{
        background-color: #F8F8F8;
        border-radius: 16px;
        img{
          background-color: #F8F8F8;
          margin: 0 auto;
        }
        .only-safetymark{
          padding-top: 100px;
          .title{
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-bottom: 16px;
            h5{
              @include fontoption(32px,#000,700,46.34px);
            }
            img{
              margin: 0;
            }
          }
          p{
            @include fontoption(16px,#666,400,23.17px);
            &+p{
              margin-top: 12px;
            }
            .safetymark-img{
              display: inline-flex;
              width: 25px;
              height: 25px;
              position: relative;
              &::after{
                content: '';
                position: absolute;
                top: 5px;
                background: url('../assets/images/feature/feature_safetymark.png') no-repeat center center;
                background-size: 100%;
                width: 25px;
                height: 25px;
              }
            }
            .safety-url{
              color: $pointColor;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  .feature_4{
    .one-box{
      margin: 0;
      .feature-img{
        margin-top: 22px;
      }
    }
  }
  .feature_5{
    max-width: 1196px;
  }
  .feature_6{
    padding-bottom: 200px;
    .feature-box{
      display: flex;
      gap: 28px;
      justify-content: center;
      align-items: center;
    }
  }
}
.scroll-to-top {
  width: 88px;
  height: 88px;
  right: 100px;
  bottom: 80px;
  background-color: rgba(0, 0, 0, 0.15);
  border:0;
  border-radius: 100%;
  color:#fff;
  transition: all 0.3s linear;
  &::after{
    content: '';
    display: inline-flex;
    background: url('../assets/images/icon/icon_arrow_up_white.png') no-repeat center center;
    width: 36px;
    height: 20px;
  }
}
.only-pc{
  display: block;
}
.only-mo{
  display: none;
}
.max-br{
  display: none;
}
@media all and (min-width:1921px) {
  .max-br{
    display: block;
  }
}
@media all and (min-width:770px) and (max-width:1500px) {
  .feature__wrap{
    .feature_1{
      .one-box{
        max-width: 1318px;
        margin: 160px auto 0;
      }
    }
  }
}
@media all and (max-width:1440px) {
  .feature__wrap{
    .feature_3{
      .feature-img{
        &.only-bd{
          border-radius: 0;
        }
      }
    }
  }
}
@media #{$phone} {
  .feature__wrap{
    .fix-box {
      position: relative;
      &::after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 10%;
        height: 30px;
        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
      }      
    }    
    .category-tab{
      margin: 0;
      padding: 0 16px;
      overflow-x: auto;
      &::-webkit-scrollbar {
        display: none;
      }      
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */      
      ul{
        padding: 0;
        gap: 0;
        overflow-x:visible;
        li {
          padding: 0 12px;
          &:first-child {
            padding-left: 0;
          }
          &:last-child {
            padding-right: 0;
          }          
        }
      }
    }
    .category-tab.fixed{
      min-width: auto;
    }
    [class*='feature_']{
      padding-top: 74px;
    }
    .one-box{
      position: relative;
      .feature-txt{
        position: static;
        &.top-box{
          margin: 0;
          position: static;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
        }
      }
    }
    .feature-txt{
      .txt-tit{
        @include fontoption(31px,#000,700,44px);
        letter-spacing: -0.05em;
      }
      .txt-des{
        margin-top: 12px;
        @include fontoption(14px,#777,400, 20.27px);
      }
      .txt-notice{
        @include fontoption(12px,#666,400, 17.375px);
      }
    }
    .one-gray-box{
      margin-top: 125px;
      .feature-txt{
        padding-top: 100px;
        .txt-middle{
          max-width: 100%;
          z-index: 0;
          position: relative;
          img{
            width: 100%;
            margin: 29.5px 0 auto;
          }
        }
        &::before{
          position: absolute;
          content: '';
          background: url('../assets/images/feature/feature_msg_01_01_bg.png') no-repeat center center;
          background-size: 100%;
          width: 100%;
          height: 232px;
        }
      }
      .feature-big-txt{
        margin-top: 57.5px;
        .big-txt{
          @include fontoption(36px,#ddd,700,48px);
          letter-spacing: -0.05em;
          .blue-gradient{
            padding-right: 2.6px;
          }
        }
        .feature-img{
          padding-top: 40px;
          margin-bottom: 0;
          img{
            width: 100%;
          }
        }
      }
    }
    .feature_1{
      .one-box{
        flex-direction: column;
        max-width: 100%;
        align-items:flex-start;
        margin: 0;
        padding-bottom: 100px;
        .feature-txt{
          width: 100%;
          position: static;
          padding: 0 16px;
        }
      }
      .feature-img{
        &.first-img{
          padding-top: 50px;
          width: 100%;
        }
      }
      .one-gray-box{
        margin-top: 0;
      }
      .feature-txt{
        &::before{
          background: url('../assets/images/feature/feature_msg_01_01_bg_mo.png') no-repeat center center;
          height: 131px;
          background-size: contain;
        }
      }
    }
    .feature_2{
      .one-box{
        .feature-txt{
          padding-left: 16px;
        }
        .feature-img{
          padding-top: 13.5px;
        }
      }
    }
    .feature_4{
      .one-box{
        .feature-img{
          margin-top: 30px;
        }
      }
    }
    .feature_3, .feature_5{
      max-width: 100%;
      .feature-txt{
        position: relative;
      }
      .feature-box + .feature-box{
        margin-top: 80px;
      }
      .feature-img{
        margin-top: 35px;
        &.only-bd{
          border-radius: 0;
          img{
            padding-top: 11px;
            width: 100%;
          }
          .only-safetymark{
            padding-top: 35px;
            .title{
              gap: 5px;
              margin-bottom: 10px;
              h5{
                font-size: 24px;
                line-height: 34.75px;
              }
            }
            p{
              font-size: 12px;
              line-height: 17.375px;
              &+p{
                margin-top: 9px;
              }
              .safetymark-img{
                width: 19px;
                height: 19px;
                &::after{
                  top: 3.5px;
                  background: url('../assets/images/feature/feature_safetymark_mo.png') no-repeat center center;
                  width: 19px;
                  height: 19px;
                  background-size: 100%;
                }
              }
            }
          }
          .only-safetymark + img{
            padding-top: 0;
          }
        }
      }
    }
    .feature_5{
      .feature-img{
        img{
          width: 91%;
          margin: 0 auto;
        }
      }
    }
    .feature_6{
      padding-bottom: 44px;
      .feature-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
        .feature-txt{
          padding: 0 16px;
        }
        .feature-img{
          margin: 0 auto;
          img{
            width: 100%;
          }
        }
      }
    }
  }
  .only-mo{
    display: block;
  }
  .only-pc{
    display: none;
  }
  .scroll-to-top {
    width: 50px;
    height: 50px;
    right: 16px;
    bottom: 40px;
    &::after{
      background: url('../assets/images/icon/icon_arrow_up_white_mo.png') no-repeat center center;
      background-size: cover;
      width: 21.5px;
      height: 12px;
    }
  }  
}