// 브랜드 소식 
.feed__wrap {
    display: flex;
    gap: 32px;
    margin-bottom: 32px;
    .feed__inner {
        flex: auto;
        .page-title__wrap {
            margin-top:0;
        }
        .tab__wrap {
            margin-top:0;
            }
        .feed__textarea {
            textarea {
                height: 70px;
            }
        }
        .notice-tip__wrap {
            .page-title__wrap {
                padding-top: 32px;
            }
            .notice-tip__box {
                display: flex;
                justify-content: space-between;
                li {
                    width: 237px;
                    text-align: center;
                    border: 1px solid #DDDDDD;
                    border-radius: 8px;
                    i {
                        margin: 24px 0 12px;
                        display: inline-block;
                        width: 64px;
                        height: 64px;
                        background-position: 50% 50%;
                        background-repeat: no-repeat;
                        border-radius: 50%;
                        background-size: 100%;
                        &.icon-time {
                            background-image:url('../assets/images/icon/icon_time.png')

                        }
                        &.icon-calendar {
                            background-image:url('../assets/images/icon/icon_calendar.png')

                        }
                        &.icon-pen {
                            background-image:url('../assets/images/icon/icon_pen.png')

                        }
                    }
                    h5 {
                        @include fontoption(18px,#2F77FB,700,28px);
                    }
                    p {
                        padding-top: 8px;
                        @include fontoption(14px,#000,400,22px);
                    }
                    .notice-tip__example {
                        padding: 13px 11px 13px 12px;
                        margin: 25px 14px;
                        border: 1px solid #EEEEEE;
                        border-radius: 8px;
                        text-align: left;
                        strong {
                            @include fontoption(12px,#888,700,19px);
                        }
                        p {
                            padding-top: 4px;
                            @include fontoption(13px,#333,400,19px);
                        }
                    }
                }
            }
        }
        .form-item__content {
            .form-item-row  {
                justify-content: space-between;
                gap: 8px;
                align-items: flex-start;
                > .guide-text {
                    margin-top:0;
                    + .guide-text {
                        margin-top:-6px;
                    }
                }
                .input-item {
                    +.input-item {
                        margin-top:0;
                    }
                }
            } 
        }
        .button-list {
            display:flex;
            gap: 8px;
            margin-top: 12px;
            li {
                display:flex;
                align-items:center;
                font-size:14px;
                color:#fff;
                line-height: 24px;
                font-weight: 500;
                padding:2px 8px 2px 12px ;
                background-color:#aaa;
                border-radius: 4px;
                cursor:pointer;
                .btn-del {
                    width:20px;
                    display:inline-flex;
                    align-items:center;
                    justify-content: center;
                    position:relative;
                    &:before {
                        content:'';
                        width: 11px;
                        height: 1px;
                        background-color:#fff;
                        transform:rotate(45deg);
                        position:absolute;
                        left:50%;
                        margin-left:-5px;
                    }
                    &:after {
                        content:'';
                        width: 11px;
                        height: 1px;
                        background-color:#fff;
                        transform:rotate(-45deg);
                        position:absolute;
                        left:50%;
                        margin-left:-5px;
                    }
                }
                &.active {
                    background-color:$pointColor
                }
            }
        }
        
    }
    .slide-card__wrap {
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 24px 0 12px;
        border-bottom: 1px solid #ddd;
        .slide-card__inner {
            display:flex;
            align-items: center;
            gap: 8px;     
        }
        .card-list {
            display:flex;
            gap: 8px; 
        }
        .card-item {
            width: 60px;
            height: 60px;
            border:1px solid #ddd;
            border-radius: 8px;
            display:inline-flex;
            align-items:center;
            justify-content: center;
            color: #666;
            position:relative;
            cursor: pointer;
            &.active {
                border-color: #000;
                color: #000;
            }
            .btn-del {
                position:absolute;
                right: -4px;
                top: -4px;
                width: 12px;
                height: 12px;
                color: #fff;
                background-color: #000;
                border-radius: 100%;
                &:before {
                    content:'';
                    display:inline-block;
                    width:1px;
                    height:7px;
                    background-color: #fff;
                    transform:rotate(45deg);
                    position:absolute;
                    left:50%;
                    top:50%;
                    margin:-4px 0 0 -1px;
                }
                &:after {
                    content:'';
                    display:inline-block;
                    width:1px;
                    height:7px;
                    background-color: #fff;
                    transform:rotate(-45deg);
                    position:absolute;
                    left:50%;
                    top:50%;
                    margin:-4px 0 0 -1px;
                }
            }
        }
        .btn-add {
            width: 32px;
            height: 32px;
            font-size:24px;
            border:1px solid #ddd;
            border-radius: 100%;
            text-align:center;
            line-height: 28px;
        }
        .guide-box {
            width: 100%;
            padding: 16px;
            background-color: #f4f4f4;
            margin:12px 0 -12px;
        }
    }
}
.brand__feed {
    .modal__content--inner {
        max-width: 628px;
        .modal__content--footer {
            .button__wrap {
                width: auto;
            }
        }
    }
    .brand-info__msg {
        h3 {
            padding-top: 8px;
            @include fontoption(28px,#000,700,36px);
        }
        .msg__file {
            padding: 32px 0 12px;
            border-bottom: 1px solid #BDBDBD;
            display: flex;
            justify-content: space-between;
            p {
                padding: 5px 0;
                @include fontoption(14px,#000,400,26px);
            }
            .input-item {
                .btn {    
                    height: 36px;
                    min-width: 100px;
                    padding: 0 24px;
                }
            }
        }
        ul {
            list-style: disc;
            text-align: left;
            padding-top: 8px;
            li {
                list-style-position: inside;
                padding-bottom: 2px;
                @include fontoption(12px,#000,400,22px);
            }
        }
        .msg__image-container {
            margin-top: 30px;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(18%, auto));
            padding: 20px;
            gap: 12px;
            border: 1px solid #DDDDDD;
            border-radius: 8px;
            .msg__image-item {
                height: 92px;
                background: #FFFFFF;
                border: 1px dashed #DDDDDD;
                border-radius: 8px;
                padding: 34px 0;
                @include fontoption(14px,#666,400,24px);
            }
        }
    }
}


.feed-emulator__wrap {
    flex:0 0 360px;
    width: 360px;
    min-height: 560px;
    position:sticky;
    border-radius:16px;
    border:1px solid #eaeaea;
    background-color:#fff;
    padding:16px;
    
}
.feed-emulator {
    display:flex;
    flex-direction: column;
    height: 100%;
    .emulator-header {
        flex:0 0 60px;
        border-bottom: 1px solid #eaeaea;
        display:flex;
        align-items: flex-start;
        &__inner {
            display:flex;
            align-items:center;
            gap: 8px;
            height: 48px;
        }
        .profile {
            display:flex;
            align-items: center;
            gap:4px;
            &__image {
                width: 32px;
                height: 32px;
                img {
                    width:100%;
                    height: 100%;
                }
            } 
            .brand-name {
                padding-left:4px;
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
            }
        }
        button {
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            &.btn-back {
                background-image:url('../assets/images/cmp/btn_prev.png')
            }
            &.btn-more {
                background-image:url('../assets/images/cmp/btn_more.png')
            }
            &.btn-down {
                background-image:url('../assets/images/cmp/chevron_down.png')
            }
        }
    }
}
div[class^="feed"] {
    .emulator-body {
        padding: 20px 0;
        .feed-date {
            font-size: 13px;
            line-height: 19px;
            color: #999;
            margin-bottom: 14px; 
        }
        .feed-title {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
        }
        .feed-content {
            margin-top: 8px;
            line-height: 22px;
            white-space: pre-wrap;
        }
        div[class^="preview"] {
            margin-top: 12px;
        }
    
        .item--none {
            width:100%;
            height:328px;
            border-radius: 12px;
            background-color: #F4F4F4;
            display: flex;
            align-items:center;
            justify-content: center;
            p {
                color:#999;
                display:flex;
                flex-direction: column;
                align-items: center;
                gap: 6px;
                line-height: 22px;
                &:before {
                    content:'';
                    width: 64px;
                    height: 64px;
                    background-position: 50% top;
                    background-repeat: no-repeat;
                }
                &.img:before {
                    background-image: url('../assets/images/icon/icon_no_img.png')
                }
                &.url:before {
                    background-image: url('../assets/images/icon/icon_no_cont.png')
                }
            }
        }
        .preview-slideview {
            .swiper-container {
                margin: 0 -16px;
                padding: 0 16px;
            }
            
            .swiper-slide {
                width: 258px !important;
                border-radius:12px;
                border:1px solid #ddd;
                .item--none  {
                    height: 258px;
                    border-radius:12px 12px 0 0;
                }
                .slide-content {
                    padding: 16px;
                    line-height:22px;
                    .title {
                        font-weight: 500;
                    }
                    .description {
                       margin-top: 8px;
                    }
                }
            }
        }
    }
}


.feed-list {
    margin-top: 32px;
    width: calc(100% - 360px - 32px);
    border-top: 2px solid #bcbcbc;
    &__filter {
        padding: 20px 0;
        display:flex;
        flex-direction: column;
        gap: 12px;
        border-bottom:2px solid #ddd;
        .filter-row {
            display:flex;
            align-items:center;
            flex-direction: row;
            gap: 24px;
            .filter-row__title {
                flex: 0 0 56px;
                padding-left: 16px;
                font-weight: 500;
            }
            .scope-list {
                flex: auto;
                display: flex;
                flex-direction: row;
                align-items:center;
                gap: 6px;
                li {
                    line-height: 23px;
                    height:28px;
                    border:1px solid #999;
                    color: #999;
                    border-radius: 30px;
                    padding:2px 17px;
                    cursor:pointer;
                    &.active {
                        border-color: $pointColor;
                        color:$pointColor;
                    }
                }
            }
            &.ctrl {
                margin-top: 8px;
            }
            .data-range {
                display:flex;
                gap: 8px;
            }
        }
    }
    .feed-view__wrap {
        padding: 32px 0;
        .feed-view__top {
            position:relative;
            display:flex;
            flex-direction: column;
            gap: 4px;
            .feed-view__info {
                display:flex;
                flex-direction: row;
                align-items: center;
                li {
                    display:inline-flex;
                    align-items:center;
                    line-height: 26px;
                    .label {
                        display: inline-block;
                        font-weight: 700;
                        margin-right:6px;
                    }
                    &:before {
                        content:'';
                        display: inline-block;
                        width:1px;
                        height: 12px;
                        background-color: #ddd;
                        margin:0 12px;
                    }
                    &:first-child {
                        &:before {
                            display: none;
                        }
                    }
                    &.id {
                        font-weight: 700;
                    }
                    &.type {
                        font-weight: 500;
                    }
                    &.status {
                        color: $pointColor;
                        font-weight: 500;
                    }
                }
            }
            .ctrl {
                position:absolute;
                right:0;
                top:0;
                display:inline-flex;
                gap: 8px;
                padding-right: 16px;
            }
            .btn {
                width: 42px;
                height: 42px;
                border-radius: 100%;
                border:1px solid #ddd;
                .icon-pin {
                    width: 18px;
                    height: 18px;
                    background:url('../assets/images/icon/icon_pin.png') no-repeat 50% 50%
                }
                .icon-more {
                    width: 18px;
                    height: 4px;
                    background:url('../assets/images/icon/icon_more_dot.png') no-repeat 50% 50%
                }
            }
            .layer__more-menu {
                position:absolute;
                top: 45px;
                right: 0;
                width:71px;
                height:113px;
                box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.03), 0px 0px 14px rgba(0, 0, 0, 0.1);
                border-radius: 6px;
                li {
                    border-top: 1px solid #f8f8f8;
                    &:first-child {
                        border:0
                    }
                }
                a {
                    display:block;
                    text-align:center;
                    line-height: 37px;
                }
                
            }
        }
        .feed-view {
            margin-top: 24px;
            display:flex;
            justify-content: center;
            &__box {
                width: 360px;
                border-radius: 8px;
                border: 1px solid #ddd;
                padding: 24px 16px;
            }
            
        }
        + .feed-view__wrap {
            border-top: 10px solid #f8f8f8;
        }
    }
    
}