//가입 페이지
.join {    
    width: $contentWidth2;
    margin: 0 auto;
    padding-bottom: 80px;
    .page-title__wrap{
        h3{
            font-size: 28px;
        }
    }
    .guide-text{
        &.bt16{
            margin: 0 0 16px 0;
        }
    }
    .table__wrap {
        .form-table {
            th {
                padding: 16px 0 16px 16px;
                &.th-tel {
                    padding: 20px 0 20px 8px;
                    width: 83px;
                }
            }
            td {
                padding: 16px 16px 16px 0;
                &.align--top{
                    .input-tel{
                        max-width: 120px;
                        .input{
                            width: 120px;
                        }
                    }
                }
            }
            .tr-total-tel{
                th {
                    &.th-tel {
                        padding: 16px 0 0 24px;
                        border: 0;
                        vertical-align: middle;
                    }
                }
                td {
                    border-bottom: 0;
                    padding: 16px 0 0;
                    &.align--top{
                        padding: 16px 16px 0 16px;
                        .input-tel{
                            max-width: 120px;
                            .input{
                                width: 120px;
                            }
                        }
                    }
                }
            }
            .input-item {
                &.service {
                    .checkbox + .checkbox {
                        display:inline-block;
                        margin-left: 34px;
                    }
                }
                &.w--half {
                    display:flex;
                    justify-content:space-between;
                    > div {
                        width: 50%;
                    }
                }
                
                &.ip{
                    width: 100%;
                    margin-bottom: 8px;
                    .input {
                        flex:1;
                    }
                    &+.ip{
                        margin-top: 0;
                    }
                }
                &.master-change-btn{
                    gap: 32px;
                }
            }
            .input-item + .master-change-btn{
                margin-top: 0;
            }
            .service-range {
                .form-item-row {
                    margin-top:0;
                }
                .form-item-row__title {
                    font-weight: 700;
                    flex:0 0 170px;
                    line-height: 36px;
                }
                .service-list {
                    width:calc(100% - 170px);
                    display: flex;
                    flex-wrap:wrap;
                    li {
                        width: 200px;
                        height: 36px;
                        display:inline-flex;
                        align-items: center;
                        &.w--full {
                            flex: none;
                            width: 100%;
                        }
                    }
                }
            }
            .agency {
                .input-item {
                    display: flex;
                    align-items:center;
                    justify-content: flex-start;
                    .radiobox {
                        width: 280px;
                    }
                    .item-label {
                        font-weight: 500;
                        margin-right: 32px;
                    }
                }
                .result-text {
                    margin-left:32px;
                }
            }
            .agency-phone {
                gap: 8px;
                margin-bottom: 8px;
                .input-item {
                    flex: auto;
                    width: auto;
                    padding-left: 8px;
                    &:first-child {
                        flex: 0 0 348px;
                        padding-left:0;
                    }
                    &__title {
                        margin-right: 8px;
                    }
                    +.input-item{
                        margin-top: 0px;
                    }
                    .inpun-item__title{
                        font-weight: 500;;
                    }
                }
            }
            .agency-ip {
                gap: 8px;
                margin-bottom: 8px;
                margin-top: 0px;
                .input-item {
                    flex: auto;
                    width: auto;
                    &:first-child {
                        flex: 0 0 350px;
                        padding-left:0;
                    }
                    +.input-item{
                        margin-top: 0px;
                    }
                }
            }
            .agency-key {
                gap: 60px;
                .flag-progress {
                    margin-right: -60px;
                    color:$pointColor;
                    line-height: 10px;
                    padding: 7px 12px;
                    border-radius: 21px;
                    border: 0;
                    background-color:rgba(38, 130, 238, 0.08);
                }
                .text {
                    display:inline-block;
                    padding:0 12px;
                }
                .btn-default-line {
                    padding: 0 18px;
                }
                .btn-only-icon {
                    margin-left: 6px;
                }
            }
            .agency-edit {
                .agency-key {
                    gap: 0;
                    justify-content: space-between;
                    .flag-progress {
                        margin-right: -35px;
                    }
                    .agency-btn {
                        min-width: 165px;
                    }
                }
            }
        }
        &.join-table__wrap{
            &:last-child{
                border-bottom: 1px solid #ddd;
            }
        }
    }
    .authority {
        display: flex;
        dl {
            width: 100%;
            max-width: 590px;
            border: 1px solid #ddd;
            border-radius: 6px;
            &.isSelect {
                border:1px solid #2F77FB;
            }
            dt {
                border-bottom: 1px solid #ddd; 
                @include fontoption(16px,#000,400,26px); 
                padding:16px;
            }
            dd {
                padding:16px;
                ul {
                    li {
                        position: relative;
                        @include fontoption(16px,#000,400,26px); 
                        &:before {
                            content: '';
                            width: 4px;
                            height: 4px;
                            border-radius:50%;                       
                            background: #000000;
                            display: inline-block;
                            vertical-align: middle;
                            margin-right:10px;
                        }                        
                    }
                    li+li{
                        margin-top:4px;
                    }
                } 
            }
            &+dl{
                margin-left: 10px;
            }
        }
    }
    .button__wrap {
        &.flex-end {
            padding-top: 16px;
        }
        &.button__left {
            padding: 0;
        }
    }
    .guide-text__link {
        a {
            text-decoration: underline;
            &::after {
                content: '';
                display: inline-block;
                position: relative;
                width: 16px;
                height: 16px;
                background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACgSURBVHgB3Y+xDcMgEEU5BNQewSNkBUahRAzhGVIgSkbICB4hGcEjpAYE4aRESmEgcenfgHT33/1PyHllrb045+bRHm0NGGMLpfSOIHIEIIRQALBV0NqDAOnIez/FGNdSypxSksaYx88JUEqpJ+dcvpPcyD8VvlUTTK1ZF/CpgP+cs9zbgZEZr6NZa73t7bEWIISw1KdrRjUrVON1ZD6JXqKgSOBJ/0xEAAAAAElFTkSuQmCC);
                right: 0;
                top: 11.5px;
                transform: translateY(-50%);
            }
        }
    }
    .modal__content--inner {
        overflow: visible;
        .modal__content--body {
            overflow: visible;
        }
    }
    .form-item__content {
        .btn-default-line {
            &.small {
                height: 36px;
            }
        }
    }
    .top-progress-area {
        .flag-progress {
            color: #fff;
            background-color: #999;
            border: 0;
            line-height: 26px;    
            padding: 6px 12px;
            &.done {
                color:#fff;
                background-color:$pointColor;
            }
            &.reject {
                color:#fff;
                background-color: $errorColor;
            }
            &.ing {
                color:#fff;
                background-color:#FF8310;
            }
        }
    }
}

.top-notice--gray {
    padding:16px 24px;
    background-color:#F8F8F8;
    border-radius: 8px;
    .no-default-style {
        li {
            list-style: none;
            .flag-progress {
                margin-right: 4px;
            }
            &+li {
                margin-top: 8px;
            }
        }
    }
    +.page-title__wrap {
        margin-top: 24px;
    }
    +.step__wrap {
        margin-top: 24px;
    }
    &.gray-btn {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 32px;
    }
    &.gray__bottom {
        margin-top: 32px;
    }
}
.bottom-notice--gray {
    padding:16px 24px;
    background-color:#F8F8F8;
    border-radius: 8px;
    margin-top: 32px;
    +.page-title__wrap {
        margin-top: 24px;
    }
    +.step__wrap {
        margin-top: 24px;
    }
    &.gray-btn {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 32px;
    }
    &.gray__bottom {
        margin-top: 32px;
    }
}

.agree{
    &__wrap {
        margin-top: 32px;
        
    }
    &__title {
        font-size: 28px;
        font-weight: 500;
        line-height: 40px;
        margin-bottom: 16px;
    }
    &__item {
        +.agree__item {
            margin-top: 52px;
        }
        .checkbox {
            margin-bottom: 16px;
            &__text {
                font-weight: 700; 
                &.chkAll {
                    font-size: 18px;
                    line-height: 30px;
                    position:relative;
                    top: -4px;
                }
            }
        }
    }
    &__box {
        max-height: 240px;
        border:1px solid #ddd;
        border-radius: 8px;
        padding:24px;
        line-height: 26px;
        overflow-y:auto;
        .terms {
            font-size: 14px;
            line-height: 26px;
            color: #666;
            &__h1 {
                font-weight: 700;
                font-size: 18px;
                line-height: 30px;
                
            }
            &__h2 {
                font-weight: 500;
                font-size: 16px;
                line-height: 28px;
            }
            &__text {
                +.terms__h2 {
                    margin-top: 30px;
                }
            }
        }
    } 
    
}
.join-compt__wrap {
    text-align: center;
    padding: 48px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
        font-size: 28px;
        font-weight: 500;
        line-height: 38px;
        margin-bottom: 16px;
    }
    .text {
        font-size: 18px;
        line-height: 28px;
        em {
            font-weight: 500;
            font-style: normal;
            text-decoration: underline;
        }
    }
}

// flag-progress
.flag-progress {
    padding: 5px 12px 7px 12px;
    border-radius: 15px;
    font-weight: 500;
    color:#999;
    background-color:transparent;
    font-size: 12px;
    line-height:18px;
    border:1px solid #999;
    height: 24px;
    line-height: 100%;
    border:0;
    border:0;
    &.done {
        background-color: rgba(238, 249, 255, 1);
        color:rgba(47, 119, 251, 1);  
     }
     &.ing {
        background-color: rgba(248, 248, 248, 1);
        color:rgba(136, 136, 136, 1);                
     }
     &.return {
        background-color: rgba(255, 72, 48, 0.1);
        color:#FF4830;            
     }
     // 요청 (기업 대시보드에서 사용됨)
     &.request {
        background-color: rgba(248, 248, 248, 1);
        color:rgba(136, 136, 136, 1);  
     }
     &.reject {
        border-radius: 15px;
        border: 1px solid #FF4830;
        background-color: #fff;
        @include fontoption(12px,#FF4830,400, 20px);
        padding: 2px 10px 0px 10px;
        position:absolute;
        height: 27px;
        box-sizing: border-box;
        margin-top: 1px;
     }
     +.flag-progress {
        margin-left: 16px;
     }
}

.withdrawal__wrap {
    margin-top: -20px;
    .text {
        text-align: center;
        @include fontoption(14px,#000,400,26px);
    }
    .guide-list {
        margin: 32px 0 16px;
        border-radius: 8px;
        border: 1px solid #DDD;
        padding: 24px;
        p {
            @include fontoption(14px,#666,400,26px);
            display:flex;
            align-items:center;
            gap: 8px;
            &:before {
                content:'';
                display:inline-block;
                width: 4px;
                height: 4px;
                background-color:#666;
                border-radius: 100%;
            }

        }
    }
    .checkbox {
        &__text {
            font-weight: 700;
        }
    }
}

.title-guide {
    margin-top: -20px;
    padding: 16px 0;
}

.add-link{
    a{
        text-decoration: underline;
        margin-left: 4px;
    }
}

.table__wrap{
    &:last-child{
        &.btm-line__wrap{
            tr{
                &:last-child{
                    th,td{
                        border-bottom: 2px solid #ddd;
                    }
                }
            }
        }
    }
}

.join{
    .form-table{
        .license-change{
        .input-item{
            gap:33px;
        }
        }
    } 
}
.confirm-msg {
    @include fontoption(16px,#666,400,26px);
}

.btn{
    &.medium{
        &.leave-btn{
            padding: 0 30px;
        }
    }
}