//가입 페이지
.join {
    width: 100%;
    max-width: $contentWidth2;
    margin: 0 auto;
    .table__wrap {
        .form-table {
            th {
                padding: 20px 0 20px 16px;
                &.th-tel {
                    padding: 20px 0 20px 8px;
                    width: 83px;
                }
            }
            td {
                padding: 20px 16px 20px 0;
            }
            .input-item {
                &.service {
                    .checkbox + .checkbox {
                        display:inline-block;
                    }
                }
                &.w--half {
                    display:flex;
                    justify-content:space-between;
                    > div {
                        width: 50%;
                    }
                }
                &.input-half {
                    gap: 180px;
                }
            }
            .service-range {
                .form-item-row {
                    margin-top:0;
                }
                .form-item-row__title {
                    font-weight: 700;
                    flex:0 240px;
                    line-height: 42px;
                }
                .service-list {
                    flex:auto;
                    display: flex;
                    flex-wrap:wrap;
                    li {
                        width: 33.3%;
                        height: 42px;
                        display:inline-flex;
                        align-items: center;
                    }
                }
            }
            .agency {
                .input-item {
                    display: flex;
                    align-items:center;
                    justify-content: flex-start;
                    .item-label {
                        margin-right: 55px;
                    }
                }
                .result-text {
                    margin-left:20px;
                }
            }
            .agency-phone {
                gap: 8px;
                margin-bottom: 8px;
                .input-item {
                    flex: auto;
                    width: auto;
                    padding-left: 24px;
                    &:first-child {
                        flex: 0 0 338px;
                        padding-left:0;
                    }
                    &__title {
                        margin-right: 8px;
                    }
                    +.input-item{
                        margin-top: 0px;
                    }
                    .inpun-item__title{
                        font-weight: 500;;
                    }
                }
            }
            .agency-ip {
                gap: 8px;
                margin-bottom: 8px;
                margin-top: 0px;
                .input-item {
                    flex: auto;
                    width: auto;
                    &:first-child {
                        flex: 0 0 350px;
                        padding-left:0;
                    }
                    +.input-item{
                        margin-top: 0px;
                    }
                }
            }
            .agency-key {
                .inner-table {
                    td {
                        // padding:7px 16px;
                        border:0;
                        &:first-child {
                            padding-left: 0;
                        }
                    }
                    tr:first-child {
                        td {
                            padding-top: 0;
                        }
                    }
                }
                .flag-progress {
                    color:$pointColor;
                    line-height: 26px;
                    padding: 7px 12px;
                    border-radius: 21px;
                    border: 0;
                    background-color:rgba(38, 130, 238, 0.08);
                }
                .text {
                    display:inline-block;
                    padding:0 12px;
                }
                .btn-default-line {
                    padding: 0 18px;
                }
                .btn-only-icon {
                    margin-left: 6px;
                }
            }
        }
    }
    .authority {
        display: flex;
        dl {
            width: 100%;
            max-width: 590px;
            border: 1px solid #ddd;
            border-radius: 6px;
            &.isSelect {
                border:1px solid #2F77FB;
            }
            dt {
                border-bottom: 1px solid #ddd; 
                @include fontoption(16px,#000,400,26px); 
                padding:16px;
            }
            dd {
                padding:16px;
                ul {
                    li {
                        position: relative;
                        @include fontoption(16px,#000,400,26px); 
                        &:before {
                            content: '';
                            width: 4px;
                            height: 4px;
                            border-radius:50%;                       
                            background: #000000;
                            display: inline-block;
                            vertical-align: middle;
                            margin-right:10px;
                        }                        
                    }
                    li+li{
                        margin-top:4px;
                    }
                } 
            }
            &+dl{
                margin-left: 10px;
            }
        }
    }
    .button__wrap {
        &.flex-end {
            padding-top: 16px;
        }
        &.button__left {
            padding: 0;
        }
    }
    .guide-text__link {
        a {
            text-decoration: underline;
            &::after {
                content: '';
                display: inline-block;
                position: relative;
                width: 16px;
                height: 16px;
                background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACgSURBVHgB3Y+xDcMgEEU5BNQewSNkBUahRAzhGVIgSkbICB4hGcEjpAYE4aRESmEgcenfgHT33/1PyHllrb045+bRHm0NGGMLpfSOIHIEIIRQALBV0NqDAOnIez/FGNdSypxSksaYx88JUEqpJ+dcvpPcyD8VvlUTTK1ZF/CpgP+cs9zbgZEZr6NZa73t7bEWIISw1KdrRjUrVON1ZD6JXqKgSOBJ/0xEAAAAAElFTkSuQmCC);
                right: 0;
                top: 11.5px;
                transform: translateY(-50%);
            }
        }
    }
    .modal__content--inner {
        .modal__content--body {
            overflow: visible;
        }
    }
    .form-item__content {
        .btn-default-line {
            &.small {
                height: 36px;
            }
        }
    }
    .top-progress-area {
        .flag-progress {
            color: #fff;
            background-color: #999;
            border: 0;
            line-height: 26px;    
            padding: 6px 12px;
            &.done {
                color:#fff;
                background-color:$pointColor;
            }
            &.reject {
                color:#fff;
                background-color: $errorColor;
            }
            &.ing {
                color:#fff;
                background-color:#FF8310;
            }
        }
    }
}

.top-notice--gray {
    padding:16px 24px;
    background-color:#F8F8F8;
    border-radius: 8px;
    +.page-title__wrap {
        margin-top: 24px;
    }
    +.step__wrap {
        margin-top: 24px;
    }
    &.gray-btn {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin-bottom: 32px;
    }
    &.gray__bottom {
        margin-top: 32px;
    }
}
.bottom-notice--gray {
    padding:16px 24px;
    background-color:#F8F8F8;
    border-radius: 8px;
    margin-top: 32px;
    +.page-title__wrap {
        margin-top: 24px;
    }
    +.step__wrap {
        margin-top: 24px;
    }
    &.gray-btn {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin-bottom: 32px;
    }
    &.gray__bottom {
        margin-top: 32px;
    }
}

.agree{
    &__wrap {
        margin-top: 32px;
        
    }
    &__title {
        font-size: 28px;
        font-weight: 500;
        line-height: 40px;
        margin-bottom: 16px;
    }
    &__item {
        +.agree__item {
            margin-top: 52px;
        }
        .checkbox {
            margin-bottom: 16px;
            &__text {
                font-weight: 700; 
                &.chkAll {
                    font-size: 18px;
                    line-height: 30px;
                }
            }
        }
    }
    &__box {
        max-height: 240px;
        border:1px solid #ddd;
        border-radius: 8px;
        padding:16px 24px;
        font-size: 16px;
        line-height: 26px;
        color: #666;
        overflow-y:auto;
        .terms {
            color: #666;
            font-size: 14px;
            line-height: 26px;
            &__h1 {
                font-weight: 700;
                font-size: 18px;
                line-height: 30px;
                
            }
            &__h2 {
                font-weight: 500;
                font-size: 16px;
                line-height: 28px;
            }
            &__text {
                +.terms__h2 {
                    margin-top: 30px;
                }
            }
        }
    } 
    
}
.join-compt__wrap {
    text-align: center;
    padding: 80px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
        font-size: 28px;
        font-weight: 500;
        line-height: 38px;
        margin-bottom: 16px;
    }
    .text {
        font-size: 18px;
        line-height: 28px;
    }
    +.button__wrap {
        padding-bottom:70px;
    }
    .top-notice--gray {
        margin-top: 32px;
        padding: 30px 127px;
        text-align: center;
        p {
            margin-bottom: 16px;
            @include fontoption(14px,#000,400,24px);
        }
        ul {
            text-align: left;
            @include fontoption(12px,#000,400,22px);
        }
    }
}


.flag-progress {
    padding: 6px 12px;
    border-radius: 15px;
    font-weight: 500;
    color:#999;
    background-color:transparent;
    font-size: 12px;
    line-height:18px;
    border:1px solid #999;
    height: 24px;
    line-height: 100%;
    &.done {
        border-color:$pointColor;
        color:$pointColor;
    }
    &.reject {
        border-color: $errorColor;
        color:$errorColor;
    }
    &.ing {
        border-color:#FF8310;
        color:#FF8310;
    }
}

.withdrawal-text__wrap {
    padding:32px 0 0;
    .guide-text {
        font-size: 16px;
        line-height: 26px;
    }
    .checkbox {
        margin-top: 32px;
        &__text {
            font-weight: 700;
        }
    }
}