$headerHeight: 100px;
$contentPaddingM: 16px;
$contentWidth: 1440px;
$contentWidth2: 1024px;

.wrap {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    &.isfixed {
        .brand-lnb {
            position: sticky;            
            align-self: flex-start;    
            left:0;
            top:100px;
            transition: all 0.03s;
        }
        .contents {
            padding-top: 70px;
        }
    }
}

.inner { 
    width:$contentWidth;
    margin:0 auto;
}
// 컨텐츠 넓이 조정
.header {
    // position:fixed;
    width:100%;
    border-bottom:1px solid #eaeaea;
    height:$headerHeight;
    background:#fff;
    z-index:11;
    flex:0 0 100px;
    &.isfixed {
        position: fixed;        
        height:70px;
        width: 100%;
        top:0;
        left:0;
        transition: all 0.03s ease-in;
        z-index: 9;
        .nav {
            &-item {
                > a {
                    line-height: 70px;
                }
            }
        }
        .sub-menu__wrap {
            top: 85px;
        }
        .gnb_full_bg {
            top:70px;
            height:66px;            
        }
    }
    .inner {
        display:flex;
        justify-content: space-between;
        align-items:center;
        height:100%;
    }
}
.header__logo  {
    h1{
        width:180px;
        height:30px;
        background:url('../assets/images/layout/logo.png') no-repeat 50% 50%;   
    }
    a {
        display:block;
        height:100%;
    }
}
.header__menu {
    display:flex;
}
.nav {
    display:flex;
    align-items: center;
    &__inner {
        > ul{
            display:flex;
            align-items:center;
            padding-right: 48px;
        }
        &:after {
            content:'';
            width:1px;
            height:18px;
            background-color:rgba(0,0,0,0.1)
        }
    }
    &-item {
        padding:0 24px;
        position:relative;
        > a {
            font-size:18px;
            line-height:100px;
            display:inline-block;
            position: relative;                   
        }
        &:hover {
            > a {
                color:#2F77FB !important;
                font-weight: 500;
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 50%;
                    bottom:0;
                    transform: translateX(-50%);
                    height:4px;
                    width:100%;
                    background-color: rgba(47, 119, 251, 1);
                    font-weight: 500;
                }
            } 
        }         
        // 서브 메뉴
        .sub-menu__wrap {
            position: absolute;
            top: 125px;
            left:50%;
            transform: translateX(-50%);
            z-index: 11;
            ul {
                display: flex;
                justify-content: center;
                align-items: center;                
                flex-wrap: nowrap;
                li {
                    white-space: nowrap;
                    a {
                        padding: 29px 30px 23px;
                        @include fontoption(16px,#000, 400,28px);
                        &:hover {
                            color:#2F77FB !important;
                            font-weight: 500; 
                        }
                    }
                }
            }
        }
    }
    &-sub {
        position:absolute;
        display: none;
        left:-10px;
        top:100px;
        width:160px;
        padding: 20px;
        border:1px solid #ccc;
        background-color:#fff;
        li {
            
            a {
                font-size: 14px;
            }
        }
    }
    &__button {
        display:none;
        &--close {
            width: 20px;
            height:20px;
            background: url('../assets/images/icon/icon_close.png') no-repeat;
            background-size: 100% auto;            
        }
    }
    .mobile-nav__top {
        display: none;
    }
}
.gnb_full_bg {
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0;
    top: 100px;
    background-color: #fff;
    border-bottom: 1px solid rgba(240, 240, 240, 1);
    z-index: 10;
}
.alarm-wrap__layer {
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.alarm-wrap__layer--container {
    position: fixed;
    right: 0;
    top:0;
    width: 100%;
    max-width: 420px;
    height: 100%;
    background-color: #fff;
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    z-index: 11;
    .alarm-wrap__header {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        height: 80px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        h2 {
            @include fontoption(24px, #000, 400, 24px);
            padding-left: 24px;
        }
        .btn-close-icon {
            position: absolute;
            right: 24px;
            top: 50%;
            min-width: 20px;
            transform: translateY(-50%);            
            padding:0;
            background: url('../assets/images/icon/icon_close.png') no-repeat center center;
            width:20px;
            height:20px;
        }
    }
    .alarm-wrap__body {
        .alarm-msg__notice {
            padding: 20px 24px;
            @include fontoption(14px, #000, 400, 26px);
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        }
        .alarm-msg__wrap {
            max-height: 650px;
            overflow: auto;
            li {
                padding: 20px 24px;
                border-bottom: 1px solid #F0F0F0;
                .alarm-text {
                    position: relative;
                    margin-top:8px;
                    @include fontoption(14px,#000,400,26px);
                    .btn-remove-alarm {
                        position: absolute;
                        right: 0px;
                        bottom: 0px;
                        min-width: 20px;        
                        padding:0;
                        background: url('../assets/images/icon/btn_remove_alarm.png') no-repeat center center;
                        width:22px;
                        height:22px;            
                    } 
                    pre {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;	
                        @include fontoption(14px,#999999,400,26px);
                    }                    
                }
                .alarm-info {
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    padding-right: 25px;
                    .data {
                        @include fontoption(14px,#999999,400,26px);
                    }
                    .flag-progress {
                        border: 0;
                        padding: 5px 12px 6px;
                        background-color: #fff;
                        &.done {
                            color:$pointColor;
                            border:1px solid $pointColor;
                        }
                        &.reject {
                            color:$errorColor;
                            border:1px solid  $errorColor;
                        }
                        &.ing {
                            color:#999999;
                            border:1px solid #999999;
                        }
                    }  
                    .btn-remove-alarm {
                        position: absolute;
                        right: 0px;
                        bottom: 0px;
                        min-width: 20px;        
                        padding:0;
                        background: url('../assets/images/icon/btn_remove_alarm.png') no-repeat center center;
                        width:22px;
                        height:22px;            
                    }
                }               
            }
        }
    }
}
.header__util {
    position: relative;
    display:flex;
    align-items:center;
    padding-left:48px;
    &::before {
        content: '';
        display: block;
        width:1px;
        height:18px;
        background-color: #ddd;
        position: absolute;
        left:0;
        top:50%;
        transform: translateY(-50%);
    }
    a {
        &.is-login {
            &::after {
                content: '';
                display: inline-block;
                vertical-align: middle;
                width: 3px;
                height: 3px;            
                background: #D9D9D9;
                border-radius: 50%;
                margin:0 24px;
            }
        }
    }
    .link-dashboard {
        font-size:14px;
        color:#000;
        font-weight: 400;
        line-height: 20px;
        margin-right:24px;
        &::after {
            content: '';
            display: inline-block;
            width: 3px;
            height: 3px;
            background: #D9D9D9;
            border-radius: 50%;
            margin-left: 24px;
            vertical-align: middle;
        }
    }
    .alarm {
        display:inline-block;
        width:24px;
        height:24px;
        position:relative;
        width:38px;
        padding-left:5px;
        cursor:pointer;
        background:url('../assets/images/layout/ico_alarm.png') no-repeat left 5px top 50%;
        &__num {
            border-radius:10px;
            padding:0 4px;
            font-size:10px;
            position:absolute;
            left:13px;
            background-color:#FF4830;
            color:#fff;
            line-height:13px;
        }
    }
    .user {
        position:relative;
        margin-right: 24px;
        z-index: 10;
        > a {
            font-size: 14px;
            position:relative;
            display:inline-block;
            width: 74px;
            cursor: pointer;
            &::after {
                content:'';
                display:inline-block;
                position: absolute;
                right:6px;
                top:6px;
                width: 6px; 
                height: 6px; 
                border: 2px solid #666; 
                border-width: 1px 1px 0 0; 
                transform: rotate(135deg) translate(-50%, -50%);
            }
            &.isActive{
                &::after {
                    right: 9px;
                    transform: rotate(-45deg) translate(60%, 150%);
                }
            }
        }
        .user-menu {
            position:absolute;
            left:0;
            top:30px;
            width:106px;
            background-color:#fff;
            border-radius: 6px;
            text-align: center;
            box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.10), 0px 1px 1px 0px rgba(23, 15, 73, 0.00), 0px 0px 1px 0px rgba(0, 0, 0, 0.03);
            li{
                padding: 8px 0;
            }
            li + li{
                border-top: 1px solid #F0F0F0;
            }
            a {
                color: #000 !important;
                cursor:pointer;
                &:hover {
                    font-weight: 500;
                    color: $pointColor !important;
                }
            }
        }
    }
}
.contents {
    position: relative;
    min-height:calc(100% - 100px);
    min-width: 1440px;
    flex: 1 1 auto;
    display:flex;
    flex-direction: column;
    > div {
        flex: 1 1 auto;
        &:not(.guide__inner) {
            display: flex;
            flex-direction: column;
        }
    }
    .page-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        text-align:center;
        padding-top: 48px;   
        margin-bottom: 32px;
        .flag-progress {
           vertical-align: middle;
           border:0;
           &.weit {
            background-color: #ccc;
            color:#fff;  
           }
           &.ing {
            background-color: #FF8310;
            color:#fff;                
           }
           &.return {
            background-color: #FF4830;
            color:#fff;            
           }
           &.done {
            background-color: #2F77FB;
            color:#fff;
           }                                 
        }
        + .page-title__wrap {
            margin-top: 0;
        }
    }
    .page-title__wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 60px;
        padding-bottom: 16px;
        h3 {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 32px;
            color: #000000;
        }
        p {
            display:none;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #000000;
            padding-left:12px;
            &:before {
            content:'*';
            color: #2f77fb;
            position:relative;
            top:-1px
            }
        }
    }
    &.bgcontainer {
        background: #F5F5F5;
        //padding-bottom: 0;
    }
    
}

.breadcrumb {
    width:100%;
    position:absolute;
    top:$headerHeight + 32px;
    &-list {
        display:flex;
        align-items:center;
        li {
           line-height: 18px;
           font-size: 14px;
           color:#666;
           cursor:default;
            &:after {
                content:'';
                display:inline-block;
                width: 6px;
                height:10px;
                background:url('../assets/images/layout/arrow_next.png') no-repeat 50% 50%;
                margin:0 12px;
            }
            &:last-child {
                &:after {
                    display:none;
                }
            }
        }
    }
}

.footer {
    background:#e6e6e6;
    flex:0 0 200px;
    .inner {
        padding:32px 0;
        display:flex;
        flex-direction: column;
        align-items: center;
        background:#e6e6e6;
    }
    .policy-list {
        display:flex;
        align-items:center;
        margin-bottom: 24px;
        li {
            display:inline-flex;
            align-items:center;
            
            a {
                font-size: 14px;
                line-height: 20px;
                margin:0 36px;
            }
            &:after {
                content: '';
                width:1px;
                height: 12px;
                background-color:#D7D0D0
            }
            &:last-child{
                &:after {
                    display:none;
                }
            }
        }
    }
    .agency-info {
        display:flex;
        align-items:center;
        margin-bottom: 24px;
        gap: 38px;
        li {
            position: relative;
            display:inline-flex;
            align-items:center;
            padding-right: 38px;
            gap: 15px;                       
            @include fontoption(12px,#707070,400,20px);
            &:after {
                content: '';
                display: block;
                position: absolute;
                right: 0;
                top:50%;
                transform: translateY(-50%);
                width:1px;
                height: 12px;
                background-color:#D7D0D0
            }
            &:last-child{
                &:after {
                    display:none;
                }
            }
        }
    }
    .agency-list {
        display:flex;
        align-items:center;
        margin-bottom: 24px;
        li {
            margin:0 12px;
            a {
                display: block;
                width: 48px;
                height: 48px;
            }
        }
    }
    .copyright {
        font-weight: 300;
        font-size: 14px;
        line-height:19px;
    }
}

// 모바일 

@media #{$phone} {
    $mobileNavWidth: 240px;
    .inner { 
        &.respons {
          width:100%;
        }        
    }
    // 컨텐츠 넓이 조정
    .header {
        flex:0 0 13.333vw;
        &.respons {
            height: 13.333vw;
            .mobile-nav__top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 49px;
                padding:12px 16px;
                h1 {
                    a {
                        display: block;
                        width: 90px;
                        height:15px;
                        background: url('../assets/images/layout/logo_mo.png') no-repeat left center;
                        background-size: auto 11px;
                    }
                }
            }
            .header__logo  {
                h1{
                    width: 25vw;
                    height: 4.167vw;
                    background-size: contain;
                }
                a {
                    display:block;
                    height:100%;
                }
            }
            .header__menu {
                display:inline-flex;
                width: 6.667vw;
                height: 6.667vw;
            }
            .nav {
                display:block;
                &__button {
                    display:inline-block;                    
                    background:url('../assets/images/layout/btn_nav.png') no-repeat 50% 50%;
                    background-size: 100%;
                    width: 6.667vw;
                    height: 6.667vw;
                }
                &__inner {
                    position:fixed;
                    right:0;
                    top:0;
                    transform:translate(100%, 0);
                    transition:transform 300ms linear;
                    height:100vh;
                    width:100%;
                    background:#fff;
                    z-index: 11;
                    &.ismonav {
                        transition:transform 300ms linear;
                        transform:translate(0%, 0);
                    }
                    .user-name-mo {
                        @include fontoption(14px,#000,500, 22px);
                    }
                    > ul {
                        margin-top:24px;
                        flex-direction: column;
                        align-items:flex-start;
                        padding: 0 16px;
                        li {
                            width: 100%;                            
                            > a {
                                padding: 16px 0;
                                @include fontoption(17px,#000,500, 21px);
                                border-bottom: 1px solid #F0F0F0;
                                display: block;
                            }
                            &.children {
                                > a {
                                    &::after {
                                        content: '';
                                        display: block;
                                        position: absolute;
                                        right: 0px;
                                        top: 10px;
                                        width:20px;
                                        height:20px;
                                        background: url('../assets/images/icon/icon_chevron_down.png') no-repeat right center;      
                                        background-size: 20px 20px;                                     
                                    }
                                }
                                &.active {
                                    > a {
                                        color:#2F77FB;
                                        font-weight: 700;   
                                        border-bottom: 0;
                                    }
                                    .sub-menu__wrap {
                                        display: block !important;
                                        a {
                                            &.active {
                                                color:#2F77FB;
                                            }
                                        }
                                    }
                                }
                                &:hover,
                                &:focus {
                                    > a {
                                        &::after {
                                            display: block;
                                            transform: rotate(-180deg);
                                            right: 0;
                                            top: 10px;
                                            bottom: auto;
                                            left:  auto;
                                        }                                        
                                    }
                                }
                            }                            
                            &:hover {
                                > a {
                                    color:#2F77FB !important;
                                    font-weight: 500;   
                                    &::after {
                                        display: none;
                                    }  
                                }
                            }
                            &.nav-item{
                                padding: 0;
                            }
                        }
                    }
                    .sub-menu__wrap {
                        flex-direction: column;
                        position: relative;
                        transform: translate(0);
                        top: auto;
                        left: auto;
                        border-bottom: 1px solid #F0F0F0;
                        padding: 0 0 16px 0;
                        display: none;;
                        ul {
                            flex-direction: column;
                            li {
                                padding-top: 8px;
                                a {
                                    @include fontoption(14px,#000, 500, 26px);
                                    border-bottom: 0;
                                    padding: 0;
                                    &:hover {
                                        color:#2F77FB;
                                    }
                                }
                            }
                        }
                    }
                }
                &.open {
                    .nav__inner {
                        transform:translate(-$mobileNavWidth,0)
                    }
                }
                &__item {
                    width:100%;
                }
                &-sub {
                    position:static;
                    display: block;
                    width:auto;
                    padding: 0;
                    border:none;
                    background-color:#fff;
                }
                &__button--close {
                    display: block;
                    width: 24px;
                    height: 24px;
                    background: url('../assets/images/icon/icon_close_mo.png') no-repeat center center;
                    background-size: cover;
                }
            }
            .header__util {
                display:none;
            }
        .inner {
            padding:0 16px;
        }
      }
    }
    .contents {
        &.respons {
            padding-bottom: 56px;
            min-height:calc(100vh - 224px);
            min-width: auto;
            width: 100%;        
            .inner {
                padding:0 16px;
            }
            .page-title {
                font-size: 21px;
                line-height: 27px;
                padding-top: 32px;   
                margin-bottom: 32px;
            }
            .page-title__wrap {
                margin-top: 36px;
                h3 {
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 26px;
                } 
            }
        }
        // padding-top: $headerHeight;        
    }
    .breadcrumb {
        display:none;
    }
    .footer {
        .inner {
            padding:32px 0;
            background: #e6e6e6;
        }
        .policy-list {
            margin-bottom: 20px;
            li {
                a {
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 20px;
                    margin:0 16px;
                }
                &:after {
                    height: 10px;
                }
            }
        }
        .agency-list {
            margin-bottom: 20px;
            li {
                margin:0 6px;
                a {
                    width: 32px;
                    height: 32px;
                    img {
                        width: 32px;
                        height: auto;
                    }
                    
                }
            }
        }
        .agency-info {
            display:block;
            margin-bottom: 20px;
            li {
                display: block;
                padding-right: 0; 
                text-align: center;  
                margin-bottom: 12px;    
                font-size: 13px;
                font-weight: 400;
                line-height: 20px;    
                .tit {
                    display: block;
                }
                &:after {
                    display: none;
                }
            }
        }        
        .copyright {
            font-size: 13px;
            line-height:20px;
        }
    }

  }
    

  // 오류 화면 404 
  .error-msg__wrap {
    display: flex;
    justify-content: center;
    img {
        width: fit-content;
        margin: 0 auto;
    }
    // padding: 288px 0 80px;
    // background: url('../assets/images/icon/404.png') no-repeat center 80px;
    .error-msg {
        align-items: center;
        margin-top: 32px;
        text-align: center;
        display: flex;
        flex-direction: column;
        strong {
            @include fontoption(28px, #000, 700, 38px);
        }
        p {
            @include fontoption(24px, #000, 400, 38px);
            margin-bottom:32px;
        }
    }
  }


  // 메인 팝업 
  .modal-popup__wrap {
    position: fixed;
    background-color: #fff;
    z-index: 100;
    top: 100px;
    display: flex;
    width: 628px;
    height: 780px;
    flex-direction: column;
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid #EAEAEA;
    transform: translateX(720px);
        @media #{$phone} {
            width: auto;
            height: 465px;
            top: 80px;
            right: 16px;
            transform: translateX(0%);
        }
    .modal-pop__inner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .main-pop__header {
        cursor: move;
        @include fontoption(24px, #000,500,36px);
        padding: 32px;
        @media #{$phone} {
            font-size: 16px;
            line-height: 22px;
        }
    }
    .main-pop__content {    
        overflow-y: scroll;
        padding: 0 40px 32px;
        flex: auto;
        @include fontoption(14px, #000,400,26px);
        @media #{$phone} {
            font-size: 14px;
            line-height: 14px;
        }        
    }
    .main-pop__footer {
        border-top: 1px solid #EAEAEA;
        padding: 20px 40px;
        @include fontoption(14px, #000,400,24px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #FFFFFF;
        @media #{$phone} {
            font-size: 12px;
            line-height: 12px;
        }  
    }
}
@media all and (min-width:770px) and (max-width:1449px) {
    .header{
        border-bottom: 0;
    }
    .inner{
        border-bottom: 1px solid #eaeaea;
        padding: 0 2.778vw;
    }
}