//login
@import "../components/ui/button.scss";  
.login {
  width: 100%;
  max-width:628px;
  margin: 0 auto;
  min-height: 700px;
  .login-title__wrap--top {
    text-align: center;
    .page-title {
      margin-bottom: 12px;
    }
  }
  .tab__wrap {
    margin-top: 32px;
  }  
  .form-list {
    border-top:2px solid #BCBCBC;
    margin:32px 0 0 0;
    .form-item {
      border-bottom:1px solid #F0F0F0;
      padding: 16px;
      margin:0;
      &:last-child {
        border-bottom:2px solid #dddddd;
      }
      .form-item__label {           
        flex: 0 0 154px;
        @include fontoption(16px,$defaultColor,500,26px);
      }
      .form-item__content {
        position: relative;
        .btn-only-icon {
          position: absolute;
          right: 16px;
          width: 20px;
          height: 20px;
          top: 50%;
          transform: translateY(-50%);                
          z-index: 10;
          border:0;
          padding:0;
          background: none;
          cursor: pointer;
          z-index: 1;
        }
      }
      .guide-text{
        padding-left: 153px;
        &.error {
          width: 100%;
        }
      }
    }      
  }
  &.login-help{
    .form-list {
      border-top:0;
    }
  }
  
  .button__wrap {
    .btn-login {
        display: block;
    }
  }
  .help-menu__wrap--bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    .idfind {
      display: flex;
      &.line::after {
        content: '';
        display: block;
        position: relative;
        border-left: 1px solid #D7D0D0;
        height: 10px;
        right: 93px;
        top: 9px;
      }
      a {
        position: relative;
        padding:0 12px; 
        &:first-child {
          &::after {
            content: '';
            display: block;
            width:1px;
            height: 10px;
            position: absolute;
            right:0;
            top:50%;
            background-color: #D7D0D0;
            transform: translateY(-50%);
          }
        }
        &:last-child {
          padding-right: 0;
        }
      }            
    }
  }
  &.login-help {
    .form-list {
      margin: 0;
    }
    .form-item__content {
      .input {
        flex: 1;
      }
      .btn-default-line{
        margin-left: 10px;
      }
      .time {
        position: absolute;
        right:16px;
        top: 50%;
        transform: translateY(-50%);
        &.active {
          color: #FF4830;
        }
      }
    }
  }
  &.login-result {
    .login-result__wrap{
      border-bottom: 2px solid #DDDDDD;
      padding: 132px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-bottom: 152px;
      .login-result__id{
        p{
          @include fontoption(16px,#000,400,24px);
        }
        h3{
          @include fontoption(24px,#000,700,44px);
          margin-top: 8px;
        }
      }
      .button__wrap{
        padding: 24px 0 0;
      }
    }
  }
}
@media #{$phone} {
  .login {
    max-width:100%;
    padding: 0 16px;
    .login-title__wrap--top {
      .page-title {
        margin-bottom:10px;
      }
      p {
        font-size: 14px;
        line-height: 24px;
      }
    }
    .form-list {
      .form-item {
        font-size: 14px;
        padding: 16px 0;
        &:last-child {
          border-bottom-width: 1px;
        }
        .form-item__label {      
          padding: 0 0 12px 0;
          font-size: 14px;
          line-height: 20px;
        }
        .form-item__content {
          width: 100%;
          padding-right: 0;
          .btn-only-icon {
            width: 21px;
            height: 21px;
            right: 12px;
          }
        }
        .guide-text{
          padding-left: 0;
          &.validation{
            font-size: 13px;
            line-height: 20px;
          }
          &.error{
            font-size: 13px;
            line-height: 20px;
          }
        }
      }
    }
    .button__wrap {
      .btn-login {
        width: 100%;
      }
    }
    .help-menu__wrap--bottom {
      margin-top: 12px;
      font-size: 14px;
    }
    .help-menu__wrap--bottom + .button__wrap{
      padding: 22px 0 0;
    }
    &.login-help {
      .login-title__wrap--top{
        .page-title{
          margin-bottom: 0;
        }
      }
      .form-list { 
        .form-item__content {
          .btn-default-line{
            margin-left: 8px;
          }
          .time {
            right:12px;
            font-size: 14px;
            line-height: 21px;
            }
          }
      }  
      .button__wrap {
        padding-bottom: 24px;
        .btn-help {
          width:100%;
        }
      }
    }
    &.login-result {
      .login-title__wrap--top {
        margin-bottom: 32px;
      }
      .login-result__wrap{
        padding: 100px 0;
        margin-bottom: 56px;
        .login-result__id{
          p{
            font-size: 14px;
            line-height: 21px;
          }
          h3{
            font-size: 21px;
            line-height: 21px;
            margin-top: 10px;
          }
        }
      }
    }
    &.login-pwchange{
      .button__wrap {
        padding-bottom: 24px;
        .btn-line{
          width: 50%;
        }
        .btn-blue {
          width:50%;
        }
      }
    }
    &.login-pwreset{
      .button__wrap {
        .btn-line{
          width: 50%;
        }
        .btn-blue {
          width:50%;
        }
      }
    }
  }
}