//login
@import "../components/ui/button.scss";  
.login {
  width: 100%;
  max-width:628px;
  margin: 0 auto;
  .tab__wrap {
    margin-top: 32px;
  }  
  .login-title__wrap--top {
    text-align: center;
    .page-title {
      margin-bottom:12px;
    }
    p {
      @include fontoption(16px,#000,400,26px);
    }
  }
  .form-list {
    border-top:2px solid $pointColor;
    margin:32px 0 0 0;
    .form-item {
      border-bottom:1px solid #F0F0F0;
      padding: 20px 20px 20px 10px;
      margin:0;
      .form-item__label {           
        flex: 0 0 200px;
      }
      .form-item__content {
        position: relative;
        .btn-only-icon {
          position: absolute;
          right: 19px;
          width: 30px;
          height: 30px;
          top: 50%;
          transform: translateY(-50%);                
          z-index: 10;
          border:0;
          padding:0;
          background: none;
          cursor: pointer;
        }
      }
      .guide-text{
        padding-left: 200px;
        &.error {
          width: 100%;
        }
      }
    }      
  }
  .button__wrap {
    .btn-login {
        display: block;
        width:100%;
    }
  }
  .help-menu__wrap--bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    @include fontoption(16px,#000,400,26px);
    .idfind {
      display: flex;
      a {
        position: relative;
        padding:0 12px; 
        &:first-child {
          &::after {
            content: '';
            display: block;
            width:1px;
            height: 10px;
            background: #D7D0D0;
            position: absolute;
            right:0;
            top:50%;
            transform: translateY(-50%);
          }
        }
        &:last-child {
          padding-right: 0;
        }
      }            
    }
  }
  &.login-help {
    .form-item__content {
      .input {
        flex: 1;
      }
      .btn-default-line{
        margin-left: 10px;
      }
      .time {
        position: absolute;
        right:16px;
        top: 50%;
        transform: translateY(-50%);
        @include fontoption(16px,#000,400,26px);
        &.active {
          color: #FF4830;
          ;
        }
      }
    }
  }
  &.login-result {
    .login-result__wrap{
      margin-top: 32px;
      border-top: 2px solid #2f77fb;
      border-bottom: 1px solid #DDDDDD;
      padding: 132px 0;
      text-align: center;
      .login-result__id{
        p{
          @include fontoption(16px,#000,400,24px);
        }
        h3{
          @include fontoption(24px,#000,700,44px);
          margin-top: 8px;
        }
      }
    }
  }
}
@media #{$phone} {
  .login {
    max-width:100%;
    padding: 0 16px;
    .login-title__wrap--top {
      .page-title {
        margin-bottom:10px;
      }
      p {
        font-size: 14px;
        line-height: 24px;
      }
    }
    .form-list {
      margin: 32px 0 0 0;
      .form-item {
        font-size: 14px;
        padding: 16px 0;
        .form-item__label {      
          padding: 0 0 12px 0;
        }
        .form-item__content {
          width: 100%;
          padding-right: 0;
          .btn-only-icon {
            right: 12px;
          }
        }
        .guide-text{
          padding-left: 0;
          &.validation{
            font-size: 13px;
            line-height: 20px;
          }
          &.error{
            font-size: 13px;
            line-height: 20px;
          }
        }
      }
    }
    .help-menu__wrap--bottom {
      margin-top: 13.5px;
      font-size: 14px;
    }
    &.login-help {
      .form-list {
        margin-top: 0;
        .form-item__content {
          .btn-default-line{
            margin-left: 8px;
          }
          .time {
            right:12px;
            font-size: 14px;
            line-height: 21px;
            }
          }
      }  
      .button__wrap {
        .btn-help {
          width:100%;
        }
      }
    }
    &.login-result {
      .login-title__wrap--top {
        margin-bottom: 32px;
      }
      .login-result__wrap{
        margin-top: 24px;
        padding: 100px 0;
        .login-result__id{
          p{
            font-size: 14px;
            line-height: 21px;
          }
          h3{
            font-size: 21px;
            line-height: 21px;
            margin-top: 10px;
          }
        }
      }
    }
    &.login-pwchange{
      .button__wrap {
        .btn-blue-line{
          width: 50%;
        }
        .btn-blue {
          width:50%;
        }
      }
    }
    &.login-pwreset{
      .button__wrap {
        .btn-blue-line{
          width: 50%;
        }
        .btn-blue {
          width:50%;
        }
      }
    }
  }
}