// 가이드 LNB
.guide-lnb__wrap {
  flex:0 0 217px;
  position: sticky;
  top: 100px;
  align-self: flex-start;
  .guide-lnb {
    nav {
      .menu-item {
        border-bottom: 1px solid #ddd;
        padding: 16px 0;
        li {
          &.current {
            > a {
              color: $pointColor;
              font-weight: 700;
              &:after {
                border-color: $pointColor;
              }
            }
          }
        }
        > a {
          display: flex;
          align-items:center;
          justify-content: space-between;
          font-size:16px;
          line-height: 24px;
          font-weight: 500;
          &:after {
            content:'';
            display:inline-block;
            width: 8px;
            height: 8px;
            margin:0 6px;
            position:relative;
            border-top:2px solid #666;
            border-left:2px solid #666;
            transform: rotate(135deg);
          }
          &.children {
            &:after {
              transform: rotate(-135deg);
            }
          }
          &:hover, &:active {
            color: $pointColor;
            font-weight: 700;
            &:after {
              border-color: $pointColor;
            }
          }
        }
        &.active {
          > a {
            &.children {
              &:after {
                transform: rotate(45deg);
              }
            }
          }
        }
        &.current {
          > a {
            color: $pointColor;
            font-weight: 700;
            &:after {
              border-color: $pointColor;
            }
          }
        }
        .slide-enter-active,
        .slide-leave-active {
          height: auto;
          overflow:hidden;
          transition-duration: 0.4s;
        }
        .slide-enter, 
        .slide-leave-to {
          overflow:hidden;
          height:0;
          transition-duration: 0.4s;
        }
        .sub-menu {     
          display: flex;
          flex-direction: column;
          gap: 12px;
          li:first-child {
            a {
              padding-top: 12px;
            }
          }
          a {
            display: flex;
            padding: 0 12px;
            line-height:20px;
            align-items: center;
            font-size: 14px;
            justify-content: space-between;
            &:hover, &:active {
              color: $pointColor;
              font-weight: 700;
            }
          }
          &.current {
            > a {
              color: $pointColor;
              font-weight: 700;
              &:after {
                border-color: $pointColor;
              }
            }
          }
        }
      }
    }
  }
}
// 가이드 사이드
.guide-side__wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  min-width: 360px;
  position: sticky;
  top: 100px;
  align-self: flex-start;
  .side__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
    .item-btn {
      width: 100%;
    }
    .side__list {
      display: flex;
      padding: 24px 20px;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
      border-radius: 16px;
      border: 1px solid #EAEAEA;
      background: #FFF;
      width: 100%;
      .guide-lnb__wrap {
        flex: auto;
        width: 100%;
      }
    }
    .side__banner {
      display: flex;
      align-items: flex-start;
      gap: 16px;
      padding: 24px 32px;
      border-radius: 16px;
      border: 1px solid #EAEAEA;
      background: #FFF;
      width: 100%;
      justify-content: space-between;
      .banner__info {
        .text__warp {
          .side-title {
            @include fontoption(18px,#000,700,26px); 
          }
          .side-text {
            padding-top: 4px;
            @include fontoption(12px,#666,400,18px);
          }
        }
        .btn__warp {
          padding-top: 16px;
          display: flex;
          gap: 2px;
          .side-btn {
            @include fontoption(12px,#000,400,18px);
            text-decoration-line: underline;
          }
          i {
            width: 16px;
            height: 16px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            &.next {
              margin-top: 2px;
              background-image: url('../assets/images/icon/icon_arrow_guide.png');
            }
          }
        }
      }
      .side-img {
        width: 74px;
        height: 74px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        background-image: url('../assets/images/icon/icon_autorepley.png');
      }
      &.btn-banner {
        flex-direction: column;
        gap: 12px;
        .text__warp {
          padding-bottom: 12px;
          border-bottom: 1px solid #f0f0f0;
          width: 100%;
          .side-title {
            @include fontoption(16px,#000,700,28px); 
          }
          .side-text {
            padding-top: 2px;
            @include fontoption(14px,#666,400,26px);
          }
        }
        .btn__warp {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          &.multiline {
            flex-direction: column;
            p {text-align: right;}
          }
          &.file-link {
            img {
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}

.guide__wrap {
  background: #F5F5F5;
  width: 100%;
  padding-bottom: 80px;
  &.guide-dash {
      padding-bottom: 0;
  }
}
.guide__inner {
  width: $contentWidth;
  margin: 0 auto;
  display:flex;
  gap: 32px;
  padding:24px 0;
}
.guide-info__wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: auto;
  height: 100%;
  background-color:#fff;
  border-radius: 16px;
  border: 1px solid #EAEAEA;
  padding: 24px;
  .title__wrap {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    .main-title {
      @include fontoption(36px,#000,700,48px); 
    }
    .main-text {
      @include fontoption(14px,#000,400,26px);
      &.gray {
        color: #666;
      }
    }
  }
  .button__warp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
    .button__item {
      display: flex;
      padding: 12px 16px;
      align-items: center;
      gap: 16px;
      border-radius: 8px;
      border: 1px solid #DDD;
      width: 100%;
      i {
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        &.message {
          background-image: url('../assets/images/icon/icon_chat_b.png');
        }
      }
      .item-text {
        @include fontoption(16px,#000,500,28px);
      }
    }
  }
}
.guide__wrap {
  display: flex;
  padding: 24px 24px 48px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  border-radius: 16px;
  border: 1px solid #EAEAEA;
  background: #FFF;
  .first__wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: -24px;
    .first-title {
      @include fontoption(32px,#000,700,44px);
    }
  }
  .second-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
    .second-title {
      @include fontoption(24px,#000,500,36px);
      span {padding-right: 8px}
    }
    .btn-box__wrap {
      padding-top:10px; 
    }
  }
  .third-box__wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
    .third-box {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;
      width: 100%;
      .third-title {
        @include fontoption(20px,#000,500,32px); 
        span {padding-right: 8px}
      }
      .btn-box__wrap {
        padding-top: 14px; 
      }
    }
  }
  .content {
    @include fontoption(14px,#000,400,26px);
    &.blue {
      color: #2F77FB;
    }
    strong {
      color: #2F77FB;
    }
    .red {
      color: #FB2F2F;
    }
  }
  .title {
    @include fontoption(16px,#000,500,28px);
  }
  .title-blue {
    @include fontoption(16px,#2F77FB,700,28px);
  }
  .guide__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-bottom: 1px solid #F0F0F0;
    padding-bottom: 48px;
    width: 100%;
    &:last-child {
      border-bottom: 0;
      padding-bottom: 0px;
    }
    .btn__warp {
      width: 100%;
      display: flex;
      gap: 2px;
      &.file-link {
        img {
          vertical-align: middle;
        }
      }
      &.right {
        justify-content: flex-end;
      }
      &.multiline {
        flex-direction: column;
        p {text-align: right;}
      }
      .side-btn {
        @include fontoption(14px,#2855A7 ,400,24px);
        text-decoration-line: underline;
        &.black {
          color: #000;
        }
      }
      i {
        width: 16px;
        height: 17px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        &.next {
          margin-top: 3.5px;
          background-image: url('../assets/images/icon/icon_arrow_guide_blue.png');
        }
        &.question {
          margin-top: 4px;
          background-image: url('../assets/images/icon/icon_question_medium.png');
        }
        &.download {
          margin-top: 5px;
          background-image: url('../assets/images/icon/icon_download.png');
        }
      }
    }
    .btn-box__wrap {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      gap: 24px;
      align-self: stretch;
      width: 100%;
      .btn__warp {
        width: auto;
      }
    }
    .center-box__wrap {
      display: flex;
      padding: 24px;
      justify-content: center;
      align-items: flex-start;
      gap: 32px;
      width: 100%;
      justify-content: center;
      .center-box {
        .title {
          padding-bottom: 8px;
        }
      }
    }
    .gray-box__wrap {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
      width: 100%;
      .gray-box {
        padding: 12px 16px;
        border-radius: 8px;
        background: #F8F8F8;
        width: 100%;
        &.gray-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
        }
        &.account_img {
          padding: 24px;
        }
        &.brand_img {
          padding: 24px;
        }
      }
      .brand_img {
        margin: 0 auto;
      }
      &.flex-gray{
        gap:8px;
        .flex-gray__inner{
          display: flex;
          width: 100%;
          gap: 24px;
        }
      }
    }
    .btn-box__wrap + .gray-box__wrap.flex-gray{
      margin-top: 32px;
    }
    .line-box__wrap {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      width: 100%;
      .line-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 12px 16px;
        gap: 6px;
        border-radius: 8px;
        border: 1px solid #DDD;
        width: 100%;
      }
      .btn__warp {
        padding-top: 16px;
      }
    }
    .list-box__wrap {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      .list-box {
        display: flex;
        align-items: flex-start;
        gap: 4px;
        .title-item {
          width: 150px;
        }
        .list-item {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 8px;
          .list {
            display: flex;
            align-items: flex-start;
            gap: 6px;
            i {
              margin-top: 2.5px;
              width: 26px;
              height: 26px;
              background-repeat: no-repeat;
              background-position: center;
              background-size: 100%;
              &.list1 {
                background-image: url('../assets/images/icon/icon_list_1.png');
              }
              &.list2 {
                background-image: url('../assets/images/icon/icon_list_2.png');
              }
            }
          }
        }
      }
    }
    .list-title-box__wrap {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      .list-title-box {
        display: flex;
        align-items: flex-start;
        gap: 6px;
        i {
          width: 26px;
          height: 26px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100%;
          &.list1 {
            background-image: url('../assets/images/icon/icon_list_1.png');
          }
          &.list2 {
            background-image: url('../assets/images/icon/icon_list_2.png');
          }
        }
      }
    }
    .qna-box__wrap {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      width: 100%;
      .qna-box {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        i {
          width: 28px;
          height: 28px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100%;
          &.qna-q {
            margin-top: 1px;
            background-image: url('../assets/images/icon/icon_qna_q.png');
          }
        }
        .qna-item {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 6px;
        }
      }
    }
    .text-box__wrap {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 24px; 
      width: 100%;
      .text-gray-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        width: 100%;
      }
      .text-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
        width: 100%;
        .title-item {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          width: 100%;
          .title-blue{
            width: 100%;
          }
        }
      }
    }
    .border-box__wrap {
      width: 100%;
      .border-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 100%;
        li {
          display: flex;
          align-items: flex-start;
          border-bottom: 1px solid #F0F0F0;
          padding-bottom: 10px;
          width: 100%;
          .title-blue {
            width: 170px;
            @include fontoption(14px,#2F77FB,500,26px);
          }
        }
      }
    }
    .table-box {
      width: 100%;
      table {
        width: 100%;
        th,td {
          padding: 16px 0;
          text-align: center;
          border: 1px solid #DDD;
          @include fontoption(12px,#000,400,18px);
        }
        thead {
          th {
            background-color: #f8f8f8;
            @include fontoption(13px,#555,500,18px);
            border-bottom: 0;
          }
        }
        tbody {
          tr {
            &.bg-blue {
              td {                
                background-color: rgba(221, 221, 221, 1);
              }
            }
            &.bg-green {
              td {
                background-color: rgba(209, 238, 226, 0.5);
              }
            }            
          }
          th {
            background-color: #f8f8f8;
            padding-left:3px;
            padding-right:3px;
            .small-text-blue {
              color:#2F77FB;
            }
            &.text-l {
              text-align: left;
              padding-left: 10px;
            }
          }
          td {
            &.text-l {
              text-align: left;
              padding-left: 10px;
              padding-right: 10px;
              .sub-title {
                color: #999999;

              }
            }
          }
        }
        .thead {
          background-color: #f8f8f8;
          @include fontoption(13px,#555,500,18px);
          th,td {
            padding: 8px 0;
            @include fontoption(13px,#555,500,18px);
          }
        }
        .rowspan-wrap {
          th,td {
            padding-top: 0;
          }
        }
        .no-line {
          border: 0;
          &.right {
            border-right: 1px solid #DDD;
          }
        }
        &.brand-table {
          th,td {
            padding: 10px 20px;
            text-align: center;
            border: 1px solid #DDD;
            @include fontoption(12px,#000,400,18px);
          }
          .text-left {
            text-align: left;
          }
        }
      }
      .table-text {
        padding-top: 8px;
        .content {
          @include fontoption(12px,#666,400,22px);
          span {
            padding-right: 8px;
            color: #000;
          }
        }
      }
    }
    .guide_img {
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      &.account_01 {
        margin: 0 auto;
        width: 703px;
        height: 845.7px;
        background-image: url('../assets/images/guide/guide_account_01.png');
      }
      &.account_02 {
        margin: 0 auto;
        width: 703px;
        height: 1130.702px;
        background-image: url('../assets/images/guide/guide_account_02.png');
      }
      &.brand_01 {
        margin: 0 auto;
        width: 751px;
        height: 541px;
        background-image: url('../assets/images/guide/guide_brand_01.png');
      }
      &.brand_02 {
        margin: 0 auto;
        width: 703px;
        height: 403px;
        background-image: url('../assets/images/guide/guide_brand_02.png');
      }
      &.brand_03 {
        margin: 0 auto;
        width: 751px;
        height: 542px;
        background-image: url('../assets/images/guide/guide_brand_03.png');
      }
      &.brand_04 {
        margin: 0 auto;
        width: 751px;
        height: 354px;
        background-image: url('../assets/images/guide/guide_brand_04.png');
      }
      &.brand_05 {
        margin: 0 auto;
        width: 751px;
        height: 323px;
        background-image: url('../assets/images/guide/guide_brand_05.png');
      }
      &.brand_06 {
        margin: 0 auto;
        width: 751px;
        height: 688px;
        background-image: url('../assets/images/guide/guide_brand_06.png');
      }
      &.brand_07 {
        margin: 0 auto;
        width: 751px;
        height: 436px;
        background-image: url('../assets/images/guide/guide_brand_07.png');
      }
      &.brand_08 {
        margin: 0 auto;
        width: 703px;
        height: 658.184px;
        background-image: url('../assets/images/guide/guide_brand_08.png');
      }
    }
  }
}

.terms__wrap {
  width: 1440px;
  margin: 0 auto;
  padding: 48px 0;
  .title {
    text-align: center;
    .main-title {
      @include fontoption(48px,#222,700,60px);
    }
  }
  .first__wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 14px 0;
    color: #444;
    .first-title {
      @include fontoption(26px,#222,700,30px); 
    }
    .second__wrap {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 6px;
      .third-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3px;
        .third-item {
          display: flex;
          align-items: flex-start;
          gap: 3px;
        }
      }
      .fourth-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3px;
        padding-left: 20px;
        .fourth-item {
          display: flex;
          align-items: flex-start;
          gap: 3px;
        }
      }
    }
  }
  .supplementary {
    padding: 10px 0;
    p {
      @include fontoption(14px,#444,700,26px);
    }
  }
}
.guide-list__num {
  display: flex;
  flex-direction: column;
  li {
    position: relative;
    display: flex;    
    gap: 6px;    
    @include fontoption(14px,#000,400,26px);
    &.multiline {
      flex-direction: column;
      .content {
        width: 100%;
        padding-left: 20px;
      }
      +li{
        margin-top: 12px;
      }
    }
    &.blue {
      color: #2F77FB;
    }
    .num { 
      display: flex;
      // align-items: center;
      justify-content: center;
      margin-top: 6px;
      width: 16px;
      height: 16px;
      background-color: #000;
      border-radius: 50%;
      @include fontoption(11px,#fff,700,16px);
    }
    .item {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 6px;
    }
  }    
}
.des-box{
  width: 100%;
  dl{
    display: flex;
    dt,dd {
      padding: 10px 0 10px 20px;
      border-right: 1px solid #ddd;
      border-top: 1px solid #ddd;
      border-left: 1px solid #ddd;
      @include fontoption(13px,#000,400,18px);
    }
    dt{
      width: 200px;
      background-color: #f8f8f8;
      color: #555;
      &:last-child{
        border-bottom: 1px solid #ddd;
      }
    }
    dd{
      flex: auto;
      border-left: 0;
    }
    &:last-child{
      border-bottom: 1px solid #ddd;
    }
  }
}
.guide__wrap {
  &.company-msg{
    .first__wrap{
      width: 100%;
    }
    .table-msg{
      tr{
        th,td{
          @include fontoption(13px,#000,400,18px);
          padding: 10px;
          border-right: 1px solid #ddd;
          border-top: 1px solid #ddd;
          border-left: 1px solid #ddd;
        }
        th{
          background-color: #f8f8f8;
          color: #555;
          text-align: start;
        }
        &:last-child{
          border-bottom: 1px solid #ddd;
        }
        td{
          padding: 10px 0 10px 10px ;
          letter-spacing: -0.5px;
          &:first-child{
            background-color: #f8f8f8;
            color: #555;
          }
        }
      }
      .code-img-box{
        padding: 0;
        position: relative;
        .code-img{
          position: absolute;
          top: 8px;
          left: 2px;
        }
      }
    }
    .chk-box{
      li{
        display: flex;
        align-items: center;
        gap:8px;
        img{
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}

@media #{$phone} {
  .guide-lnb__wrap{
    display: none;
  }
  .guide__inner{
    width: 100%;
    margin: 32px auto 0;
    padding: 0 16px;
    flex-direction: column;
    gap: 16px;
  }
  .guide-side__wrap{
    min-width: 100%;
    .side__item{
      gap: 12px;
      &:first-child{
        display: none;
        .slide__list{
          display: none;
        }
      }
      .side__banner{
        padding: 12px 16px;
        border-radius: 8px;
        .banner__info{
          .btn__warp{
            padding-top: 8px;
          }
        }
      }
    }
  }
  .text{
    white-space: wrap;
  }
  .guide__wrap{
    border-radius: 8px;
    padding: 16px 16px 24px 16px;
    gap: 24px;
    .first__wrap{
      margin-bottom: 0;
      .first-title{
        font-size: 21px;
        line-height: 27px;
      }
    }
    .second-box{
      .second-title{
        font-size: 18px;
        line-height: 24px;
      }
    }
    .third-box__wrap{
      margin-top: 12px;
      .third-box{
        .third-title{
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
    .title{
      font-size: 14px;
      line-height: 21px;
    }
    .content{
      font-size: 13px;
      line-height: 20px;
    }
    .guide-list__num{
      gap: 4px;
      li{
        font-size: 13px;
        line-height: 21px;
        gap: 4px;
        align-items: flex-start;
        .num{
          flex: 0 0 16px;
          margin-top: 4px;
        }
        .item{
          align-items: flex-start;
        }
      }
    }
    .guide__item{
      gap: 24px;
      padding-bottom: 32px;
      .gray-box__wrap{
        .gray-box{
          padding: 8px 10px;
        }
        &.flex-gray{
          .flex-gray__inner{
            flex-direction: column;
            gap: 12px;
          }
          .flex-gray-des{
            .gray-box{
              margin-top: 8px;
            }
          }
          .flex-gray-des + div{
            margin: 0 auto;
          }
        }
      }
  
      .btn-box__wrap{
        flex-direction: column;
        align-items: flex-end;
        gap: 6px;
      }
      .btn__warp{
        .side-btn{
          font-size: 13px;
          line-height: 21px;
        }
        i{
          display: inline-block;
          vertical-align: middle;
        }
        &.multiline{
          i{
            &.next{
              display: inline-block;
              vertical-align: middle;
            }
          }
        }
      }
      .qna-box__wrap{
        .qna-box{
          .qna-item{
            width: calc(100% - 20px);
          }
        }
      }
      .table-box{
        width: 100%;
        overflow-x: auto;
        table{
          width: auto;
          white-space: nowrap;
        }
      }
      .guide_img {
        &.account_01 {
         width: 100%;
        }
        &.account_02 {
          width: 100%;
        }
        &.brand_01 {
          width: 100%;
        }
        &.brand_02 {
          width: 100%;
        }
        &.brand_03 {
          width: 100%;
        }
        &.brand_04 {
          width: 100%;
        }
        &.brand_05 {
          width: 100%;
        }
        &.brand_06 {
          width: 100%;
        }
        &.brand_07 {
          width: 100%;
        }
        &.brand_08 {
          width: 100%;
        }
      }
    }
  }
  .des-box{
    dl{
      dt,dd {
        padding: 8px 0 8px 10px;
        font-size: 12px;
        line-height: 16px;
      }
      dt{
        width: 28%;
        flex: 0 0 auto;
      }
      dd{
        flex: auto;
      }
    }
  }
  .table-box::-webkit-scrollbar {
    height: 3px;
  }
}
.guide-list-dot {
  li {
    @include fontoption(12px,#555,500,16px);
    text-align: left;
    position: relative;
    padding-left: 10px;
    &::before {
      content: '‣';
      display: inline-block;
      position: absolute;
      left:0;
      top:-1px;
    }
  }
}
.guide__box--blue {
  position: relative;
  width: 100%;
  padding: 16px 24px;
  background-color: #DCF2FF80;
  border-radius: 8px;
  min-height: 68px;
  p {
    @include fontoption(14px,#000,400,26px);
  }
  button {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.box-gray-line {
  width: 100%;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #DDDDDD;
  .title {
    position: relative;
    @include fontoption(14px,#000,400,26px);
    margin-bottom: 12px;
    strong {
      @include fontoption(16px,#000,500,28px);
    }
    span {
      color:#DDDDDD;
      margin: 0 12px;
    }
    .btn-join-link {
      position: absolute;
      right: 0px;
      top:0px;
      @include fontoption(14px,#000,400,26px);
      &::after {
        content: '';
        display: inline-block;
        width:16px;
        height: 16px;
        background: url('../assets/images/guide/icon_arrow.png') no-repeat;
        vertical-align: middle;
      }
    }
  }
  &+.box-gray-line {
    margin-top: -12px;
  }
}   

// 이용 가이드 css 
.user-guide__wrap {
  display: flex;
  padding: 24px 24px 48px 24px;
  flex-direction: column;
  align-items: flex-start;  
  border-radius: 16px;
  border: 1px solid #EAEAEA;
  background: #FFF;
  .guide-page__title {
    margin-bottom: 24px;
    h3 {
      @include fontoption(32px,#000,700,44px);
    }
  }
  .guide__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    border-bottom: 1px solid #F0F0F0;
    padding-bottom: 48px;
    width: 100%;
    &+.guide__item {
      margin-top: 48px;
    }
    &:last-child {
      border-bottom: 0;
      padding-bottom: 0px;
    }
  }
  // 제목 분류
  .subtitle-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    width: 100%;
    margin-bottom: 16px;
    &:not(:first-child) {
      margin-top:32px;
    }
    h4 {
      @include fontoption(24px,#000,500,36px);
      span {
        padding-right: 8px
      }      
    }
    h5 {
      @include fontoption(20px,#000,500,32px);
    }
  }
  .subtitle-wrap + .subtitle-wrap{
    margin-top: 8px;
  }
  .description {
    margin-top:8px;
    @include fontoption(14px,#000,400,26px);
  }  
  // 텍스트 컨텐츠
  .content {
    @include fontoption(14px,#000,400,26px);
    &.blue {
      color: #2F77FB;
    }
    strong {
      color: #2F77FB;
    }
    .red {
      color: #FB2F2F;
    }
  }
  .title {
    @include fontoption(16px,#000,500,28px);
  }
  .title-blue {
    @include fontoption(16px,#2F77FB,700,28px);
  }
  // table 
  .table-box {
    width: 100%;
    table {
      width: 100%;
      th,td {
        padding: 16px 0;
        text-align: center;
        border: 1px solid #DDD;
        @include fontoption(12px,#000,400,18px);
      }
      thead {
        th {
          background-color: #f8f8f8;
          @include fontoption(13px,#555,500,18px);
          border-bottom: 0;
        }
      }
      tbody {
        tr {
          &.bg-blue {
            td {                
              background-color: rgba(221, 221, 221, 1);
            }
          }
          &.bg-green {
            td {
              background-color: rgba(209, 238, 226, 0.5);
            }
          }            
        }
        th {
          background-color: #f8f8f8;
          padding-left:3px;
          padding-right:3px;
          .small-text-blue {
            color:#2F77FB;
          }
          &.text-l {
            text-align: left;
            padding-left: 10px;
          }
        }
        td {
          &.text-l {
            text-align: left;
            padding-left: 10px;
            padding-right: 10px;
            .sub-title {
              color: #999999;

            }
          }
        }
      }
      .thead {
        background-color: #f8f8f8;
        @include fontoption(13px,#555,500,18px);
        th,td {
          padding: 8px 0;
          @include fontoption(13px,#555,500,18px);
        }
      }
      .rowspan-wrap {
        th,td {
          padding-top: 0;
        }
      }
      .no-line {
        border: 0;
        &.right {
          border-right: 1px solid #DDD;
        }
      }
      &.brand-table {
        th,td {
          padding: 10px 20px;
          text-align: center;
          border: 1px solid #DDD;
          @include fontoption(12px,#000,400,18px);
        }
        .text-left {
          text-align: left;
        }
      }
    }
  }  
  // list
  .guide-list__dot {
    margin-top:12px;
    &+.table-box {
      margin-top:12px;
    }
    li {
      @include fontoption(12px,#666,400,22px);
      text-align: left;
      position: relative;
      padding-left: 10px;
      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #000;
        left:0;
        top:8px;
      }
    }
    &.arrow {
      &::before {
        content: '‣';
        display: inline-block;
        position: absolute;
        left:0;
        top:-1px;
      }
    }
  }
  // 컨텐츠 박스 라인
  .box-gray-line {
    width: 100%;
    padding: 8px 10px;
    border-radius: 8px;
    border: 1px solid #DDDDDD;
    .title {
      position: relative;
      @include fontoption(14px,#000,400,26px);
      margin-bottom: 12px;
      strong {
        @include fontoption(16px,#000,500,28px);
      }
      span {
        color:#DDDDDD;
        margin: 0 12px;
      }
      .btn-join-link {
        position: absolute;
        right: 0px;
        top:0px;
        @include fontoption(14px,#000,400,26px);
        &::after {
          content: '';
          display: inline-block;
          width:16px;
          height: 16px;
          background: url('../assets/images/guide/icon_arrow.png') no-repeat;
          vertical-align: middle;
        }
      }
    }
    &+.box-gray-line {
      margin-top: 12px;
    }
  }  
  .guide-img__wrap {
    margin: 16px 0;
  }
  // 회색 박스
  .gray-box__wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 100%;
    &+.guide-list__num {
      margin-top:32px;      
    }    
    .gray-box {
      padding: 12px 16px;
      border-radius: 8px;
      background: #F8F8F8;
      width: 100%;
      &.gray-title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;
      }
      &.account_img {
        padding: 24px;
      }
      &.brand_img {
        padding: 24px;
      }
    }
    .brand_img {
      margin: 0 auto;
    }
    &.flex-gray{
      gap:8px;
      .flex-gray__inner{
        display: flex;
        width: 100%;
        gap: 24px;
      }
    }
  }
  .text-box__wrap {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 24px; 
    width: 100%;
    .text-gray-box {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      width: 100%;
    }
    .text-box {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;
      width: 100%;
      .title-item {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        position: relative;
        .btn__warp {
          position: absolute;
          right:0;
          top:-12px;
          width: fit-content;
        }
        .title-blue{
          width: 100%;
        }
      }
      .text-two-box{
        width: 100%;
        .text-two-box__inner{
          display: flex;
          justify-content: space-between;
          margin-bottom: 16px;
        }
      }
    }
    &+.text-box__wrap { 
      margin-top: 32px;
    }
    &+.guide-list__num {
      margin-top: 32px;
    }
    &+.gray-box__wrap {
      margin-top: 32px;
    }
  }
  .guide-list__num {
    display: flex;
    flex-direction: column;
    li {
      position: relative;
      display: flex;    
      gap: 6px;    
      @include fontoption(14px,#000,400,26px);
      &.multiline {
        flex-direction: column;
        .content {
          width: 100%;
          padding-left: 20px;
        }
        +li{
          margin-top: 12px;
        }
      }
      &.blue {
        color: #2F77FB;
      }
      .num { 
        display: flex;
        // align-items: center;
        justify-content: center;
        margin-top: 6px;
        width: 16px;
        height: 16px;
        background-color: #000;
        border-radius: 50%;
        @include fontoption(11px,#fff,700,16px);
      }
      .item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 6px;
      }
    }    
  }
  .guide-process {
    .title {
      margin-bottom:8px;
    }
    .guide-list__num {
      margin-bottom:18px;
    }
  }
  // qna 박스
  .guide-qna__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    width: 100%;
    margin-top: 32px;
    dt {
      position: relative;
      @include fontoption(16px,#000,500,28px);
      padding-left: 38px;
      &:not(:first-child) {
        margin-top: 24px;
      }
      &::before {
        content: '';
        width: 28px;
        height: 28px;
        display: block;
        position: absolute;
        left:0;
        top:1px;
        background: url('../assets/images/icon/icon_qna_q.png') no-repeat;
      }
    }
    dd {
      padding-left: 38px;
      margin-top: 8px;
      @include fontoption(14px,#000,400,26px);
    }
  }
  .hr-dot-line {
    margin:32px 0 0 0;
    width: 100%;
    border: 1px dotted #DDDDDD;    
  }
  //버튼
  .btn__warp {
    padding-top: 16px;
    display: flex;
    width: 100%;
    &.right {
      justify-content: flex-end
    }
    &.multiline { 
      flex-direction: column;
      p {
        text-align: right;
      }
    }
    .side-btn {
      @include fontoption(12px,#000,400,18px);
      text-decoration-line: underline;
      padding-right: 20px;
      color: #2855A7;
      background: url('../assets/images/icon/icon_arrow_guide_blue.png') no-repeat right 2px;
      &.color-blue {
        color: #2855A7;
      }
    }
  }
}