//signup
@import "../components/ui/button.scss";  
.signup {
  width: 100%;
  max-width:628px;
  margin: 0 auto 248px;
  .signup-title__wrap--top {
    text-align: center;
    .page-title {
      margin-bottom:12px;
    } 
  }
  .signup__wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    .signup-item {
      width: 100%;
      border: 1px solid #ddd;
      border-radius: 8px;
      &:nth-child(1) {
        .signup-item__tit {
          margin: 32px 0 24px;
          p{
            @include fontoption(18px,#000,500,28px);
            text-align: center;
            span{
              color: $pointColor;
            }
            &::before {
              content: '';
              position: relative;
              display: block;
              margin: 0 auto;
              background: url('#{$iconBsUrl}icon_company_person.png') no-repeat center;  
              width: 64px;
              height: 64px;
              margin-bottom: 12px;
            }
          }
        }
      }
      &:nth-child(2) {
        margin-left: 24px;
        .signup-item__tit {
          margin: 32px 0 24px;
          p{
            @include fontoption(18px,#000,500,28px);
            text-align: center;
            span{
              color: $pointColor;
            }
            &::before {
              content: '';
              position: relative;
              display: block;
              margin: 0 auto;
              background: url('#{$iconBsUrl}icon_company_people.png') no-repeat center;  
              width: 64px;
              height: 64px;
              margin-bottom: 12px;
            }
          }
        }
      }
      .signup-item__des {
        background-color: #F8F8F8;
        text-align: center;
        padding: 24px 0 32px;
        border-radius: 0 0 8px 8px;
        p{
          color: #666;
          line-height: 22px;
        }
        .button__wrap {
          padding-top: 24px;
        }
      }
    }
  }
}

@media #{$phone} {
  // .signup {
  //   max-width:100%;
  //   padding: 0 16px;
  //   .signup-title__wrap--top {
  //     .page-title {
  //       margin-bottom:10px;
  //     } 
  //     p {
  //       line-height: 20px;
  //     }
  //   }
  //   .signup__wrap {
  //     flex-wrap: wrap;
  //     justify-content: center;
  //     margin-top: 32px;
  //     .signup-item {
  //       &:nth-child(1) {
  //         .signup-item__tit {
  //           margin: 24px 0 16px;
  //           p{
  //             font-size: 16px;
  //             line-height: 22px;
  //             &::before {
  //               background: url('#{$iconBsUrl}icon_company_person_mo.png') no-repeat center;
  //               width: 60px;
  //               background-size: 100%;
  //               height: 60px;  
  //               margin-bottom: 6px;
  //             }
  //           }
  //         }
  //       }
  //       &:nth-child(2) {
  //         margin: 24px 0 0 0;
  //         .signup-item__tit {
  //           margin: 24px 0 16px;
  //           p{
  //             font-size: 16px;
  //             line-height: 22px;
  //             &::before {
  //               background: url('#{$iconBsUrl}icon_company_people_mo.png') no-repeat center;
  //               width: 60px;
  //               background-size: 100%;
  //               height: 60px;   
  //               margin-bottom: 6px;
  //             }
  //           }
  //         }
  //       }
  //       .signup-item__des {
  //         padding: 16px 0 24px;
  //         p{
  //           font-size: 13px;
  //           line-height: 19px;
  //         }
  //         .button__wrap {
  //           padding: 16px 0 0;
  //           .btn-blue.btn-person {
  //             width: calc(100% - 13.334vw);
  //           }
  //           .btn-blue.btn-people {
  //             width: calc(100% - 13.334vw);
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
}
// 가입시 중계사 선택
.agency-list__wrap {
  .agency-list__search {
    padding: 32px 0 0;
    .form-item__content {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      margin-top: 0;
      .input {
        flex: 1;
      }
    }
  }
  .agency-list__selelect {
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    .agency-list__left {
      width: 50%;
      border-right:1px solid #ddd;
      height:214px;
      overflow: auto;
      li {
        margin:6px 0;
        @include fontoption(15px,#000,400,26px);
      }
      .nodata {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;          
        @include fontoption(14px,#999999,400,26px);
      } 
    }   
    .agency-list__right {
      width: 50%;      
      height:214px;
      overflow: auto;
      .nodata {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;          
        @include fontoption(14px,#999999,400,26px);
      }    
      ul {
        padding:0 16px;
      }  
      li {
        position: relative;
        margin:6px 0;
        @include fontoption(15px,#000,400,26px);
        .btn-only-icon-dell {
          border:0;
          background: none;
          padding:0;
          min-width: 12px;
          line-height: normal;
          width:12px;
          height:12Px;
          background-image: url('#{$iconBsUrl}/icon_dell.png');
          background-position: center center;
          background-repeat: no-repeat;
          position: absolute;
          right: 0;
          top:50%;
          transform: translateY(-50%);
        }
      }
    }           
  }
  .agency-list__select {
    dl {
      margin-top: 16px;
      border-top: 2px solid #DDD;
      dt {
        padding: 15px;
        height: 54px;
        text-align: center;
        padding: auto;
        @include fontoption(14px,#000,500,24px);
      }
      ul {
        height: 332px;
        border-top: 1px solid #dddddd;
        border-bottom: 2px solid #dddddd;
        overflow: auto;
          li {
            height: 66px;
            padding: 18px 20px;
            border-bottom: 1px solid #dddddd;
            @include fontoption(14px,#000,500,24px);
          }
      }
    }
  }
}
.agency-guide__graybox {
  padding: 16px 24px;
  height: 58px;
  background: #f8f8f8;
  border-radius: 8px;   
  margin-top: 24px;
}

// 약관 내용
.inner_agree {
  .h3_title {
    @include fontoption(18px,#666,700,30px);
  }
  span {
    @include fontoption(16px,#666,500,28px);
  }
  ul {
    margin-bottom: 30px;
    li {
      display: flex;
      flex-wrap: wrap;
      .list_num {
        width: 20px;
      }
      span {
        width: calc(100% - 30px);
        @include fontoption(14px,#666,400,26px);
      }
    }
    .sub_text {
      width: 100%;
      margin-bottom: 0;
      padding: 0 20px;
    }
    .bullet_list {
      width: 100%;
      margin-bottom: 0;
      padding: 0 20px;
      li:before {
        display: block;
        content: "";
        position: relative;
        margin-top: 13px;
        margin-right: 5px;
        width: 5px;
        height: 1px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background: #666;
      }
    }
  }
  .h5_desc {
    @include fontoption(14px,#666,600,26px);
  }
}

.api-item {
  display: flex;
  flex-direction: column;
  .api-input {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: auto;
  }
}
.input-item {
  &.ip {
    margin-bottom:0;
  }
}