//signup
@import "../components/ui/button.scss";  
.signup {
  width: 100%;
  max-width:628px;
  margin: 0 auto;
  .signup-title__wrap--top {
    text-align: center;
    .page-title {
      margin-bottom:12px;
    } 
    p {
      @include fontoption(16px,#000,400,26px);
    }
  }
  .signup__wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    .signup-item {
      width: 100%;
      border: 1px solid #ddd;
      border-radius: 8px;
      &:nth-child(1) {
        .signup-item__tit {
          margin: 32px 0 24px;
          p{
            @include fontoption(18px,#000,500,28px);
            text-align: center;
            span{
              color: $pointColor;
            }
            &::before {
              content: '';
              position: relative;
              display: block;
              margin: 0 auto;
              background: url('#{$iconBsUrl}icon_company_person.png') no-repeat center;  
              width: 64px;
              height: 64px;
              margin-bottom: 12px;
            }
          }
        }
      }
      &:nth-child(2) {
        margin-left: 24px;
        .signup-item__tit {
          margin: 32px 0 24px;
          p{
            @include fontoption(18px,#000,500,28px);
            text-align: center;
            span{
              color: $pointColor;
            }
            &::before {
              content: '';
              position: relative;
              display: block;
              margin: 0 auto;
              background: url('#{$iconBsUrl}icon_company_people.png') no-repeat center;  
              width: 64px;
              height: 64px;
              margin-bottom: 12px;
            }
          }
        }
      }
      .signup-item__des {
        background-color: #F8F8F8;
        text-align: center;
        padding: 32px 0 24px;
        border-radius: 0 0 8px 8px;
        p{
          @include fontoption(14px,#666,400,22px);
        }
      }
    }
  }
}

@media #{$phone} {
  .signup {
    max-width:100%;
    padding: 0 16px;
    .signup-title__wrap--top {
      .page-title {
        margin-bottom:10px;
      } 
      p {
        font-size: 14px;
        line-height: 24px;
      }
    }
    .signup__wrap {
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 32px;
      .signup-item {
        &:nth-child(1) {
          .signup-item__tit {
            margin: 24px 0 16px;
            p{
              font-size: 16px;
              line-height: 22px;
              &::before {
                background: url('#{$iconBsUrl}icon_company_person_mo.png') no-repeat center;
                width: 60px;
                background-size: 100%;
                height: 60px;  
                margin-bottom: 6px;
              }
            }
          }
        }
        &:nth-child(2) {
          margin: 24px 0 0 0;
          .signup-item__tit {
            margin: 24px 0 16px;
            p{
              font-size: 16px;
              line-height: 22px;
              &::before {
                background: url('#{$iconBsUrl}icon_company_people_mo.png') no-repeat center;
                width: 60px;
                background-size: 100%;
                height: 60px;   
                margin-bottom: 6px;
              }
            }
          }
        }
        .signup-item__des {
          padding: 16px 0 24px;
          p{
            font-size: 13px;
            line-height: 19px;
          }
          .button__wrap {
            padding: 16px 0 0;
            .btn-blue.btn-person {
              width: calc(100% - 13.334vw);
            }
            .btn-blue.btn-people {
              width: calc(100% - 13.334vw);
            }
          }
        }
      }
    }
  }
}
// 가입시 중계사 선택
.agency-list__wrap {
  .agency-list__search {
    padding: 32px 0 15px;
    .form-item__content {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      .input {
        flex: 1;
      }
    }
  }
  .agency-list__selelect {
    border-radius: 16px;
    border: 1px solid #ddd;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    .agency-list__left {
      width: 50%;
      border-right:1px solid #ddd;
      height:214px;
      overflow: auto;
      li {
        margin:6px 0;
        @include fontoption(15px,#000,400,26px);
      }
    }   
    .agency-list__right {
      width: 50%;      
      height:214px;
      overflow: auto;
      .nodata {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;          
        @include fontoption(14px,#999999,400,26px);
      }      
      li {
        position: relative;
        margin:6px 0;
        @include fontoption(15px,#000,400,26px);
      }
    }           
  }
}