.template-area {
    display:flex;
    gap: 50px;
    width: 100%;
    padding-top:50px;
    align-items: flex-start;
}
.template-components {
    .component-list{
        display:flex;
        flex-direction: column;
        gap:20px;
    }
    .template-item {
      width:326px;
      border-radius: 16px;
      box-sizing: content-box;
      background-color:#fafafa;
      position:relative;
        &.inactive {
            &:after {
                content: '';
                display:block;
                width:100%;
                height:100%;
                position:absolute;
                left: 0;
                top: 0;
                background:rgba(255, 255, 255, 0.5);
                cursor:not-allowed
            }
        }
    }
}
  
.template-preview {
  position:sticky;
  top:124px;
  width:326px;
  min-height:500px;
  background:#fff;
  border:1px solid #eaeaea;
  border-radius: 16px;
  display:flex;
  flex-direction: column;
  .component-list {
    display:flex;
    flex-direction: column;
    gap: 16px;
    align-content:center;
    height: 100%;
    width: 100%;
    flex: 1;
  }
  .template-item {
    background:0;
    border-radius: 0;
    &:last-child {
      > div {
        &.image-area {
          padding: 0;
          border-radius: 0 0 16px 16px;
        }
        &:not(.image-area) {
          padding-bottom:24px;
        }
      }
    }
    &:first-child {
      > div {
        &.image-area {
            padding:0;
            border-radius:16px 16px 0 0;
            overflow: hidden;
        }
        &:not(.image-area) {
          padding-top:20px;
        }
      }
    }
  }
}

.template-item {
  position:relative;
  .btn-del {
    position:absolute;
    left:-42px;
    top:50%;
    margin-top: -18px;
    background:#eee;
    border-radius:8px;
    width:36px;
    height:36px;
    font-size:12px;
    text-align:center;
    line-height:34px;
  }
  .btn-drag {
    position:absolute;
    right:-42px;
    top:50%;
    margin-top: -18px;
    background:#eee;
    border-radius:8px;
    width:36px;
    height:36px;
    font-size:12px;
    text-align:center;
    line-height:34px;
  }
  .image-area {
    overflow:hidden;
    border-radius: 6px;
    padding:0 20px;
    .image-item {
      img {
        display: block;
        height: auto;
        max-width: 100%;
      }
    }
  }

  .main-title {
    padding:0 20px;
    .title {
      padding-bottom:9px;
      border-bottom:3px solid #111;
      font-size: 19px;
      font-weight:700;
      line-height: 23px;
      display:flex;
      align-items:center;
      gap: 8px;
    }
    .thum {
      display:inline-block;
      width:24px;
      height:24px;
      flex: 0 0 24px;
      background-size:cover;
      background-position:50% 50%;
    }
  }
  .desc-area {
    padding:0 20px;
    .subtitle {
      font-size: 16px;
      font-weight: 700;
      line-height:24px;
      margin-bottom: 8px;
    }
    .description {
      font-size: 14px;
      line-height: 22px;
      display:flex;
      flex-direction: column;
      gap: 8px;
      dl {
        display:flex;
        flex-direction: row;
        align-items:center;
        font-size: 14px;
        line-height: 22px;
        dt {
          flex: 0 0 64px;
          font-weight: 700;
        }
      }
      .item {
        display:flex;
        align-items:center;
        gap: 16px;
        .desc-thum {
          display:inline-block;
          width: 64px;
          height: 64px;
          flex-shrink: 0;
          border-radius: 4px;
          background-size:cover;
          background-position: 50% 50%;
        }
      }
    }
    &.table {
      .description {
        gap:6px;
          dl {
          justify-content: space-between;
          dt {
            font-weight: 400;
          }
        }
      }
    }
  }
  .thums-area {
    display:flex;
    gap:12px;
    padding:0 20px;
    .thum {
      display:inline-block;
      width:82px;
      height: 82px;
      border-radius:6px;
      background-size:cover;
      background-position:50% 50%;
    }
  }
  .item-area {
    display:flex;
    align-items:center;
    gap: 16px;
    padding:0 20px;
    .desc-area {
      display:flex;
      flex-direction: column;
      gap: 4px;
      padding: 0 !important;

      &.reverse {
        flex-direction: column-reverse;
      }
      .text-main {
        font-weight: 700;
        font-size: 24px;
        line-height:28px;
      }
      .text-sub {
        color:#888;
        font-size:14px;
        line-height: 18px;
      }
    }
    .thum {
      display:inline-block;
      width: 56px;
      height: 56px;
      border-radius: 4px;
      background-size:cover;
      background-position:50% 50%;
      flex-shrink: 0;
    }

  }
  .notice-text {
    font-size: 12px;
    line-height: 16px;
    color:#888;
    padding:0 20px;
  }
  .button-area {
    display:flex;
    gap:8px;
    padding: 0 20px;
    &.vertical {
      flex-direction: column;
      .btn {
        flex:auto;
      }
    }
    .btn {
      flex: 1;
      background-color:#f8f8f8;
      color:#000;
      height:46px;
      padding:0 12px;
      font-size: 14px;
      font-weight: 500;
      border:1px solid#ddd;
    }
  }
  .banner-area {
    .banner {
      display:block;
      height: 60px;
      background-color:#B7B7B7;
      border-radius: 8px;
      overflow:hidden;
    }
  }
}


  // .chat-emulator__wrap {
  //   flex:0 0 360px;
  //   width: 360px;
  //   height: 740px;
  //   position:sticky;
  //   border-radius:16px;
  //   border:1px solid #eaeaea;
  //   background-color:#FCFCFC;
  //   padding:16px;
  // }
//   .chat-emulator {
//     display:flex;
//     flex-direction: column;
//     height: 100%;
//     .emulator-header {
//         flex:0 0 60px;
//         border-bottom: 1px solid #eaeaea;
//         display:flex;
//         justify-content: space-between;
//         align-items: center;
//         &__inner {
//             display:flex;
//             align-items:center;
//             gap: 8px;
//         }
//         .profile {
//             display:flex;
//             align-items: center;
//             gap:4px;
//             &__image {
//                 width: 32px;
//                 height: 32px;
//                 img {
//                     width:100%;
//                     height: 100%;
//                 }
//             } 
//             .chatroom-name {
//                 padding-left:4px;
//                 font-size: 16px;
//                 font-weight: 700;
//                 line-height: 24px;
//             }
//         }
//         button {
//             width: 24px;
//             height: 24px;
//             background-repeat: no-repeat;
//             background-position: 50% 50%;
//             &.btn-back {
//                 background-image:url('../assets/images/cmp/btn_prev.png');
//             }
//             &.btn-more {
//                 background-image:url('../assets/images/cmp/btn_more.png');
//                 &.open {
// 									background-image: none;
// 								}
//             }
//             &.btn-down {
//                 background-image:url('../assets/images/cmp/chevron_down.png');
// 								&.open {
// 									transform: rotate(180deg);    
// 									transition: all 0.3s;
// 								}
//             }
//         }
//     }
//     .emulator-body {
//         flex: auto;
//         padding:12px 0;
//         .chat-date {
//             font-size:12px;
//             line-height: 18px;
//             color:#888;
//             text-align:center;
//             margin-bottom:20px;
//         }
//         .chat-bubble__wrap {
//             display:flex;
//             align-items:flex-end;
//             justify-content: flex-start;
//             margin:20px 0;
//             .chat-time {
//                 font-size:12px;
//                 color:#888;
//                 line-height: 18px;
//                 flex-shrink: 0;
//                 margin-left:4px;
//             }
//             &.receiver {
//                 justify-content: flex-end;
//                 flex-direction: row-reverse;
//                 .chat-time {
//                     margin:0 4px 0 0;
//                 }
//             }
//             .swiper-slide {
//                 width: auto;
//             }
            
//         }
//         .chat-bubble {
//             padding: 16px;
//             border:1px solid #eaeaea;
//             background-color:#fff;
//             border-radius: 16px;
//             width: 258px;
//             box-sizing: border-box;
//             p {
//                 font-size: 14px;
//                 line-height: 22px;
//             }
//         }
//     }
//     .emulator-footer {
//         flex: 0 0 54px;
//         display:flex;
//         align-items: center;
//         &__inner {
//             display:flex;
//             align-items:center;
//             width:100%;
//             gap: 8px;
//             .input {
//                 position:relative;
//                 flex: auto;
//                 input {
//                     height: 38px;
//                     border-radius: 100px;
//                     padding:8px 36px 8px 16px;
//                 }
                
//             }
//             button {
//                 width: 24px;
//                 height: 24px;
//                 background-repeat: no-repeat;
//                 background-position: 50% 50%;
//                 background-color:transparent;
//                 &.btn-photo {
//                     background-image:url('../assets/images/icon/icon_emulator_photo.png')
//                 }
//                 &.btn-camera {
//                     background-image:url('../assets/images/icon/icon_emulator_camera.png')
//                 }
//                 &.btn-plus {
//                     background-image:url('../assets/images/icon/icon_emulator_plus.png')
//                 }
//                 &.btn-emoji {
//                     position:absolute;
//                     right: 8px;
//                     top: 7px;
//                     background-image:url('../assets/images/icon/icon_emulator_emoji.png')
//                 }
//             }
//         }
//     }
// }