// 전역으로 사용되는 mixin 등 전역 변수 정의
//반응형
$phone: "only screen and (max-width : 769px)";
$phone480: "only screen and (max-width : 480px)";
$phone360: "only screen and (max-width : 360px)";
$phonemini: "only screen and (max-width : 320px)";
$notebook: "screen and (max-width : 1366px)";
$tablet: "screen and (max-width : 1024px)";
$desktop: "screen and (min-width : 769px)";
$desktop1025: "screen and (min-width : 1025px)";

//폰트 
@mixin fontoption($font-tsize, $font-color, $font-weight,$line-height) {
    font-family: $font-family;
    font-size: $font-tsize;
    color: $font-color;
    font-weight: $font-weight;
    line-height: $line-height;
    letter-spacing: normal;
    font-style: normal;
    font-feature-settings: 'pnum' on, 'lnum' on;                        
}

//긴 문장 처리
@mixin ellipsis($line: 1) {
    @if ($line == 1) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    } @else {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: $line;
    }
}

//color values
$defaultColor: #000000;
$pointColor: #2F77FB;
$grayColor: #DDDDDD;
$errorColor: #FF4830;

//23.05.10 남다현 & 스크롤 스타일 수정 (textarea 안 스크롤 작업으로 인해 변경)
:-webkit-scrollbar {
    width: 10px;
    height: 10px
}
::-webkit-scrollbar-track,::-webkit-scrollbar-track-piece {
    background-color: none
}
::-webkit-scrollbar-button,::-webkit-scrollbar-thumb {
    background-color: none
}
::-webkit-scrollbar-button:end,::-webkit-scrollbar-button:start {
    background-color: none
}
::-webkit-resizer,::-webkit-scrollbar-corner {
    background-color: #d3d3d3;
}
::-webkit-scrollbar-track {
    background: #fff
}
::-webkit-scrollbar-thumb {
    background: rgba(101,106,118,.3);
    border-radius: 10px;
}
.textarea textarea::-webkit-scrollbar {
    width: 3px
}
.textarea textarea::-webkit-scrollbar-button:decrement,.textarea textarea::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 0
}
.textarea textarea::-webkit-scrollbar-track {
    background: #dedede
}
.textarea textarea::-webkit-scrollbar-thumb {
    height: 20px;
    width: 3px;
    background: #6f6f6f
}