@charset "utf-8";
/* CSS Document */

	.claim_wrap {padding:  0 10px 25px; margin-top: 50px;}
	.claim_wrap > .title_area { padding: 14px 20px 16px 30px; position: fixed; z-index: 1; font-weight: 500; color:#333; font-size: 18px;background-color:#f4f4f4; box-sizing: border-box; width:calc(100% + 40px); margin:0 -20px; left:0; right:0; top:0; }
	.claim_wrap > .title_area::before {display:none}
    .claim_wrap > .title_area > .title_text {position:absolute; width:auto; display:inline-block; margin:0 auto; left:50%; top:50%; transform: translate(-50%, -50%);}    
	.claim_wrap > p {font-size:16px; padding:20px 0  16px 0; color:#777; font-weight: 500; max-width:100%;}
	.claim_wrap > p > .subtitle {font-size:18px; padding-bottom:5px; color:#555; font-weight: 500; display: block; clear:both;}
    

    .claim_wrap ul {padding:10px 0; }
    .claim_wrap ul li {font-size:14px; color:#888; padding:5px 0 5px 16px; font-weight: 300; background: url('./image/mobile/ico-dot.png') no-repeat; background-position: left top 14px;  background-size:4px; }
	
	.claim_wrap > .BtnsSTyle > a { 
		position: relative; display: block; cursor: pointer;
		border: 1px solid #929292; margin-bottom: 10px; border-radius:12px;height: 49px; padding: 0 20px 0 30px;
		line-height: 44px; overflow: hidden; box-sizing: border-box;
		-webkit-tap-highlight-color:transparent;
		font-size: 17px;color:#333; font-weight: 500;
		background: url('./image/mobile/icon_list_next.svg') no-repeat; 
		background-position: right 12px top 11px; background-size: 24px;
	}
	.claim_wrap > .BtnsSTyle > a:hover { border:1px solid #666; background-color:rgba(50, 50, 50, 0.1);}
	.claim_wrap > .BtnsSTyle > a:focus { border:1px solid #666; background-color:rgba(50, 50, 50, 0.1);}
	
	.icon_back {
		background:url("./image/mobile/icon_back_header.svg") no-repeat;width:4rem; 
		background-position: left 0px center; background-size: 20px; padding-left: 25px; line-height: 100%;}
    .icon_back > span {display:none;}

	.claim_wrap > .etc { background: #fff; border:2px solid #111; border-radius: 12px; height: 215px;}

	.claim_wrap > .etc > .count { position: absolute; margin-top:188px; right:35px;  padding: 0px; display: block; width: calc(100% - 90px) ; text-align-last: right; color:#b8b8b8; font-size: 14px;   }	
	.claim_wrap > .etc > .count span {color:#000; font-weight: bold;font-size: 14px;}
	.claim_wrap > .etc > textarea {background: #fff;border:none;  outline: none;padding: 15px; border-radius: 12px; width:100%; color:#111; height: 180px; box-sizing: border-box; font-size: 16px ;}

	.claim_wrap > .etc > textarea:focus {background: #fff;border:none; outline: none; color:#111; }

	.claim_wrap > .etc > textarea::placeholder {
		  color: #b8b8b8; font-size: 16px;
		  font-weight: 500;
		}


/*체크박스 디자인*/
.wrapCheck  {padding:20px 0 5px 20px;}

.wrapCheck input[type="checkbox"]{ 
	position:absolute; 
    width:1px; 
    height:1px; 
    padding:0; 
    margin:-1px; 
    overflow:hidden; 
    clip:rect(0,0,0,0); 
    border:0; 
}
.wrapCheck input[type="checkbox"] + label{ 
	display:inline-block; 
    position:relative; 
    padding-left:32px; padding-right:20px; padding-bottom: 20px; padding-top: 3px; font-size: 16px; letter-spacing: -0.05em;
    cursor:pointer; 
}
.wrapCheck input[type="checkbox"] + label:before{ 
	content:''; 
    position:absolute; 
    left:0; 
    top:3px; 
    width:22px; 
    height:22px;  border-radius: 50%;
    text-align:center; 
    background:#fff; 
    border:1px solid #ccc; 
    box-sizing:border-box; 
}

/* 보여질 부분의 스타일을 추가하면 된다. */
.wrapCheck input[type="checkbox"]:checked + label:after{ 
	content: ''; 
    position:absolute; 
    top:3px; 
    left:0; 
    width:22px; 
    height:22px;  border-radius: 50%;
	background: url("./image/mobile/icon_checkbtn.svg") no-repeat center; background-size: 80%;
    background-color:#0094ff;
}



/* 하단 버튼 */
.footerBtn { position:fixed; bottom: 0; left:0;margin:	0;width:100%;height: 54px;  font-size:18px; font-weight: 500; }
.footerBtn.blue { background: #0094ff; color:#fff; }
.footerBtn.blue:focus { background: #0063ab; color:#fff; }
.footerBtn.blue:disabled { background: #ddd; color:#f9f9f9; }


/*모달 팝업  */



.ico-info { position: fixed; right:13px; margin-top: -40px; cursor: pointer; background:url("./image/mobile/ico_question.svg") no-repeat; width:30px; height:30px; background-size:26px; z-index: 2}
.ico-info > span { display:none;}


  #modal.modal-overlay {
            width: 100%;
            height: 100%;
            position: fixed;
            left: 0;
            top: 0;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(0, 0, 0, 0.5);
            /*box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);*/
            border-radius: 0px; z-index: 3;
        }

        #modal .modal-window {
            box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.3 );
            backdrop-filter: blur( 13.5px );
            -webkit-backdrop-filter: blur( 13.5px );
            border-radius: 10px;
            width:84vw;
            height:auto;
            position: fixed;
            left:50%; top:50%;
            transform: translate(-50%, -50%)
        }
        
        #modal .close-area {
            position: absolute; right:-8px; margin-top: -8px;
            cursor: pointer; background: url("./image/mobile/icon_modal_close.svg") no-repeat; width:30px;height:30px; background-size: 30px;
        }

		#modal .close-area > span {
            display:none;
        }
        
/* Start : add _alert popup */
        #modal .modal-window.alertTY01 {
            background-color: #fff;;
            box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.3 );
            backdrop-filter: blur( 13.5px );
            -webkit-backdrop-filter: blur( 13.5px );
            border-radius: 2rem;
            width:84vw;
            height:auto;
            position: fixed;
            left:50%; top:50%;
            transform: translate(-50%, -50%);
            padding: 0.8rem; box-sizing: border-box;
        }


        #modal .modal-window.alertTY01 .messages {
           box-sizing: border-box; padding:0.8rem 0.8rem 0; text-align: center; 
        }

        #modal .modal-window.alertTY01 .messages .title { display: block; text-align: left;line-height: 130%; font-size: 1.1rem; color:#222; padding-bottom: 0.5rem;
        }
        #modal .modal-window.alertTY01 .messages .desc  { display: block; text-align: left;line-height: 130%; font-size: 0.95rem; color:#555;
        }


        #modal .modal-window.alertTY01 .btns { border-radius: 0 0 20px;
            display: flex; flex-wrap:nowrap; justify-content:space-between;align-items:center; width:100%; padding:1.5rem 0 1rem 0; box-sizing: border-box;
         } /*border-top: 1px solid #e8e8e8; */

         #modal .modal-window.alertTY01 .btns a:nth-child(1) {color:#111; font-size: 1.25rem; text-align: center; width:40%;height: 1.2rem;
         }
         #modal .modal-window.alertTY01 .btns a:nth-child(2) {border-left: 1px solid #e8e8e8; color:#111; font-size: 1.25rem;text-align: center; width:60%;height: 1.2rem;
         }


/* end  : add _alert popup  blue :#0094ff;  */

.claim_result { position:absolute; left:50% ; top:50%; transform: translate(-50% , -50%); 
	background: #f2f4f6; padding: 25px 0 35px 0; text-align: center; font-size:18px; width:calc(100% - 40px); height: auto; color:#333; border-radius: 12px; box-sizing: border-box;}


.claim_result img { width:50%; display: inline-block;  box-sizing: border-box;  margin: 20px 0 20px 0;  clear:both;}
.Landscape1 { height:80vh; overflow:scroll;}



@media (orientation: portrait) {
	/* Portrait 모드일 때 적용할 CSS */
    .img_portrait { display: block;}
    .img_landscape {display: none;}
    
}

@media (orientation: landscape) {
	/* Landscape 모드일 때 적용할 CSS */
    .img_portrait { display: none;}
    .img_landscape {display: block;}
    
    
}



